<body [class.sidebar-visible]="showSidebar">
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container mt-5">
          <a href="javascript:history.back()" class="back-link">
            <i class="fas fa-arrow-left back-icon"></i>
          </a>
          <h2 class="order-header text-center mb-4">
            Đơn hàng tại quán <span class="highlight">({{ tableLable }})</span>
          </h2>
          <div *ngIf="errorMessage" class="alert alert-danger" style="max-width: 500px;">
            {{ errorMessage }}
          </div>
          <div *ngIf="successMessage" class="alert alert-success" style="max-width: 500px;">
            {{ successMessage }}</div>

          <div class="row">
            <!-- Left column for address and cart details -->
            <div class="col-md-6">
              <!-- Address Selection -->
              <div *ngIf="reservationData=== null">
                <div class="input-group mb-3" (clickOutside)="showDropdown = false">
                  <input type="text" class="form-control" placeholder="Select address..." (click)="toggleDropdown()"
                    [(ngModel)]="selectedAddress" readonly>
                  <div class="dropdown-menu dropdown-scrollable" [ngClass]="{'show': showDropdown}"
                    [style.zIndex]="1000">
                    <div class="search-container p-2">
                      <input type="text" class="form-control search-input" placeholder="Search..."
                        [(ngModel)]="searchTerm" (click)="$event.stopPropagation()" (input)="filterAddresses()">
                    </div>
                    <button class="dropdown-item text-left" *ngIf="!searchTerm"
                      (click)="selectKhachLe(); $event.stopPropagation();">
                      Khách lẻ
                    </button>
                    <button class="dropdown-item text-left" *ngFor="let address of filteredAddresses"
                      (click)="selectAddress(address); $event.stopPropagation();">
                      {{ address.consigneeName }} - {{ address.guestPhone }}
                    </button>
                  </div>
                  <button class="btn btn-outline-secondary ml-2" type="button" data-bs-toggle="modal"
                    data-bs-target="#formModalaa">
                    <i class="fas fa-user"></i>
                  </button>
                </div>
              </div>

              <div *ngIf="reservationData !== null" class="input-group mb-3">
                <span class="input-group-text">Tên Khách:</span>
                <input type="text" class="form-control"
                  [value]="reservationData?.consigneeName ? reservationData?.consigneeName : 'Khách lẻ'" readonly>

                <span class="input-group-text">Điện Thoại:</span>
                <input type="text" class="form-control"
                  [value]="reservationData?.guestPhone ? reservationData.guestPhone : '-------------'" readonly>
              </div>


              <!-- Selected Items Section -->
              <div class="cart-section mt-4">
                <h4>Thông tin</h4>
                <div *ngIf="selectedItems.length === 0" class="alert alert-info" role="alert">
                  Chưa có lựa chọn nào
                </div>
                <table class="table">
                  <thead>
                    <tr *ngIf="selectedItems.length > 0">
                      <th scope="col">Tên món</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Giá món</th>
                      <th scope="col">Tổng</th>
                      <th scope="col"></th> <!-- Column for delete button -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of selectedItems; let i = index">
                      <td>
                        <div class="d-flex align-items-center">
                          <img [src]="item.imageUrl" alt="Item image" class="img-thumbnail me-2"
                            style="width: 70px; height: 50px;">
                          <p class="mb-0">
                            <span class="clickable-item" (click)="openNoteDialog(item)">
                              {{ item.itemName }}
                            </span>
                            <span *ngIf="item.nameCombo">
                              {{ item.nameCombo }}
                            </span>
                          </p>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <!-- Decrease Button -->
                          <button class="btn btn-outline-secondary btn-sm" (click)="decreaseQuantity(i)">-</button>
                          
                          <!-- Quantity Input Field -->
                          <input type="number"
                            class="form-control text-center small-input mx-2 no-spinners rounded-input"
                            [(ngModel)]="item.quantity"
                            (change)="validateQuantity(i)"
                            min="1"
                            [max]="getMaxQuantity(item)"
                            [readonly]="item.quantity >= getMaxQuantity(item)">
                          
                          <!-- Increase Button -->
                          <button class="btn btn-outline-secondary btn-sm"
                            (click)="increaseQuantity(i)"
                            [disabled]="item.quantity >= getMaxQuantity(item)">+</button>
                        </div>
                      </td>
                      
                      <td>
                        <div *ngIf="item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.discountedPrice | currencyFormat }}</span>
                        </div>
                        <div *ngIf="!item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.price | currencyFormat }}</span>
                        </div>
                      </td>
                      <td>{{ item.totalPrice | currencyFormat }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
                          <i class="fas fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="selectedItems.length > 0" class="mt-2">
                  <strong>Tạm tính:</strong>
                  {{ totalAmount | currencyFormat }}
                  <br>
                </div>
                <!-- <button class="btn btn-primary btn-sm" (click)="openDiscountDialog(item)"> -->
                <button class="btn btn-primary btn-sm" *ngIf="selectedItems.length > 0" data-bs-toggle="modal"
                  data-bs-target="#discountModal" (click)="LoadActiveDiscounts()">
                  <i class="fas fa-tags me-2"></i> <!-- Biểu tượng Font Awesome -->
                  Khuyến mãi
                </button>
                <div *ngIf="selectedDiscount" class="mt-2">
                  <strong style="margin-right: 5px;">Giảm giá:</strong>
                  <span>{{ totalAmount - totalAmountAfterDiscount | currencyFormat }}</span>
                  <span style="margin-left: 10px;">({{ selectedDiscountName }} - {{ selectedDiscountPercent | percentage
                    }})</span>
                </div>
                <br>
                <hr>
                <div *ngIf="selectedItems.length > 0" class="mt-2">
                  <strong>Tổng số tiền:</strong>
                  <span *ngIf="selectedDiscount === null">
                    {{ totalAmount | currencyFormat }}
                  </span>

                  <span *ngIf="selectedDiscount !== null">
                    {{ totalAmountAfterDiscount | currencyFormat }}
                  </span>
                </div>
                <div *ngIf="selectedItems.length > 0" class="d-grid gap-3">
                  <button type="button" class="btn custom-btn-success btn-lg rounded-pill" data-bs-toggle="modal"
                    data-bs-target="#paymentModal">
                    Tạo đơn
                  </button>
                  <button class="btn custom-btn-danger btn-lg rounded-pill" (click)="clearCart()">
                    Hủy
                  </button>
                </div>

              </div>
              <!-- Discount Modal -->
              <div class="modal fade" #formModal id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="discountModalLabel">Chọn giảm giá</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body-discount">
                      <ul class="list-group">
                        <li *ngFor="let discounts of discount" class="list-group-item list-group-item-action">
                          <label class="d-flex align-items-center w-100">
                            <input type="radio" name="selectedDiscount" [value]="discounts.discountId"
                              [checked]="selectedDiscount === discounts.discountId"
                              (click)="onDiscountSelect(discounts.discountId)" class="me-2"
                              style="width: 20px; max-width: 20px;" />
                            <div class="discount-details">
                              <div class="discount-left">
                                {{ discounts.discountName }}
                              </div>
                              <div class="discount-right">
                                Giảm {{ discounts.discountPercent | percentage }} cho đơn hàng
                                <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                  (Đơn tối thiểu {{ discounts.totalMoney | currencyFormat }})
                                </span>
                                <span *ngIf="discounts.quantityLimit > 0" class="discount-info">
                                  (Đã dùng {{ discounts.quantityLimit }})
                                </span>
                                <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                  (Hạn sử dụng {{ discounts.endTime | date:'dd/MM/yyyy' }})
                                </span>
                              </div>
                            </div>
                          </label>
                        </li>
                        <li *ngFor="let discounts of discountInvalid"
                          class="list-group-item list-group-item-action disabled-discount">
                          <label class="d-flex align-items-center w-100">
                            <input type="radio" name="selectedDiscount" [value]="discounts.discountId" disabled
                              class="me-2" style="width: 20px; max-width: 20px;" />
                            <div class="discount-details">
                              <div class="discount-left">
                                {{ discounts.discountName }}
                              </div>
                              <div class="discount-right">
                                Giảm {{ discounts.discountPercent | percentage }} cho đơn hàng
                                <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                  (Đơn tối thiểu {{ discounts.totalMoney | currencyFormat }})
                                </span>
                                <span *ngIf="discounts.quantityLimit > 0" class="discount-info">
                                  (Còn lại: {{ discounts.quantityLimit - discounts.usedCount}} mã giảm giá)
                                </span>
                                <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                  (Hạn sử dụng: Từ {{ discounts.startTime | date:'dd/MM/yyyy' }} đến {{
                                  discounts.endTime | date:'dd/MM/yyyy' }})
                                </span>
                              </div>
                            </div>
                          </label>
                        </li>
                      </ul>
                      <div *ngIf="discount && discount.length < 1 && discountInvalid.length <1">
                        <span>Không có mã khuyến mại</span>
                      </div>
                    </div>


                    <!-- applyDiscount() -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="applyDiscount()">Áp dụng</button>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                        (click)="clearSelectedDiscount()">Đóng</button>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Confirmation Modal -->
              <div #formModal class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
                aria-labelledby="confirmModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="confirmModalLabel">Xác nhận đơn hàng</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      Bạn có chắc chắn muốn tạo đơn hàng này không?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                      <button type="button" class="btn btn-primary" (click)="confirmOrder()">Xác nhận</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <!-- Right column for dishes and combos -->
            <div class="col-md-6">
              <div class="category-buttons-container">
                <div class="category-buttons">
                  <button *ngFor="let category of categories" class="btn"
                    [class.btn-primary]="selectCategory !== category.categoryName"
                    [class.btn-secondary]="selectCategory === category.categoryName" 
                    (click)="selectCategory(category.categoryName)">
                    {{ category.categoryName }}
                  </button>
                  <button class="btn" 
                    [class.btn-primary]="!showingCombos" 
                    [class.btn-secondary]="showingCombos"
                    (click)="showCombos()">Combo
                  </button>
                </div>
              </div>

              <div class="search-bar mt-3 mb-4">
                <input type="text" class="form-control" placeholder="Tìm kiếm món ăn..." [(ngModel)]="search"
                  (input)="onSearch()">
              </div>

              <!-- Dishes Section -->
              <div class="dishes-section" *ngIf="showingDishes && dishes" style="max-height: 400px; overflow-y: auto;">
                <div class="row">
                  <ng-container *ngFor="let list of dishes">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let dish of list.items">
                      <div class="card h-100 shadow-sm dish-card" 
                           [ngClass]="{'out-of-stock': dish.quantityDish === 0 || dish.quantityDish === null}"
                           (click)="dish.quantityDish > 0 ? addItem(dish) : null">
                        <div class="image-container">
                          <img class="card-img-top" [src]="dish.imageUrl" alt="Dish image">
                        </div>
                        <div class="card-body text-center">
                          <div class="dish-details">
                            <div class="dish-name font-weight-bold mb-2">{{ dish.itemName }}</div>
                            <div *ngIf="dish.discountedPrice" class="dish-price">
                              <span class="text-decoration-line-through text-muted">{{ dish.price | currencyFormat }}</span>
                              <br>
                              <span class="text-danger">{{ dish.discountedPrice | currencyFormat }}</span>
                            </div>
                            <div *ngIf="!dish.discountedPrice" class="dish-price font-weight-bold">{{ dish.price | currencyFormat }}</div>
                          </div>
              
                          <!-- Display Remaining Quantity -->
                          <div class="remaining-quantity mt-3">
                            <span *ngIf="dish.quantityDish > 0" class="text-muted">Còn lại: {{ dish.quantityDish }} món</span>
                            <span *ngIf="dish.quantityDish === 0 || dish.quantityDish === null" class="text-danger">Hết hàng</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              

              <!-- Combos Section -->
              <div class="combos-section" *ngIf="showingCombos && combo">
                <div class="scrollable-combos">
                  <div class="row">
                    <ng-container *ngFor="let list of combo">
                      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let cb of list.items">
                        <!-- Conditionally add 'out-of-stock' class based on quantityCombo -->
                        <div class="card h-100" 
                             [ngClass]="{'out-of-stock': cb.quantityCombo === 0 || cb.quantityCombo === null}"
                             (click)="addItem(cb)">
                          <div class="image-container">
                            <img class="card-img-top" [src]="cb.imageUrl" alt="Combo image">
                          </div>
                          <div class="card-body text-center">
                            <div class="combo-details">
                              <div class="combo-name">{{ cb.nameCombo }}</div>
                              <div class="combo-price">{{ cb.price | currencyFormat }}</div>
                            </div>
                            <!-- Display Remaining Quantity -->
                            <div class="remaining-quantity mt-3">
                              <span *ngIf="cb.quantityCombo > 0" class="text-muted">Còn lại: {{ cb.quantityCombo }} món</span>
                              <span *ngIf="cb.quantityCombo === 0 || cb.quantityCombo === null" class="text-danger">Hết hàng</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                    </div>
                </div>
              </div>
            </div>


          </div>
        </div>


        <!-- Modal -->
        <div #formModal class="modal fade" id="formModalaa" tabindex="-1" role="dialog" aria-labelledby="formModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Thông tin khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form #form="ngForm" (ngSubmit)="createAddress()">
                  <div class="form-group">
                    <label for="customerNameForm">Tên khách hàng</label>
                    <input type="text" [(ngModel)]="newAddress.consigneeName" class="form-control" id="customerNameForm"
                      placeholder="Nhập tên khách hàng" name="consigneeName" required #consigneeName="ngModel" />
                    <div *ngIf="consigneeName.invalid && (consigneeName.dirty || consigneeName.touched)"
                      class="text-danger">
                      <div *ngIf="consigneeName.errors?.['required']">Tên khách hàng là bắt buộc.</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="guestPhone">Số điện thoại</label>
                    <input type="tel" [(ngModel)]="newAddress.guestPhone" class="form-control" id="guestPhone"
                      placeholder="Nhập số điện thoại" name="guestPhone" required #guestPhone="ngModel" />
                    <div *ngIf="guestPhone.invalid && (guestPhone.dirty || guestPhone.touched)" class="text-danger">
                      <div *ngIf="guestPhone.errors?.['required']">Số điện thoại là bắt buộc.</div>
                      <div *ngIf="guestPhone.errors?.['pattern']">Số điện thoại không hợp lệ.</div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveAddress()">Lưu
                      lại</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>



        <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="paymentModalLabel">Thông tin đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="mb-4">
                  <table id="items" class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên món</th>
                        <th scope="col">SL</th>
                        <th scope="col">Giá món</th>
                        <th scope="col">Thành tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of selectedItems; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>
                          {{ item.itemName }}
                          <span *ngIf="item.nameCombo" class="text-muted">({{ item.nameCombo }})</span>
                        </td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.discountedPrice || item.price | currencyFormat }}</td>
                        <td>{{ item.totalPrice | currencyFormat }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="mt-4">
                  <strong>Tạm tính:</strong> {{ totalAmount | currencyFormat }}
                </div>
                <div class="mt-2" *ngIf="selectedDiscount">
                  <strong>Giảm giá:</strong>
                  <span>{{ selectedDiscountName }} ({{ selectedDiscountPercent | percentage }})</span>
                </div>
                <div class="mt-2" *ngIf="selectedDiscount">
                  <strong>Số tiền giảm:</strong>
                  <span>{{ totalAmount - totalAmountAfterDiscount | currencyFormat }}</span>
                </div>
                <hr>
                <div class="mt-2">
                  <strong>Tổng số tiền:</strong>
                  <span *ngIf="selectedDiscount === null">
                    {{ totalAmount | currencyFormat }}
                  </span>
                  <span *ngIf="selectedDiscount !== null">
                    {{ totalAmountAfterDiscount | currencyFormat }}
                  </span>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <!-- chỗ này phải là phải update guest từ reservation vào đây -->
                <button *ngIf="reservationData === null" type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#cfpaymentModal" (click)="createOrderOffline(this.tableId)">Xác nhận</button>

                <button *ngIf="reservationData !== null" type="button" class="btn btn-primary" data-bs-toggle="modal"
                  data-bs-target="#cfpaymentModal" (click)="createOrderReservation(this.tableId)">Xác nhận</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Template for cffff -->
        <div class="modal fade" #formModal id="cfpaymentModal" tabindex="-1" aria-labelledby="cfpaymentModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <!-- Success message -->
              <div class="text-center mb-3">
                <div class="d-flex justify-content-center align-items-center flex-column">
                  <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-check-circle"
                    viewBox="0 0 16 16">
                    <path
                      d="M8 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5.586l-3-3a.5.5 0 0 1 .707-.707L7 9.293l4.646-4.647a.5.5 0 0 1 .708.707l-5 5a.5.5 0 0 1-.708 0z" />
                  </svg>
                  <h4 class="mt-2">Tạo đơn hàng thành công</h4>
                </div>
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                  (click)="clearCart()">Đóng</button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>