<body>
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="container-fluid">
    <div class="row" style="height: 850px">
      <!-- Sidebar -->

      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <app-SidebarOrder></app-SidebarOrder>
      </nav>

      <!-- Main content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container mt-5">
          <!-- <a href="javascript:history.back()" class="back-link">
            <i class="fas fa-arrow-left back-icon"></i>
          </a> -->
          <h1 class="text-center mb-4 heading-styled">Quản lý đơn hàng</h1>
          <!-- Buttons and search bar -->
          <div class="mb-3">
            <div class="input-group" style="max-width: 400px;">
              <input type="text" class="form-control" placeholder="Tìm kiếm..." aria-label="Search"
                aria-describedby="button-addon2" [(ngModel)]="search">
              <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="onSearch()">Tìm
                kiếm</button>
            </div>
          </div>

          <!-- Select filters -->
          <div class="row mb-3">

            <div class="col-md-3">
              <div class="input-group">
                <label class="input-group-text" for="dateFrom">Từ ngày</label>
                <input type="date" id="dateFrom" class="form-control" [(ngModel)]="dateFrom" [max]="dateTo"
                  (change)="onDateFromChange()">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <label class="input-group-text" for="dateTo">Đến ngày</label>
                <input type="date" id="dateTo" class="form-control" [(ngModel)]="dateTo" [max]="dateNow"
                  (change)="onDateToChange()">
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <label class="input-group-text" for="status">Trạng thái</label>
                <select id="status" class="form-select" [(ngModel)]="selectedStatus" (change)="onSearch()">
                  <option value="0">Tất cả</option>
                  <option *ngFor="let status of statuses" [value]="status.value">{{ status.text }}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="input-group">
                <label class="input-group-text" for="type">Loại đơn</label>
                <select id="type" class="form-select" [(ngModel)]="selectedType" (change)="onSearch()">
                  <option value="0">Tất cả</option>
                  <option *ngFor="let type of types" [value]="type.value">{{ type.text }}</option>
                </select>
              </div>
            </div>
          </div>

          <!-- Orders Table -->
          <table class="table table-striped table-hover">
            <thead class="table-header-light">
              <tr>
                <th scope="col">Mã đơn hàng</th>
                <th scope="col">Tên khách hàng</th>
                <th scope="col">Số điện thoại</th>
                <th scope="col">Thời gian đặt hàng</th>
                <th scope="col">Tổng tiền</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">##</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let orderList of orders;">
                <tr *ngFor="let order of orderList.items;">
                  <td>{{ order.orderId }}</td>
                  <td>{{ order.consigneeName || 'Khách lẻ' }}</td>
                  <td>{{ order.guestPhone || '------------' }}</td>
                  <td>{{ order.orderDate | dateFormat }}</td>
                  <td>{{ (order.totalAmount - (order.totalAmount * order.discountPercent /100) )| currencyFormat }}</td>
                  <td>
                    <span [ngStyle]="{'color': getStatusColor(order.status), 'font-weight': 'bold'}">
                      {{ getStatusText(order.status) }}
                    </span>
                  </td>


                  <td>
                    <button type="button" class="btn btn-info btn-sm me-2" data-bs-toggle="modal"
                      data-bs-target="#viewOrderModal" (click)="loadListOrderDetails(order.orderId)">
                      Chi tiết
                    </button>
                    <button
                      *ngIf="(order.paymentStatus === 0 || order.paymentStatus === 2) && order.status === 3 && account?.role === 'OrderStaff'"
                      type="button" class="btn btn-warning btn-sm" (click)="updateOrder(order.orderId)">
                      Cập nhật
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>

          </table>

          <!-- Pagination -->
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
              <li class="page-item" [class.disabled]="currentPage === 1">
                <a class="page-link" (click)="onPageChange(currentPage - 1)">Trước</a>
              </li>
              <li class="page-item" *ngFor="let page of totalPagesArray" [class.active]="page === currentPage">
                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
              </li>
              <li class="page-item" [class.disabled]="currentPage === totalPagesArray.length">
                <a class="page-link" (click)="onPageChange(currentPage + 1)">Sau</a>
              </li>
            </ul>
          </nav>
        </div>

        <!-- Modal chi tiết đơn hàng -->
        <div class="modal fade" id="viewOrderModal" tabindex="-1" aria-labelledby="viewOrderModalLabel"
          aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="viewOrderModalLabel">Thông tin đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div *ngIf="orderDetail; else loadingOrError">
                  <div class="mb-3">
                    <span class="fw-bold">Mã đơn hàng:</span> {{ orderDetail.orderId || 'Khách lẻ' }}
                  </div>
                  <div class="mb-3">
                    <span class="fw-bold">Loại đơn: </span>
                    <ng-container [ngSwitch]="orderDetail.type">
                      <span *ngSwitchCase="1">Đơn mang về</span>
                      <span *ngSwitchCase="2">Đơn đặt ship</span>
                      <span *ngSwitchCase="3">Đơn đặt bàn trước</span>
                      <span *ngSwitchCase="4">Đơn ăn tại quán</span>
                      <span *ngSwitchDefault>Khách lẻ</span>
                    </ng-container>
                  </div>

                  <div *ngIf="orderDetail.tables && orderDetail.tables.length > 0" class="mb-3">
                    <span class="fw-bold">Bàn:</span> {{ getTablesAsString() }}
                  </div>
                  <div *ngIf="tableLabels && tableLabels.length > 0" class="mb-3">
                    <span class="fw-bold">Bàn:</span> {{ this.tableLabels }}
                  </div>



                  <div class="mb-3">
                    <span class="fw-bold">Trạng thái đơn: </span>
                    <ng-container [ngSwitch]="orderDetail.status">
                      <span *ngSwitchCase="1">Đang chờ</span>
                      <span *ngSwitchCase="2">Đã chấp nhận</span>
                      <span *ngSwitchCase="3">Đang phục vụ</span>
                      <span *ngSwitchCase="4">Hoàn thành</span>
                      <span *ngSwitchCase="5">Hủy</span>
                      <span *ngSwitchCase="6">Đang chuẩn bị</span>
                      <span *ngSwitchCase="7">Đang giao hàng</span>
                      <span *ngSwitchCase="8">Đã hoàn tiền</span>
                      <span *ngSwitchDefault>Chưa xác định</span>
                    </ng-container>
                  </div>

                  <div class="mb-3" *ngIf="orderDetail.cancelationReason">
                    <span class="fw-bold">Lý do hủy:</span> {{ orderDetail.cancelationReason}}
                  </div>
                  <div class="mb-3">
                    <span class="fw-bold">Tên khách hàng:</span> {{ orderDetail.consigneeName || 'Khách lẻ' }}
                  </div>
                  <div class="mb-3" *ngIf="orderDetail.consigneeName">
                    <span class="fw-bold">Số điện thoại:</span> {{ orderDetail.guestPhone || '------------------'}}
                  </div>
                  <div class="mb-3" *ngIf="orderDetail?.type === 2">
                    <span class="fw-bold">Địa chỉ nhận hàng:</span> {{ orderDetail.guestAddress || 'N/A' }}
                  </div>
                  <div class="mb-3" *ngIf="orderDetail?.type === 2 || orderDetail?.type === 1">
                    <span class="fw-bold">Thời gian đặt hàng:</span> {{ orderDetail.orderDate | dateFormat }}
                  </div>
                  <div class="mb-3"
                    *ngIf="orderDetail.recevingOrder && (orderDetail?.type === 2 || orderDetail?.type === 1) && orderDetail?.status !== 5&&orderDetail?.status !== 8">
                    <span class="fw-bold">Thời gian giao hàng:</span> {{ orderDetail.recevingOrder | dateFormat }}
                  </div>
                  <div class="mb-3" *ngIf="guestNumber > 0">
                    <span class="fw-bold">Số lượng người:</span> {{ guestNumber  }}
                  </div>
                  <div class="mb-3" *ngIf="reservationTime">
                    <span class="fw-bold">Thời đặt bàn:</span> {{ reservationTime | dateFormat }}
                  </div>                 
                  <div class="mb-3" *ngIf="orderDetail.cancelDate">
                    <span class="fw-bold">Thời gian hủy:</span> {{ orderDetail.cancelDate| dateFormat }}
                  </div>
                  <div class="mb-3"
                    *ngIf="orderDetail.orderDate && orderDetail?.type === 4 && (orderDetail?.status !== 5&&orderDetail?.status !== 8)">
                    <span class="fw-bold">Thời gian vào:</span> {{ orderDetail.orderDate | dateFormat }}
                  </div>
                  <div class="mb-3"
                    *ngIf="timeIn && orderDetail?.type === 3 && (orderDetail?.status !== 5&&orderDetail?.status !== 8)">
                    <span class="fw-bold">Thời gian vào:</span> {{ timeIn | dateFormat }}
                  </div>
                  <div class="mb-3"
                    *ngIf="orderDetail.paymentTime && orderDetail.paymentStatus === 1 && (orderDetail?.type === 4 || orderDetail?.type === 3) && orderDetail?.status !== 5">
                    <span class="fw-bold">Thời gian ra:</span> {{ orderDetail.paymentTime| dateFormat }}
                  </div>
                  <div class="mb-3" *ngIf="orderDetail.status===8">
                    <span class="fw-bold">Người hoàn tiền:</span> {{orderDetail.staffFirstName}}
                    {{orderDetail.staffLastName}}
                  </div>
                  <div class="mb-3" *ngIf="orderDetail.status===8">
                    <span class="fw-bold">Thời gian hoàn tiền:</span> {{ orderDetail.refundDate | dateFormat }}
                  </div>
                  <div *ngIf="orderDetail.paymentMethods !== null && orderDetail.paymentMethods !== undefined"
                    class="mb-3">
                    <span class="fw-bold">Phương thức thanh toán: </span>
                    <ng-container [ngSwitch]="orderDetail.paymentMethods">
                      <span *ngSwitchCase="0">Tiền mặt</span>
                      <span *ngSwitchCase="1">Chuyển khoản ngân hàng</span>
                      <span *ngSwitchCase="2">Thanh toán khi nhận hàng</span>
                    </ng-container>
                  </div>


                  <!-- <div class="mb-3">
            <span class="fw-bold">Thanh toán:</span> {{ orderDetail.recevingOrder | dateFormat }}
          </div> -->
                  <div class="d-flex justify-content-between align-items-center mb-3">
                    <h5>Thông tin chi tiết đơn hàng</h5>
                    <div>
                      <ng-container
                        *ngIf="(orderDetail?.type === 4 || orderDetail?.type === 3) && (orderDetail?.paymentStatus == 0 || orderDetail?.paymentStatus == 2)">
                        <button type="button" class="btn"
                          [ngStyle]="{'background-color': '#ff6600', 'color': '#ffffff'}"
                          (click)="printTemporaryInvoice()" *ngIf="account?.role === 'Cashier'">In hóa đơn tạm</button>
                      </ng-container>

                      <!-- Final invoice button -->
                      <ng-container>
                        <button *ngIf="orderDetail?.paymentStatus === 1 &&
                        orderDetail?.status !== 5 && account?.role === 'Cashier'" type="button"
                          class="btn btn-primary me-2" (click)="printFinalInvoice()">
                          In hóa đơn
                        </button>
                      </ng-container>


                    </div>
                  </div>

                  <table class="table table-bordered table-hover">
                    <thead class="table-light">
                      <tr>
                        <th>Món ăn</th>
                        <th>Số lượng</th>
                        <ng-container *ngIf="!(orderDetail?.type === 2 && orderDetail?.status === 1)">
                          <th>Hoàn thành</th>
                        </ng-container>
                        <th>Giá</th>
                        <th>Tổng số tiền</th>
                      </tr>
                    </thead>
                    <tbody>
                      <ng-container *ngFor="let item of orderDetail.orderDetails">
                        <tr>
                          <td>
                            <span *ngIf="item.dishId !== 0; else comboNameTemplate">{{ item.itemName }}</span>
                            <ng-template #comboNameTemplate>{{ item.nameCombo }}</ng-template>
                          </td>
                          <td>{{ item.quantity }}</td>
                          <ng-container *ngIf="!(orderDetail?.type === 2 && orderDetail?.status === 1)">
                            <td>
                              {{ item.dishesServed }}
                            </td>
                          </ng-container>
                          <td>
                            <ng-container *ngIf="item.discountedPrice">
                              <span>{{ item.discountedPrice | currencyFormat }}</span>
                            </ng-container>
                            <ng-container *ngIf="!item.discountedPrice">
                              <span>{{ item.price | currencyFormat }}</span>
                            </ng-container>
                          </td>
                          <td>{{ item.unitPrice | currencyFormat }}</td>
                        </tr>
                      </ng-container>
                    </tbody>
                  </table>
                  <div class="summary-section mt-4">
                    <div class="row">
                      <!-- First Column -->
                      <div class="col-md-6">
                        <div class="d-flex justify-content-between">
                          <span class="fw-bold">Tạm tính:</span>
                          <span>{{ orderDetail.totalAmount | currencyFormat }}</span>
                        </div>
                        <div *ngIf="orderDetail.discountId > 0" class="d-flex justify-content-between">
                          <span class="fw-bold">Giảm giá:</span>
                          <span>{{ orderDetail.discountName }} ({{ orderDetail.discountPercent | percentage }})</span>
                          <span>{{ getDiscountOrderAmount() | currencyFormat }}</span>
                        </div>
                        <hr>
                        <!-- <div class="d-flex justify-content-between">
                          <span class="fw-bold">Tổng cộng:</span>
                          <span>{{ DiscountedTotalAmount() | currencyFormat }}</span>
                        </div> -->
                        <div *ngIf="orderDetail.deposits && (orderDetail.type !== 1 && orderDetail.type !== 2 )"
                          class="d-flex justify-content-between">
                          <span class="fw-bold">Thanh toán trước:</span>
                          <span>{{ orderDetail.deposits | currencyFormat }}</span>
                        </div>
                        <div *ngIf="orderDetail?.paymentStatus ===0" class="d-flex justify-content-between">
                          <span class="fw-bold">Khách phải trả:</span>
                          <span>{{ DiscountedTotalAmount()| currencyFormat }}</span>
                        </div>
                        <div
                          *ngIf="orderDetail?.paymentStatus ===1 && (orderDetail.type !== 1 && orderDetail.type !== 2 )"
                          class="d-flex justify-content-between">
                          <span class="fw-bold">Khách đã thanh toán:</span>
                          <span>{{ DiscountedTotalAmount() | currencyFormat }}</span>
                        </div>
                        <div
                          *ngIf="orderDetail?.paymentStatus ===1 && orderDetail.deposits!==0 && (orderDetail.type === 1 || orderDetail.type === 2 )"
                          class="d-flex justify-content-between">
                          <span class="fw-bold">Khách đã thanh toán:</span>
                          <span>{{ orderDetail.deposits | currencyFormat }}</span>
                        </div>
                        <div
                          *ngIf="orderDetail?.paymentStatus ===1 && orderDetail.deposits===0 && (orderDetail.type === 1 || orderDetail.type === 2 )"
                          class="d-flex justify-content-between">
                          <span class="fw-bold">Khách đã thanh toán:</span>
                          <span>{{ DiscountedTotalAmount() | currencyFormat }}</span>
                        </div>
                      </div>

                      <!-- Second Column -->
                      <div class="col-md-6 d-flex align-items-start justify-content-end">
                        <!-- Online -->
                        <div
                          *ngIf=" orderDetail.deposits === 0 && orderDetail.type ===2 && orderDetail.paymentStatus===0"
                          class="badge bg-danger ms-auto badge-circle">Chưa thanh toán
                        </div>
                        <div
                          *ngIf=" orderDetail.deposits === 0 && orderDetail.type ===2 && orderDetail.paymentStatus===1 &&orderDetail.status !==8"
                          class="badge bg-success ms-auto badge-circle">Đã thanh toán
                        </div>
                        <div *ngIf=" orderDetail.deposits > 0 && orderDetail.type ===2 &&orderDetail.status !==8"
                          class="badge bg-success ms-auto badge-circle">Đã thanh toán
                        </div>
                        <div *ngIf=" orderDetail.deposits > 0 && orderDetail.type ===2 &&orderDetail.status ===8"
                          class="badge bg-success ms-auto badge-circle">Đã hoàn tiền
                        </div>
                        <!-- Mang ve -->
                        <div *ngIf="orderDetail.type === 1 && orderDetail.status!==5"
                          class="badge bg-success ms-auto badge-circle">Đã thanh toán
                        </div>
                        <div *ngIf="orderDetail.type === 1 && orderDetail.status===5 && orderDetail.paymentStatus===0"
                          class="badge bg-danger ms-auto badge-circle">Chưa thanh toán
                        </div>
                        <div *ngIf="orderDetail.type === 1 && orderDetail.status===5 && orderDetail.paymentStatus===1"
                          class="badge bg-success ms-auto badge-circle">Đã thanh toán
                        </div>
                        <!-- Tại quan -->
                        <div
                          *ngIf="(orderDetail.type === 4 || orderDetail.type === 3) && orderDetail.deposits > 0 && (orderDetail.status !== 4&&orderDetail.status !== 8)"
                          class="badge bg-success ms-auto badge-circle">Đã trả 1 phần
                        </div>
                        <div
                          *ngIf="(orderDetail.type === 4 || orderDetail.type === 3) && orderDetail.deposits === 0  && orderDetail.status !== 4"
                          class="badge bg-danger ms-auto badge-circle">Chưa thanh toán
                        </div>
                        <div *ngIf="(orderDetail.type === 4 || orderDetail.type === 3) && orderDetail.status === 4"
                          class="badge bg-success ms-auto badge-circle">Đã thanh toán
                        </div>
                        <div *ngIf="(orderDetail.type === 4 || orderDetail.type === 3) && orderDetail.status === 8"
                          class="badge bg-success ms-auto badge-circle">Đã hoàn tiền
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
                <ng-template #loadingOrError>
                  <div *ngIf="!orderDetail">
                    <p>Loading order details...</p>
                  </div>
                  <div *ngIf="orderDetail === undefined">
                    <p>Error loading order details. Please try again later.</p>
                  </div>
                </ng-template>
              </div>
              <div class="modal-footer d-flex justify-content-between">
                <div>
                  <!-- Online guest -->
                  <ng-container *ngIf="orderDetail?.type === 2 && orderDetail?.status === 1">
                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                      data-bs-target="#acceptOrderModal" *ngIf="account?.role === 'OrderStaff'">
                      Chấp nhận đơn hàng
                    </button>
                    <button type="button" class="btn btn-danger me-2" data-bs-target="#cancelOrderModal"
                      *ngIf="account?.role === 'OrderStaff'" data-bs-toggle="modal">Hủy đơn</button>
                  </ng-container>
                  <!-- Online staff -->

                  <ng-container
                    *ngIf="orderDetail?.type === 2 && (orderDetail?.status === 2 || orderDetail?.status === 6) && dishesServed === 0">
                    <!-- <button type="button" class="btn btn-success me-2" data-bs-target="#paymentModalOnline"
                      data-bs-toggle="modal" *ngIf="!orderDetail?.invoiceId">Thanh toán</button> -->
                    <button type="button" class="btn btn-danger me-2" data-bs-target="#cancelOrderModal"
                      data-bs-toggle="modal" *ngIf="account?.role === 'OrderStaff'">Hủy đơn</button>
                  </ng-container>

                  <!-- Mang ve -->
                  <ng-container
                    *ngIf="orderDetail?.type === 1 &&  (orderDetail?.status === 2 || orderDetail?.status === 6) && dishesServed === 0">
                    <button type="button" class="btn btn-danger me-2" data-bs-target="#cancelOrderModal"
                      data-bs-toggle="modal" *ngIf="account?.role === 'Cashier'">Hủy
                      đơn</button>
                  </ng-container>

                  <!-- Tai quan -->
                  <ng-container *ngIf="orderDetail?.type === 4 && orderDetail?.status === 3 && orderDetail?.deposits === 0 && orderDetail?.paymentStatus == 0 &&
                  dishesServed !== totalQuantity ">
                    <button type="button" class="btn btn-success me-2" data-bs-toggle="modal"
                      data-bs-target="#prepaymentModalOffline" *ngIf="account?.role === 'Cashier'">Thanh toán
                      trước</button>
                  </ng-container>
                  <ng-container
                    *ngIf="orderDetail?.type === 4 && orderDetail?.status === 3 && dishesServed === 0 && (orderDetail?.paymentStatus == 0 || orderDetail?.paymentStatus == 2)">
                    <button type="button" class="btn btn-danger me-2" data-bs-target="#cancelOrderModal"
                      data-bs-toggle="modal" *ngIf="account?.role === 'OrderStaff' || account?.role === 'Cashier'">Hủy
                      đơn</button>


                  </ng-container>

                  <ng-container *ngIf="(orderDetail?.type === 4 || orderDetail?.type === 3) && orderDetail?.status === 3 && (orderDetail?.paymentStatus == 0 || orderDetail?.paymentStatus == 2) &&
          dishesServed === totalQuantity">
                    <!-- &&
          dishesServed === totalQuantity -->
                    <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal"
                      data-bs-target="#paymentModalOffline" *ngIf="account?.role === 'Cashier'">Hoàn thành</button>
                  </ng-container>
                </div>



                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>

              </div>

            </div>
          </div>
        </div>
        <!-- Accept Order Confirmation Modal -->
        <div class="modal fade" id="acceptOrderModal" tabindex="-1" aria-labelledby="acceptOrderModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="acceptOrderModalLabel">Xác nhận chấp nhận đơn hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có chắc chắn muốn chấp nhận đơn hàng này không?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  (click)="acceptOrder(orderDetail?.orderId)">Chấp
                  nhận</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Cancel Order Confirmation Modal -->
        <div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="cancelOrderModalLabel">Xác nhận hủy đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Bạn có chắc chắn muốn hủy đơn này không?</p>
                <div class="form-group">
                  <label for="cancelationReason">Lý do hủy đơn:</label>
                  <input type="text" id="cancelationReason" class="form-control" [(ngModel)]="cancelationReason"
                    placeholder="Nhập lý do hủy đơn" required>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                  (click)="CancelOrderReason(orderDetail?.orderId)" [disabled]="!cancelationReason">Xác nhận</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal fade" id="completeOrderModal" tabindex="-1" aria-labelledby="completeOrderModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="completeOrderModalLabel">Xác nhận hoàn thành đơn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Bạn có chắc chắn muốn hoàn thành đơn này không?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
                  (click)="updateAmountReceiving(orderDetail?.orderId)">Xác nhận</button>
              </div>
            </div>
          </div>
        </div>
        <!-- Confirmation Modal -->
        <div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <p>Bạn có chắc chắn muốn thực hiện hành động này?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmActionBtn">Xác nhận</button>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Modal for 'Thanh toán online' -->
  <div class="modal fade" id="paymentModalOnline" tabindex="-1" aria-labelledby="paymentModalOnlineLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalOnlineLabel">Thông tin đơn hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Thông tin hóa đơn -->
          <div class="mb-3">
            <label for="price" class="form-label">Tổng tiền phải trả:</label>
            {{ DiscountedTotalAmount() | currencyFormat }}
          </div>

          <!-- Template for online -->
          <div class="mb-3">
            <label class="form-label">Hình thức thanh toán:</label>
            <div>
              <input type="radio" id="cashPrepay" name="paymentMethodPrepay21" value="0" [(ngModel)]="paymentMethod">
              <label for="cashPrepay">Tiền mặt</label>
            </div>
            <div>
              <input type="radio" id="bankPrepay" name="paymentMethodPrepay23" value="1" [(ngModel)]="paymentMethod">
              <label for="bankPrepay">Chuyển khoản ngân hàng</label>
            </div>
            <div>
              <input type="radio" id="cashOnDelivery" name="paymentMethod123" value="2" [(ngModel)]="paymentMethod">
              <label for="cashOnDelivery">Thanh toán khi nhận hàng</label>
            </div>
          </div>
          <!-- Payment by cash -->
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="customerPaid" class="form-label">Tiền khách trả:</label>
            <input type="text" id="customerPaid" class="form-control"
              [value]="customerPaid !== null ? formatCurrency1() : ''" (input)="onCustomerPaidInput($event)"
              (blur)="formatCurrency1()" name="customerPaid" required>


            <!-- Error messages -->
            <div *ngIf="customerPaid !== null && customerPaid < DiscountedTotalAmount()" class="text-danger">
              Số tiền khách trả phải lớn hơn hoặc bằng tổng số tiền phải trả.
            </div>
            <div *ngIf="customerPaid === null" class="text-danger">
              Vui lòng nhập số tiền khách trả.
            </div>
          </div>

          <div class="mb-3" *ngIf="paymentMethod === '1'">
            <label for="qrCodePrepay" class="form-label"></label>
            <img id="qrCode" [src]="QRUrl" class="img-fluid">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cfpaymentModalOnline"
            (click)="CreateInvoiceOnline(orderDetail?.orderId)"
            [disabled]="paymentMethod === '0' && (customerPaid === null || customerPaid < DiscountedTotalAmount())">Xác
            nhận</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for 'Thanh toán offline' -->
  <div class="modal fade" id="paymentModalOffline" tabindex="-1" aria-labelledby="paymentModalOfflineLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalOfflineLabel">Thông tin đơn hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Thông tin hóa đơn -->
          <div class="mb-3">
            <label for="price" class="form-label">Tổng tiền phải trả:</label>
            {{ DiscountedTotalAmount() | currencyFormat }}
          </div>
          <!-- Template for  -->
          <div class="mb-3">
            <label class="form-label">Hình thức thanh toán:</label>
            <div>
              <input type="radio" id="cashPrepay" name="paymentMethod9" value="0" [(ngModel)]="paymentMethod">
              <label for="cashPrepay">Tiền mặt</label>
            </div>
            <div>
              <input type="radio" id="bankPrepay" name="paymentMethod10" value="1" [(ngModel)]="paymentMethod">
              <label for="bankPrepay">Chuyển khoản ngân hàng</label>
            </div>
          </div>

          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="customerPaid" class="form-label">Tiền khách trả:</label>
            <input type="text" id="customerPaid" class="form-control"
              [value]="customerPaid !== null ? formatCurrency1() : ''" (input)="onCustomerPaidInput($event)"
              (blur)="formatCurrency1()" name="customerPaid" required>

            <!-- Error messages -->
            <div *ngIf="customerPaid !== null && customerPaid < DiscountedTotalAmount()" class="text-danger">
              Số tiền khách trả phải lớn hơn hoặc bằng tổng số tiền phải trả.
            </div>
            <div *ngIf="customerPaid === null" class="text-danger">
              Vui lòng nhập số tiền khách trả.
            </div>
          </div>

          <div class="mb-3" *ngIf="paymentMethod === '1'">
            <label for="qrCodePrepay" class="form-label"></label>
            <img id="qrCode" [src]="QRUrl" class="img-fluid">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cfpaymentModalOffline"
            (click)="SuscessfullOrderOffline(orderDetail?.orderId, orderDetail?.invoiceId)"
            [disabled]="paymentMethod === '0' && (customerPaid === null || customerPaid < getFinalAmountDue())">
            Xác nhận
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal for 'Thanh toán offline pre' -->
  <div class="modal fade" id="prepaymentModalOffline" tabindex="-1" aria-labelledby="prepaymentModalOfflineLabel"
    aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalOfflineLabel">Thông tin đơn hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Thông tin hóa đơn -->
          <div class="mb-3">
            <label for="price" class="form-label">Tổng tiền phải trả:</label>
            {{ DiscountedTotalAmount() | currencyFormat }}
          </div>

          <!-- Template for  -->
          <div class="mb-3">
            <label class="form-label">Hình thức thanh toán:</label>
            <div>
              <input type="radio" id="cashPrepay" name="paymentMethod3" value="0" [(ngModel)]="paymentMethod">
              <label for="cashPrepay">Tiền mặt</label>
            </div>
            <div>
              <input type="radio" id="bankPrepay" name="paymentMethod4" value="1" [(ngModel)]="paymentMethod">
              <label for="bankPrepay">Chuyển khoản ngân hàng</label>
            </div>
          </div>

          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="customerPaid" class="form-label">Tiền khách trả:</label>
            <input type="text" id="customerPaid" class="form-control"
              [value]="customerPaid !== null ? formatCurrency1() : ''" (input)="onCustomerPaidInput($event)"
              (blur)="formatCurrency1()" name="customerPaid" required>

            <!-- Error messages -->
            <div *ngIf="customerPaid !== null && customerPaid < DiscountedTotalAmount()" class="text-danger">
              Số tiền khách trả phải lớn hơn hoặc bằng tổng số tiền phải trả.
            </div>
            <div *ngIf="customerPaid === null" class="text-danger">
              Vui lòng nhập số tiền khách trả.
            </div>
          </div>



          <div class="mb-3" *ngIf="paymentMethod === '1'">
            <label for="qrCodePrepay" class="form-label"></label>
            <img id="qrCode" [src]="QRUrl" class="img-fluid">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cfpaymentModalOffline"
            [disabled]="paymentMethod === '0' && (customerPaid === null || customerPaid < DiscountedTotalAmount())"
            (click)="PrePayment(orderDetail?.orderId)">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Template for cffff -->
  <div class="modal fade" id="takeawaypaymentModal" tabindex="-1" aria-labelledby="takeawaypaymentModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModalTakeAwayLabel">Thông tin đơn hàng</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Thông tin hóa đơn -->
          <div class="mb-3">
            <label for="price" class="form-label">Tổng tiền phải trả:</label>
            {{ DiscountedTotalAmount() | currencyFormat }}
          </div>

          <!-- Template for online -->
          <div class="mb-3">
            <label class="form-label">Hình thức thanh toán:</label>
            <div>
              <input type="radio" id="cash" name="paymentMethod19" value="0" [(ngModel)]="paymentMethod">
              <label for="cash">Tiền mặt</label>
            </div>
            <div>
              <input type="radio" id="bank" name="paymentMethod20" value="1" [(ngModel)]="paymentMethod">
              <label for="bank">Chuyển khoản ngân hàng</label>
            </div>

          </div>

          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="customerPaid" class="form-label">Tiền khách trả:</label>
            <input type="text" id="customerPaid" class="form-control"
              [value]="customerPaid !== null ? formatCurrency1() : ''" (input)="onCustomerPaidInput($event)"
              (blur)="formatCurrency1()" name="customerPaid" required>

            <!-- Error messages -->
            <div *ngIf="customerPaid !== null && customerPaid < DiscountedTotalAmount()" class="text-danger">
              Số tiền khách trả phải lớn hơn hoặc bằng tổng số tiền phải trả.
            </div>
            <div *ngIf="customerPaid === null" class="text-danger">
              Vui lòng nhập số tiền khách trả.
            </div>
          </div>

          <div class="mb-3" *ngIf="paymentMethod === '1'">
            <label for="qrCode" class="form-label"></label>
            <img id="qrCode" [src]="QRUrl" class="img-fluid">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#takepaymentModal"
            (click)="CreateInvoiceTakeAway(orderDetail?.orderId)"
            [disabled]="paymentMethod === '0' && (customerPaid === null || customerPaid < DiscountedTotalAmount())">Xác
            nhận</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Template for offline cffff -->
  <div class="modal fade" id="cfpaymentModalOffline" tabindex="-1" aria-labelledby="cfpaymentModalOfflineLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Success message -->
        <div class="text-center mb-3">
          <div class="d-flex justify-content-center align-items-center flex-column">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-check-circle"
              viewBox="0 0 16 16">
              <path
                d="M8 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5.586l-3-3a.5.5 0 0 1 .707-.707L7 9.293l4.646-4.647a.5.5 0 0 1 .708.707l-5 5a.5.5 0 0 1-.708 0z" />
            </svg>
            <h4 class="mt-2">Thanh toán thành công</h4>
          </div>
        </div>
        <div class="modal-body2">
          <div class="modal-header d-flex justify-content-center align-items-center text-center">
            <h5 class="modal-title" id="paymentModalOfflineLabel">HÓA ĐƠN THANH TOÁN</h5>
          </div>
          <div class="mb-3">
            <label for="orderID" class="form-label">Mã hóa đơn: </label>
            <span id="orderID"> {{ invoice?.invoiceId || 'N/A' }}</span>
          </div>
          <div class="mb-3">
            <label for="customerName" class="form-label">Tên khách hàng:</label>
            <input id="customerName" class="form-control" [(ngModel)]="invoice.consigneeName" placeholder="Khách lẻ" />
          </div>
          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Số điện thoại: </label>
            <input id="phoneNumber" class="form-control" [(ngModel)]="invoice.guestPhone" placeholder="N/A" />
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Địa chỉ: </label>
            <input id="address" class="form-control" [(ngModel)]="invoice.address" placeholder="N/A" />
          </div>
          <div class="mb-3">
            <label for="orderDate" class="form-label">Ngày đặt hàng:</label>
            <span id="orderDate"> {{ invoice?.orderDate | dateFormat }}</span>
          </div>
          <div class="mb-3">
            <table id="items" class="table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên món</th>
                  <th scope="col">SL</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoice?.itemInvoice; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.itemName || item.nameCombo }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price | currencyFormat }}</td>
                  <td>{{ item.unitPrice | currencyFormat }}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-3">
            <label for="totalOrder" class="form-label">Tiền hàng:</label>
            <span id="totalOrder"> {{ invoice?.totalAmount | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="invoice?.discountPercent && invoice.discountPercent > 0">
            <label for="discount" class="form-label">Khuyến mãi:</label>
            <span id="discount">
              {{ getDiscountInvoiceAmount() | currencyFormat }} ({{ invoice.discountPercent }}%)
            </span>
          </div>

          <hr>
          <!-- <div class="mb-3" *ngIf="invoice?.discountPercent && invoice.discountPercent > 0">
            <label for="totalAmount" class="form-label">Tổng tiền:</label>
            <span id="totalAmount">{{ invoice?.paymentAmount | currencyFormat }}</span>
          </div> -->
          <div class="mb-3" *ngIf="(paymentMethod === '0' || paymentMethod === '1') && invoice?.deposits> 0">
            <label for="prepay" class="form-label">Thanh toán trước:</label>
            <span id="prepay"> {{ invoice?.deposits | currencyFormat }}</span>
          </div>
          <div class="mb-3"
            *ngIf="(paymentMethod === '0' || paymentMethod === '1') && invoice?.deposits> 0 && invoice?.paymentStatus===1">
            <label for="additionalPayment" class="form-label">Tiền khách phải trả thêm:</label>
            <span id="additionalPayment">
              {{ (invoice?.totalAmount -getDiscountInvoiceAmount()- invoice?.deposits) | currencyFormat }}
            </span>
          </div>
          <div class="mb-3"
            *ngIf="(paymentMethod === '0' || paymentMethod === '1') && invoice?.deposits=== 0 && invoice?.paymentStatus===1">
            <label for="additionalPayment" class="form-label">Tiền khách phải trả:</label>
            <span id="additionalPayment">
              {{ (invoice?.totalAmount -getDiscountInvoiceAmount()- invoice?.deposits) | currencyFormat }}
            </span>
          </div>
          <hr>
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="customerPaid" class="form-label">Tiền khách đưa:</label>
            <span id="customerPaid"> {{ invoice?.amountReceived | currencyFormat }}</span>
          </div>

          <div class="mb-3" *ngIf="paymentMethod === '0' && invoice?.paymentStatus===2">
            <label for="changeToGive" class="form-label">Trả lại:</label>
            <span id="changeToGive"> {{ (invoice?.returnAmount) | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '0' && invoice?.paymentStatus!==2">
            <label for="changeToGive" class="form-label">Trả lại:</label>
            <span id="changeToGive"> {{ (invoice?.amountReceived- (invoice?.totalAmount -getDiscountInvoiceAmount()-
              invoice?.deposits)) | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '1'">
            <label for="qrCodePrepay" class="form-label"></label>
            <img id="qrCode" [src]="QRUrl" class="img-fluid">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
            (click)="reloadInvoice(invoice?.invoiceId,
          invoice?.totalAmount - getDiscountInvoiceAmount() - invoice?.deposits + invoice?.deposits ,
          invoice?.amountReceived - (invoice?.totalAmount - getDiscountInvoiceAmount() - invoice?.deposits))">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="printInvoiceOrder(invoice?.invoiceId,
          invoice?.totalAmount - getDiscountInvoiceAmount() - invoice?.deposits + invoice?.deposits ,
          invoice?.amountReceived - (invoice?.totalAmount - getDiscountInvoiceAmount() - invoice?.deposits))">In hóa
            đơn</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Template for online cffff -->
  <div class="modal fade" id="cfpaymentModalOnline" tabindex="-1" aria-labelledby="cfpaymentModalOnlineLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Success message -->
        <div class="text-center mb-3">
          <div class="d-flex justify-content-center align-items-center flex-column">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-check-circle"
              viewBox="0 0 16 16">
              <path
                d="M8 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5.586l-3-3a.5.5 0 0 1 .707-.707L7 9.293l4.646-4.647a.5.5 0 0 1 .708.707l-5 5a.5.5 0 0 1-.708 0z" />
            </svg>
            <h4 class="mt-2">Thanh toán thành công</h4>
          </div>
        </div>
        <div class="modal-body">
          <div class="modal-header d-flex justify-content-center align-items-center text-center">
            <h5 class="modal-title" id="paymentModalOnlineLabel">HÓA ĐƠN THANH TOÁN</h5>
          </div>

          <div class="row">
            <!-- Mã hóa đơn riêng một hàng -->
            <div class="col-12 mb-3">
              <label for="orderID" class="form-label">Mã hóa đơn:</label>
              <span id="orderID">{{ invoice?.invoiceId || 'N/A' }}</span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="mb-2">
                <label for="customerName" class="form-label">Tên khách hàng:</label>
                <span id="customerName">{{ invoice.consigneeName || 'Khách lẻ' }}</span>
              </div>
              <div class="mb-2">
                <label for="orderDate" class="form-label">Ngày đặt hàng:</label>
                <span id="orderDate">{{ invoice?.orderDate | dateFormat }}</span>
              </div>
            </div>

            <!-- Thông tin ngày đặt hàng và địa chỉ -->
            <div class="col-md-6">

              <div class="mb-2" *ngIf="invoice.guestPhone">
                <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                <span id="phoneNumber">{{ invoice.guestPhone }}</span>
              </div>
              <div class="mb-2">
                <label for="address" class="form-label">Địa chỉ:</label>
                <span id="address">{{ invoice.address }}</span>
              </div>
            </div>

          </div>
          <div class="mb-3">
            <table id="items" class="table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên món</th>
                  <th scope="col">SL</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoice?.itemInvoice; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.itemName || item.nameCombo }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price | currencyFormat }}</td>
                  <td>{{ item.unitPrice | currencyFormat }}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-3">
            <label for="totalOrder" class="form-label">Tiền hàng:</label>
            <span id="totalOrder">{{ invoice?.totalAmount | currencyFormat }}</span>
          </div>
          <div class="mb-3">
            <label for="discount" class="form-label">Khuyến mãi:</label>
            <span id="discount">
              {{ getDiscountInvoiceAmount() | currencyFormat }} ({{ invoice?.discountPercent}}%)
            </span>
          </div>
          <hr>
          <div class="mb-3">
            <label for="totalAmount" class="form-label">Tổng tiền:</label>
            <span id="totalAmount">{{ invoice?.paymentAmount | currencyFormat }}</span>
          </div>
          <hr>
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="amountToPay" class="form-label">Khách phải trả:</label>
            <span id="amountToPay">{{ invoice?.paymentAmount | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="customerPaid" class="form-label">Tiền khách đưa:</label>
            <span id="customerPaid">{{ invoice?.amountReceived | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="changeToGive" class="form-label">Trả lại:</label>
            <span id="changeToGive">{{ invoice?.returnAmount | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '1'">
            <label for="qrCode" class="form-label"></label>
            <img id="qrCode" [src]="QRUrl" class="img-fluid">
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '2'">
            <label for="collectedAmount" class="form-label">Tiền thu của khách:</label>
            <span id="collectedAmount">{{ invoice?.paymentAmount | currencyFormat }}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reloadPage()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="printInvoice()">In hóa đơn</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Template for takaway -->
  <div class="modal fade" id="takepaymentModal" tabindex="-1" aria-labelledby="cfpaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Success message -->
        <div class="text-center mb-3">
          <div class="d-flex justify-content-center align-items-center flex-column">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-check-circle"
              viewBox="0 0 16 16">
              <path
                d="M8 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5.586l-3-3a.5.5 0 0 1 .707-.707L7 9.293l4.646-4.647a.5.5 0 0 1 .708.707l-5 5a.5.5 0 0 1-.708 0z" />
            </svg>
            <h4 class="mt-2">Thanh toán thành công</h4>
          </div>
        </div>
        <div class="modal-body1">
          <div class="modal-header d-flex justify-content-center align-items-center text-center">
            <h5 class="modal-title" id="paymentModalLabel">HÓA ĐƠN THANH TOÁN</h5>
          </div>
          <div class="mb-3">
            <label for="orderID" class="form-label">Mã hóa đơn: </label>
            <span id="orderID">{{ invoice?.invoiceId || 'N/A' }}</span>
          </div>

          <div class="mb-3">
            <label for="customerName" class="form-label">Tên khách hàng:</label>
            <span id="customerName">{{ invoice.consigneeName || 'Khách lẻ' }}</span>
          </div>
          <div class="mb-3" *ngIf="invoice.guestPhone">
            <label for="phoneNumber" class="form-label">Số điện thoại: </label>
            <span id="phoneNumber">{{ invoice.guestPhone }}</span>
          </div>


          <div class="mb-3">
            <label for="orderDate" class="form-label">Ngày đặt hàng:</label>
            <span id="orderDate">{{ invoice?.orderDate | dateFormat }}</span>
          </div>
          <div class="mb-3">
            <table id="items" class="table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên món</th>
                  <th scope="col">SL</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoice?.itemInvoice; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.itemName || item.nameCombo }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price | currencyFormat }}</td>
                  <td>{{ item.unitPrice | currencyFormat }}</td>

                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-3">
            <label for="totalOrder" class="form-label">Tiền hàng:</label>
            <span id="totalOrder">{{ invoice?.totalAmount | currencyFormat }}</span>
          </div>
          <div class="mb-3">
            <label for="discount" class="form-label">Khuyến mãi:</label>
            <span id="discount">
              {{ getDiscountInvoiceAmount() | currencyFormat }} ({{ invoice?.discountPercent}}%)
            </span>
          </div>
          <hr>
          <div class="mb-3">
            <label for="totalAmount" class="form-label">Tổng tiền:</label>
            <span id="totalAmount">{{ invoice?.paymentAmount | currencyFormat }}</span>
          </div>
          <hr>
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="amountToPay" class="form-label">Khách phải trả:</label>
            <span id="amountToPay">{{ invoice?.paymentAmount | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="customerPaid" class="form-label">Tiền khách đưa:</label>
            <span id="customerPaid">{{ invoice?.amountReceived | currencyFormat }}</span>
          </div>
          <div class="mb-3" *ngIf="paymentMethod === '0'">
            <label for="changeToGive" class="form-label">Trả lại:</label>
            <span id="changeToGive">{{ invoice?.returnAmount | currencyFormat }}</span>
          </div>

          <div class="mb-3" *ngIf="paymentMethod === '1'">
            <label for="qrCode" class="form-label"></label>
            <img id="qrCode" [src]="QRUrl" class="img-fluid">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reloadPage()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="printInvoice()">In hóa đơn</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let message of notifications; let i = index" class="notification" [ngClass]="{'show': isVisible[i]}">
    <div class="notification-content">
      <div class="notification-header">
        <h5 class="notification-title">Thông báo</h5>
        <button type="button" class="closenoti" aria-label="Close" (click)="closeNotification(i)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="notification-body">
        {{ message }}
      </div>
    </div>
  </div>
</body>