
<app-HeaderOrderStaff></app-HeaderOrderStaff>

<body>
 <!-- Sidebar -->
 <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light collapse" style="padding: 12px;">
  <app-SideBar></app-SideBar>
</nav>
  <div class="container">
    <div class="sidebar">
      <div class="search">
        <label for="search">Tìm kiếm</label>
        <input type="text" id="search" placeholder="Theo tên chương trình" (input)="filterList()">
      </div>
      <br><br>
      <div class="status">
        <label>Trạng thái</label>
        <div class="status-options">
          <label><input type="radio" name="status" value="all" (change)="filterList()"> Tất cả</label>
          <label><input type="radio" name="status" value="active" (change)="filterList()" checked> Kích hoạt</label>
          <label><input type="radio" name="status" value="inactive" (change)="filterList()"> Chưa áp dụng</label>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="header">
        <h2>Chương trình khuyến mại</h2>
        <button class="add-button" (click)="openPopup()">+ Chương trình khuyến mại</button>
      </div>
      <table class="program-table">
        <thead>
          <tr>
            <th>Tên chương trình</th>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Hình thức</th>
            <th>Trạng thái</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let program of filteredData; let i = index">
            <td>{{program.discountName}}</td>
            <td>{{program.startTime | date:'dd/MM/yyyy - HH:mm' }}</td>
            <td>{{program.endTime | date:'dd/MM/yyyy - HH:mm' }}</td>
            <td>{{ program.type === 1 ? 'Đơn hàng' : (program.type === 2 ? 'Món ăn' : '') }}</td>
            <td>{{ program.discountStatus === true ? 'Kích hoạt' : (program.discountStatus === false ? 'Chưa áp dụng' :
              '') }}</td>
            <td><button type="button" class="btn btn-primary btn-sm"
                (click)="openDetailDiscountModal(program.discountId)">
                Chi tiết
              </button></td>
          </tr>
          <tr class="no-results" *ngIf="!data || data.length === 0">
            <td colspan="5">
              <div class="no-results-message">
                <div class="icon"></div>
                <p>Không tìm thấy kết quả nào phù hợp</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="pagination" *ngIf="totalPages > 0">
        <button (click)="onPreviousPage()" [disabled]="currentPage === 1">
          <i class="fas fa-arrow-left"></i> <!-- Icon mũi tên trái -->
        </button>

        <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1" max="{{ totalPages }}">

        <span>of {{ totalPages }}</span>

        <button (click)="onNextPage()" [disabled]="currentPage === totalPages">
          <i class="fas fa-arrow-right"></i> <!-- Icon mũi tên phải -->
        </button>
      </div>
    </div>


  </div>
  <!-- Modal Add Discount -->
  <div class="modal fade" id="addDiscountModal" tabindex="-1" role="dialog" aria-labelledby="addDiscountModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <span class="close" (click)="closePopup()">&times;</span>
        <h3>Thêm chương trình khuyến mại</h3>
        <br>
        <form (ngSubmit)="savePromotion(promotionForm)" #promotionForm="ngForm">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="program-name">Tên chương trình</label>
                <input type="text" id="program-name" placeholder="Tên chương trình khuyến mại"
                  [(ngModel)]="promotion.discountName" name="programName" required #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty || name.touched || formSubmitted)">
                  <small class="text-danger">Vui lòng nhập tên chương trình!</small>
                </div>
              </div>
              <div class="form-group">
                <label for="note">Ghi chú</label>
                <input type="text" id="note" placeholder="Ghi chú" [(ngModel)]="promotion.note" name="note">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Trạng thái</label>
                <div class="radio-group">
                  <label><input type="radio" name="status" value="true" [(ngModel)]="promotion.discountStatus"
                      name="statusActive"> Kích hoạt</label>
                  <label><input type="radio" name="status" value="false" [(ngModel)]="promotion.discountStatus"
                      name="statusInactive"> Chưa áp dụng</label>
                </div>
              </div>
              <div class="form-group">
                <label style="margin-top: 26px;">Thời gian áp dụng</label>
                <div class="horizontal-form-group">
                  <div class="input-group">
                    <label for="dateFrom">Từ</label>
                    <input type="date" id="dateFrom" class="form-control" [(ngModel)]="promotion.startTime"
                      [min]="dateNow" name="dateFrom" (change)="checkPromotionDates()">
                  </div>
                  <div class="input-group">
                    <label for="dateTo">Đến</label>
                    <input type="date" id="dateTo" class="form-control" [(ngModel)]="promotion.endTime" name="dateTo"
                      [min]="promotion.startTime">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group horizontal-form-group">
                <label for="promotion-type">Khuyến mại theo</label>
                <select id="promotion-type" [(ngModel)]="promotion.type" (change)="onPromotionTypeChange()"
                  name="promotionType">
                  <option value="1">Đơn hàng</option>
                  <option value="2">Món ăn</option>
                </select>
              </div>
            </div>
          </div>
          <div *ngIf="promotion.type === '1'">
            <div class="form-group">
              <div class="row dish" *ngFor="let condition of promotion.conditions; let i = index">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <label for="total-amount-{{i}}">Tổng tiền đơn:</label>
                        <input type="number" id="total-amount-{{i}}" [(ngModel)]="condition.totalAmount"
                          name="totalAmount-{{i}}" class="no-arrows" required #total="ngModel">
                        <span class="input-unit">VND</span>
                      </div>
                      <div *ngIf="total.invalid && (total.dirty || total.touched || formSubmitted)">
                        <small class="text-danger">Vui lòng nhập tổng tiền đơn hàng!</small>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group">
                        <label for="percent-{{i}}">Giảm giá:</label>
                        <input type="number" id="percent-{{i}}" [(ngModel)]="condition.percent" name="percent-{{i}}"
                          class="no-arrows" required #dis="ngModel">
                        <span class="input-unit">%</span>
                      </div>
                      <div *ngIf="dis.invalid && (dis.dirty || dis.touched || formSubmitted)">
                        <small class="text-danger">Vui lòng nhập giảm giá!</small>
                      </div>
                    </div>
                    <div class="col-md-4 text-right">
                      <button class="delete-icon" type="button" (click)="clearCondition(i)">
                        <i class="fas fa-trash-alt"></i>
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <div class="input-group">
                        <label for="quantityLimit-{{i}}">Giới hạn:</label>
                        <input type="number" id="quantityLimit-{{i}}" [(ngModel)]="conditions[i].quantityLimit"
                          name="quantityLimit-{{i}}" class="no-arrows" [disabled]="conditions[i].noLimit">
                        <span class="input-unit">đơn</span>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="input-group" style="height: 41px;">
                        <input type="checkbox" id="noLimit-{{i}}" [checked]="conditions[i].noLimit"
                          (change)="toggleLimit(i, $event)">
                        <label for="noLimit-{{i}}">Không giới hạn số lượng đơn</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="add-condition-button" (click)="addCondition()">+ Thêm điều kiện</button>
            </div>
          </div>

          <div *ngIf="promotion.type === '2'">
            <div class="row dish" *ngFor="let condition of promotion.conditions; let i = index">
              <div class="col-md-12">
                <div class="input-group spaced-input-group">
                  <label for="dish-{{i}}">Món ăn:</label>
                  <div *ngIf="!selectedDishes[i]?.length" class="selected-dishes"></div>
                  <div *ngIf="selectedDishes[i]?.length" class="selected-dishes">
                    <span class="dish-tag" *ngFor="let dish of selectedDishes[i]">
                      {{ dish.name }}
                      <i class="fas fa-times remove-icon" (click)="removeDish(i, dish.id)"></i>
                    </span>
                  </div>
                  <i class="fas fa-list input-unit" (click)="openDishModal(i)" style="margin-right: 400px;"></i>
                  <button class="delete-icon" type="button" (click)="clearCondition(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group spaced-input-group">
                  <label for="percent-{{i}}">Giảm giá:</label>
                  <input type="number" id="percent-{{i}}" placeholder="0" [(ngModel)]="condition.percent"
                    name="percent-{{i}}" style="margin-right: 500px;" class="no-arrows" required #dis="ngModel">
                  <span class="input-unit" style="margin-right: 500px;">%</span>
                </div>
              </div>
              <div *ngIf="dis.invalid && (dis.dirty || dis.touched || formSubmitted)">
                <small class="text-danger">Vui lòng nhập giảm giá!</small>
              </div>
            </div>
            <button type="button" class="add-condition-button" (click)="addCondition()">+ Thêm điều kiện</button>
          </div>


          <div class="form-actions">
            <button type="submit" class="save-button">Lưu</button>
            <button type="button" class="cancel-button" (click)="closePopup()">Bỏ qua</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal Dish -->
  <div class="modal-dish fade" id="dishModal" tabindex="-1" role="dialog" aria-labelledby="dishModalLabel"
    aria-hidden="true">
    <div class="modal-dialog-dish" role="document">
      <div class="modal-content-dish">
        <div class="modal-header">
          <h5 class="modal-title" id="dishModalLabel">Danh sách món ăn</h5>
          <span class="close" (click)="closeDishModal()">&times;</span>
        </div>
        <div class="modal-body">
          <div>
            <input type="checkbox" id="selectAll" (change)="toggleAllDishes($event)">
            <label for="selectAll">Chọn tất cả</label>
          </div>
          <div>
            <input type="text" id="search-dish" placeholder="Tìm theo tên món ăn" (input)="filterDishes()">
          </div>
          <ul class="dish-list">
            <li *ngFor="let dish of filteredDishes; let index = index">
              <input type="checkbox" [id]="'dish-' + index" [(ngModel)]="dish.selected">
              <label [for]="'dish-' + index">{{ dish.itemName }}</label>
            </li>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDishModal()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="selectDishes()">Lưu</button>
        </div>
      </div>
    </div>
  </div>


  <!-- Modal chi tiết giảm giá -->
  <div class="modal-detail fade" id="detailDiscountModal" tabindex="-1" role="dialog"
    aria-labelledby="detailDiscountModalLabel" aria-hidden="true" *ngIf="detailDiscount">
    <div class="modal-dialog-detail" role="document">
      <div class="modal-content-detail">
        <div class="modal-header" style="margin-bottom: 30px;">
          <h5 class="modal-title">Chi tiết chương trình giảm giá</h5>
          <span class="close" (click)="closeDetailDiscountModal()">&times;</span>
        </div>
        <div class="modal-body">
          <div class="form-group" *ngIf="detailDiscount[0]">
            <label for="program-name">Tên chương trình</label>
            <input type="text" id="program-name" placeholder="Tên chương trình khuyến mại"
              [(ngModel)]="detailDiscount[0].discountName" name="programName" class="form-control"
              [disabled]="!isEditing">
          </div>
          <div class="form-group" *ngIf="detailDiscount[0]">
            <label for="note">Ghi chú</label>
            <input type="text" id="note" placeholder="Ghi chú" [(ngModel)]="detailDiscount[0].note" name="note"
              class="form-control" [disabled]="!isEditing">
          </div>
          <div class="form-group" *ngIf="detailDiscount[0]">
            <label>Trạng thái</label>
            <div class="radio-group" style="margin-left: 80px;">
              <label>
                <input type="radio" name="status-detail" [value]="true" [(ngModel)]="detailDiscount[0].discountStatus"
                  [disabled]="!isEditing"> Kích hoạt
              </label>
              <label>
                <input type="radio" name="status-detail" [value]="false" [(ngModel)]="detailDiscount[0].discountStatus"
                  [disabled]="!isEditing"> Chưa áp dụng
              </label>
            </div>
          </div>

          <div class="form-group" *ngIf="detailDiscount[0]">
            <label style="margin-top: 26px;">Thời gian áp dụng</label>
            <div class="horizontal-form-group">
              <div class="input-group">
                <label for="dateFrom">Từ</label>
                <input type="date" id="dateFrom" class="form-control" [(ngModel)]="detailDiscount[0].startTime"
                  name="dateFrom" (change)="checkDetailDiscountDates()" [disabled]="!isEditing">
              </div>
              <div class="input-group">
                <label for="dateTo">Đến</label>
                <input type="date" id="dateTo" class="form-control" [(ngModel)]="detailDiscount[0].endTime"
                  name="dateTo" [disabled]="!isEditing">
              </div>
            </div>
          </div>

          <div class="form-group horizontal-form-group" *ngIf="detailDiscount[0]">
            <label for="promotion-type">Khuyến mại theo</label>
            <input type="text" id="promotion-type" class="form-control" [(ngModel)]="detailDiscount[0].type"
              name="promotionType" disabled>
          </div>

          <div *ngIf="detailDiscount[0] && detailDiscount[0].type === 1">
            <div class="form-group">
              <div class="row dish" *ngFor="let condition of detailDiscount; let i = index">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label for="total-amount-{{i}}">Tổng tiền đơn:</label>
                        <input type="number" id="total-amount-{{i}}" [(ngModel)]="condition.totalMoney"
                          name="totalAmount-{{i}}" class="no-arrows" [disabled]="!isEditing">
                        <span class="input-unit">VND</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group">
                        <label for="percent-{{i}}">Giảm giá:</label>
                        <input type="number" id="percent-{{i}}" [(ngModel)]="condition.discountPercent"
                          name="percent-{{i}}" class="no-arrows" [disabled]="!isEditing">
                        <span class="input-unit">%</span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="input-group">
                        <label for="quantityLimit-{{i}}">Giới hạn:</label>
                        <input type="number" id="quantityLimit-{{i}}" [(ngModel)]="condition.quantityLimit"
                          name="quantityLimit-{{i}}" class="no-arrows" [disabled]="condition.noLimit || !isEditing">
                        <span class="input-unit">đơn</span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="input-group" style="height: 41px;">
                        <input type="checkbox" id="noLimit-{{i}}"
                          [checked]="condition.noLimit || condition.quantityLimit === null"
                          (change)="toggleLimit(i, $event)" [disabled]="!isEditing">
                        <label for="noLimit-{{i}}">Không giới hạn số lượng đơn</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="detailDiscount[0] && detailDiscount[0].type === 2">
            <div class="row dish" *ngFor="let condition of detailDiscount; let i = index">
              <div class="col-md-12">
                <div class="input-group spaced-input-group">
                  <label for="dish-{{i}}">Món ăn:</label>
                  <div *ngIf="!condition.dishes?.length" class="selected-dishes" style="margin-right: 0;"></div>
                  <div *ngIf="condition.dishes?.length" class="selected-dishes" style="margin-right: 0;">
                    <span class="dish-tag" *ngFor="let dish of condition.dishes">
                      {{ dish.itemName }}
                      <i *ngIf="isEditing" class="fas fa-times remove-icon"
                        (click)="removeDishDetail(i, dish.dishId)"></i>
                    </span>
                  </div>
                  <i class="fas fa-list input-unit" *ngIf="isEditing" (click)="openDishModal(i)"></i>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group spaced-input-group">
                  <label for="percent-{{i}}">Giảm giá:</label>
                  <input type="number" id="percent-{{i}}" [(ngModel)]="condition.discountPercent" name="percent-{{i}}"
                    style="margin-right: 300px;" class="no-arrows" [disabled]="!isEditing">
                  <span class="input-unit" style="margin-right: 300px;">%</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"
            (click)="closeDetailDiscountModal()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="toggleEditMode()" [hidden]="isEditing">Chỉnh
            sửa</button>
          <button type="button" class="btn btn-success" (click)="saveChanges()" [hidden]="!isEditing">Lưu</button>
        </div>
      </div>
    </div>
  </div>


</body>

