<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Promotion Program</title>
</head>

<body>
  <div class="container">
    <div class="sidebar">
      <div class="search">
        <label for="search">Tìm kiếm</label>
        <input type="text" id="search" placeholder="Theo tên chương trình" (input)="filterList()">
      </div>
      <br><br>
      <div class="status">
        <label>Trạng thái</label>
        <div class="status-options">
          <label><input type="radio" name="status" value="all" (change)="filterList()"> Tất cả</label>
          <label><input type="radio" name="status" value="active" (change)="filterList()" checked> Kích hoạt</label>
          <label><input type="radio" name="status" value="inactive" (change)="filterList()"> Chưa áp dụng</label>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="header">
        <h2>Chương trình khuyến mại</h2>
        <button class="add-button" (click)="openPopup()">+ Chương trình khuyến mại</button>
      </div>
      <table class="program-table">
        <thead>
          <tr>
            <th>Tên chương trình</th>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Hình thức</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let program of filteredData">
            <td>{{program.discountName}}</td>
            <td>{{program.startTime}}</td>
            <td>{{program.endTime}}</td>
            <td>{{ program.type === 0 ? 'Đơn hàng' : (program.type === 1 ? 'Món ăn' : '') }}</td>
            <td>{{ program.discountStatus === true ? 'Kích hoạt' : (program.discountStatus === false ? 'Chưa áp dụng' :
              '') }}</td>
          </tr>
          <tr class="no-results" *ngIf="!data || data.length === 0">
            <td colspan="5">
              <div class="no-results-message">
                <div class="icon"></div>
                <p>Không tìm thấy kết quả nào phù hợp</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <!-- Modal Add Discount -->
  <div class="modal fade" id="addDiscountModal" tabindex="-1" role="dialog" aria-labelledby="addDiscountModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <span class="close" (click)="closePopup()">&times;</span>
        <h3>Thêm chương trình khuyến mại</h3>
        <br>
        <form (ngSubmit)="savePromotion()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="program-name">Tên chương trình</label>
                <input type="text" id="program-name" placeholder="Tên chương trình khuyến mại" [(ngModel)]="promotion.discountName" name="programName">
              </div>
              <div class="form-group">
                <label for="note">Ghi chú</label>
                <input type="text" id="note" placeholder="Ghi chú" [(ngModel)]="promotion.note" name="note">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Trạng thái</label>
                <div class="radio-group">
                  <label><input type="radio" name="status" value="true" [(ngModel)]="promotion.discountStatus" name="statusActive"> Kích hoạt</label>
                  <label><input type="radio" name="status" value="false" [(ngModel)]="promotion.discountStatus" name="statusInactive"> Chưa áp dụng</label>
                </div>
              </div>
              <div class="form-group">
                <label style="margin-top: 26px;">Thời gian áp dụng</label>
                <div class="horizontal-form-group">
                  <div class="input-group">
                    <label for="dateFrom">Từ</label>
                    <input type="date" id="dateFrom" class="form-control" [(ngModel)]="promotion.startTime" name="dateFrom">
                  </div>
                  <div class="input-group">
                    <label for="dateTo">Đến</label>
                    <input type="date" id="dateTo" class="form-control" [(ngModel)]="promotion.endTime" name="dateTo">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group horizontal-form-group">
                <label for="promotion-type">Khuyến mại theo</label>
                <select id="promotion-type" [(ngModel)]="promotion.type" name="promotionType">
                  <option value="0">Đơn hàng</option>
                  <option value="1">Món ăn</option>
                </select>
              </div>
            </div>
          </div>
          <div *ngIf="promotion.type === '0'">
            <div class="form-group">
              <div class="row">
                <div class="horizontal-form-group" *ngFor="let condition of promotion.conditions; let i = index">
                  <div class="col-md-4">
                    <div class="input-group">
                      <label for="total-amount-{{i}}">Tổng tiền hàng</label>
                      <input type="text" id="total-amount-{{i}}" placeholder="0" [(ngModel)]="condition.totalAmount" name="totalAmount-{{i}}">
                      <span class="input-unit">VND</span>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="input-group">
                      <label for="percent-{{i}}">Giảm giá</label>
                      <input type="number" id="percent-{{i}}" placeholder="0" [(ngModel)]="condition.percent" name="percent-{{i}}">
                      <span class="input-unit">%</span>
                    </div>
                  </div>
                  <div class="col-md-4 text-right">
                    <button class="delete-icon" (click)="clearPercent(i)">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="add-condition-button" (click)="addCondition()">+ Thêm điều kiện</button>
          </div>
          <div *ngIf="promotion.type === '1'">
            <div class="row dish" *ngFor="let condition of promotion.conditions; let i = index">
              <div class="col-md-12">
                <div class="input-group spaced-input-group">
                  <label for="dish-{{i}}">Món ăn</label>
                  <div *ngIf="!selectedDishes[i]?.length" class="selected-dishes"></div>
                  <div *ngIf="selectedDishes[i]?.length" class="selected-dishes">
                    <span class="dish-tag" *ngFor="let dishName of selectedDishes[i]">{{ dishName }} <i class="fas fa-times remove-icon" (click)="removeDish(i, dishName)"></i></span>
                  </div>
                  <i class="fas fa-list input-unit" (click)="openDishModal(i)" style="margin-right: 300px;"></i>
                  <button class="delete-icon" (click)="clearDish(i)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </div>
              <div class="col-md-12">
                <div class="input-group spaced-input-group">
                  <label for="percent-{{i}}">Giảm giá</label>
                  <input type="number" id="percent-{{i}}" placeholder="0" [(ngModel)]="condition.percent" name="percent-{{i}}"
                  style="margin-right: 500px;">
                  <span class="input-unit" style="margin-right: 500px;">%</span>
                </div>
              </div>
            </div>
            <button type="button" class="add-condition-button" (click)="addCondition()">+ Thêm điều kiện</button>
          </div>
          <div class="form-actions">
            <button type="submit" class="save-button">Lưu</button>
            <button type="button" class="cancel-button" (click)="closePopup()">Bỏ qua</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Modal Dish -->
<div class="modal-dish fade" id="dishModal" tabindex="-1" role="dialog" aria-labelledby="dishModalLabel" aria-hidden="true">
  <div class="modal-dialog-dish" role="document">
    <div class="modal-content-dish">
      <div class="modal-header">
        <h5 class="modal-title" id="dishModalLabel">Danh sách món ăn</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeDishModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>
          <input type="checkbox" id="selectAll" (change)="toggleAllDishes($event)">
          <label for="selectAll">Chọn tất cả</label>
        </div>
        <ul>
          <li *ngFor="let dish of dish; let index = index">
            <input type="checkbox" [id]="'dish-' + index" [(ngModel)]="dish.selected">
            <label [for]="'dish-' + index">{{ dish.itemName }}</label>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDishModal()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="selectDishes()">Chọn</button>
      </div>
    </div>
  </div>
</div>
</body>

</html>
