<div class="container">
  <div class="row gutters" *ngIf="info">
    <div class="title">
      Quản lý thông tin quán ăn
    </div>
    <br>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
      <div class="card h-100 profile-card">
        <div class="card-body">
          <div class="account-settings">
            <div class="user-profile">
              <div class="user-avatar">
                <img [src]="info[0].logo" alt="Logo" class="logo-image">
              </div>
              <br>
              <button class="button-custom" (click)="fileInputLogo.click()">Đổi logo
                <input type="file" #fileInputLogo (change)="onUpdateLogoSelect($event)" style="display: none;">
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
      <div class="card h-100 details-card">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Tên quán ăn</label>
                <input type="text" class="form-control" id="fullName" [(ngModel)]="info[0].eateryName"
                  [readonly]="!isEditing">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">Địa chỉ</label>
                <input type="text" class="form-control" id="eMail" [(ngModel)]="info[0].address"
                  [readonly]="!isEditing">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="phone">Số điện thoại</label>
                <input type="text" class="form-control" id="phone" [(ngModel)]="info[0].phone" [readonly]="!isEditing">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="website">Email</label>
                <input type="email" class="form-control" id="website" [(ngModel)]="info[0].email"
                  [readonly]="!isEditing">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="Street">Giờ mở cửa</label>
                <input type="text" class="form-control" id="Street" [(ngModel)]="info[0].openTime"
                  [readonly]="!isEditing">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="ciTy">Giờ đóng cửa</label>
                <input type="text" class="form-control" id="ciTy" [(ngModel)]="info[0].closeTime"
                  [readonly]="!isEditing">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="sTate">Mã QR ngân hàng
                  <span class="update-icon"
                        (click)="fileInputQRCode.click()"
                        [ngClass]="{'disabled': !isEditing}">
                    <i class="fas fa-upload"></i>
                  </span>
                  <input type="file" #fileInputQRCode (change)="onUpdateImageSelect($event)" style="display: none;">
                </label>
                <div class="qr-code-container">
                  <img [src]="info.qrcode" alt="QR Code">
                </div>
              </div>

            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="zIp">Website URL</label>
                <input type="text" class="form-control" id="zIp" [(ngModel)]="info[0].linkContact"
                  [readonly]="!isEditing">
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button *ngIf="!isEditing" type="button" id="update" name="update" class="btn btn-primary"
                  (click)="enableEditing()">Cập nhật</button>
                <button *ngIf="isEditing" type="button" id="save" name="save" class="btn btn-success"
                  (click)="saveChanges()">Lưu</button>
                <button *ngIf="isEditing" type="button" id="cancel" name="cancel" class="btn btn-danger"
                  (click)="cancelEditing()">Hủy</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
