<li class="nav-item">
  <a class="nav-link" [routerLink]="['/managerorder']" routerLinkActive="active">
    <span data-feather="file" class="me-2"></span>
    Đơn hàng
  </a>
</li>
<li class="nav-item">
  <a class="nav-link" data-bs-toggle="collapse" href="#orderMenu" role="button" aria-expanded="false" aria-controls="orderMenu">
    <span data-feather="shopping-cart" class="me-2"></span>
    Đặt hàng
  </a>
  <div class="collapse" id="orderMenu">
    <ul class="nav flex-column ms-3">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/listTable']" routerLinkActive="active">
          <span data-feather="arrow-right-circle" class="me-2"></span>
          Tại chỗ 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/createTakeaway']" routerLinkActive="active">
          <span data-feather="arrow-right-circle" class="me-2"></span>
          Mang về
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/createOnline']" routerLinkActive="active">
          <span data-feather="arrow-right-circle" class="me-2"></span>
          Online
        </a>
      </li>
    </ul>
  </div>
</li>
