.clickable-item {
    cursor: pointer; /* Change cursor to indicate that this part is clickable */
  }
  
  /* Hide arrows in input number */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] {
  -moz-appearance: textfield; /* Hide the spinners in Firefox */
}

input.no-spinners {
  -webkit-appearance: none; /* Chrome, Safari, Edge, Opera */
  -moz-appearance: textfield; /* Firefox */
}

/* Make the input field circular */
input.rounded-input {
  border-radius: 50%;
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
  padding: 0;
  text-align: center;
}
/* CSS */
.disabled-input {
    pointer-events: none; /* Ngăn cản các sự kiện chuột như nhấp chuột */
    background-color: #f8f9fa; /* Màu nền sáng, tương tự như màu nền của trường nhập liệu */
    border-color: #ced4da; /* Màu viền để trông như bị vô hiệu hóa */
    color: #000; /* Màu văn bản là đen */
  }
  .modal-body {
    max-height: 400px; /* Hoặc bất kỳ chiều cao tối đa nào bạn muốn */
    overflow-y: auto;
  }
  
  
  