<app-HeaderOrderStaff></app-HeaderOrderStaff>
<div class="container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li>
          <ul>
            <br><br><br>
            <li><a [class.active]="currentView === 'order-layout'" (click)="setView('order-layout')"
                (click)="getOrders('Current')">Đơn hiện tại</a>
            </li>
            <li><a [class.active]="currentView === 'booking-order'" (click)="setView('booking-order')"
                (click)="getOrders('Future')">Đơn đặt trước</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <header>
      <h2 *ngIf="currentView === 'order-layout'">Đơn hiện tại</h2>
      <h2 *ngIf="currentView === 'booking-order'">Đơn đặt trước</h2>

      <!-- Chú thích về màu sắc -->
      <div class="info-note" *ngIf="currentView === 'order-layout'">
        <p><span class="color-indicator color-yellow"></span> Khách chưa lấy ngay</p>
        <p><span class="color-indicator color-green"></span> Cần làm ngay</p>
      </div>

      <div class="col-md-3" *ngIf="currentView === 'booking-order'">
        <div class="input-group">
          <label class="input-group-text" for="dateFrom">Từ ngày</label>
          <input type="date" id="dateFrom" class="form-control" [(ngModel)]="dateFrom" [min]="dateNow"
            (change)="onDateFromChange()">
        </div>
      </div>
      <div class="col-md-3" *ngIf="currentView === 'booking-order'">
        <div class="input-group">
          <label class="input-group-text" for="dateTo">Đến ngày</label>
          <input type="date" id="dateTo" class="form-control" [(ngModel)]="dateTo" [min]="dateFrom"
            (change)="onDateToChange()">
        </div>
      </div>


    </header>
    <hr>

    <section *ngIf="currentView === 'order-layout'">
      <div class="container">
        <div class="card">
          <div>
            <table>
              <thead>
                <tr>
                  <th>Tên món</th>
                  <th>Số lượng</th>
                  <th>Thời gian gọi món</th>
                  <th>Thời gian nhận món</th>
                  <th>Ghi chú</th>
                  <th>Loại đơn</th>
                  <th>Số lượng hoàn thành</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let order of filteredOrders">
                  <tr [ngClass]="{
                    'green-row': !order.recevingOrder ||
                                 (order.recevingOrder &&
                                  (order.recevingOrder.substring(0, 16) === addOneHour(order.orderTime) ||
                                   isRecevingOrderCloseToCurrentTime(order.recevingOrder))),
                    'yellow-row': order.recevingOrder &&
                                  (order.recevingOrder.substring(0, 16) !== addOneHour(order.orderTime) &&
                                   !isRecevingOrderCloseToCurrentTime(order.recevingOrder))
                  }" (click)="showDetails(order.itemName || order.comboDetailsForChef[0]?.comboName, order.quantity)">
                    <td>{{ order.itemName || order.comboDetailsForChef[0]?.comboName }}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.orderTime | date:'dd/MM/yyyy - HH:mm' }}</td>
                    <td *ngIf="isRecevingOrderMoreThanOneHourLater(order.recevingOrder, order.orderTime)">
                      {{ order.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}
                    </td>
                    <td *ngIf="!isRecevingOrderMoreThanOneHourLater(order.recevingOrder, order.orderTime)">

                    </td>
                    <!-- <td class="note-cell" *ngIf="order.note">{{ order.note }}</td>
                    <td *ngIf="!order.note"></td> -->
                    <td></td>
                    <td>{{ convertOrderType(order.type) }}</td>
                    <td (click)="$event.stopPropagation()">
                      <form [formGroup]="forms[order.orderDetailId]"
                        (ngSubmit)="completeDish(order.orderDetailId, order.itemName || order.comboDetailsForChef[0]?.comboName, order.type, order.orderId)"
                        class="form-inline">
                        <div class="form-group">
                          <input type="number" formControlName="dishesServed" min="0" [attr.max]="order.quantity"
                            class="form-control form-control-sm input-short" />
                          <button type="submit" class="btn btn-primary btn-sm"
                            [disabled]="forms[order.orderDetailId].invalid"
                            [ngStyle]="{'cursor': forms[order.orderDetailId].invalid ? 'not-allowed' : 'pointer'}">
                            Hoàn thành
                          </button>
                        </div>
                      </form>
                      <div
                        *ngIf="forms[order.orderDetailId].controls['dishesServed'].invalid &&
                                  (forms[order.orderDetailId].controls['dishesServed'].dirty || forms[order.orderDetailId].controls['dishesServed'].touched)"
                        class="error-message">
                        <small class="text-danger"
                          *ngIf="forms[order.orderDetailId].controls['dishesServed'].errors?.['required']">
                          Số lượng là bắt buộc.
                        </small>
                        <small class="text-danger"
                          *ngIf="forms[order.orderDetailId].controls['dishesServed'].errors?.['max']">
                          Số lượng không thể lớn hơn {{order.quantity}}.
                        </small>
                      </div>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <br>
          <div *ngIf="!filteredOrders || filteredOrders.length < 1" style="text-align: center;">
            <p>Không có dữ liệu </p>
          </div>
          <!-- <div class="pagination" *ngIf="totalPages>0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">Next</button>
          </div> -->
        </div>
      </div>
    </section>

    <section *ngIf="currentView === 'booking-order'">
      <div class="container">
        <div class="card">
          <div>
            <table>
              <thead>
                <tr>
                  <th>Tên món</th>
                  <th>Số lượng</th>
                  <th>Thời gian giao hàng</th>
                  <th>Ghi chú</th>
                  <th>Loại đơn</th>
                  <th>Số lượng hoàn thành</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngFor="let order of preOrder">
                  <tr>
                    <td>{{order.itemName || order.comboDetailsForChef?.[0]?.comboName}}</td>
                    <td>{{order.quantity}}</td>
                    <td>{{order.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}</td>
                    <!-- <td class="note-cell" *ngIf="order.note">{{ order.note }}</td>
                    <td *ngIf="!order.note"></td> -->
                    <td></td>
                    <td>{{ convertOrderType(order.type) }}</td>
                    <td *ngIf="dateTo !== dateNow "></td>
                    <td *ngIf="dateTo === dateNow ">
                      <form [formGroup]="forms[order.orderDetailId]"
                        (ngSubmit)="completeDish(order.orderDetailId, order.itemName || order.comboDetailsForChef?.[0]?.comboName, order.type,order.orderId)"
                        class="form-inline">
                        <div class="form-group">
                          <input type="number" formControlName="dishesServed" min="0" [attr.max]="order.quantity"
                            class="form-control form-control-sm input-short" />
                          <button type="submit" class="btn btn-primary btn-sm"
                            [disabled]="forms[order.orderDetailId].invalid"
                            [ngStyle]="{'cursor': forms[order.orderDetailId].invalid ? 'not-allowed' : 'pointer'}">
                            Hoàn thành
                          </button>
                        </div>
                      </form>
                      <div
                        *ngIf="forms[order.orderDetailId].controls['dishesServed'].invalid &&
                                  (forms[order.orderDetailId].controls['dishesServed'].dirty || forms[order.orderDetailId].controls['dishesServed'].touched)"
                        class="error-message">
                        <small class="text-danger"
                          *ngIf="forms[order.orderDetailId].controls['dishesServed'].errors?.['required']">
                          Số lượng là bắt buộc.
                        </small>
                        <small class="text-danger"
                          *ngIf="forms[order.orderDetailId].controls['dishesServed'].errors?.['max']">
                          Số lượng không thể lớn hơn {{order.quantity}}.
                        </small>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <br>
          <div *ngIf="!preOrder || preOrder.length < 1" style="text-align: center;">
            <p>Không có dữ liệu </p>
          </div>
          <!-- <div class="pagination" *ngIf="totalPages>0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">Next</button>
          </div> -->
        </div>
      </div>
    </section>
  </main>
</div>


<!-- Popup for item details -->
<div *ngIf="ingredient" class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="details-container" *ngIf="ingredient.dishName">
      <h3>Tên món: {{ingredient.dishName }} </h3>
      <p>Thành phần:</p>
      <div *ngFor="let item of ingredient.ingredients" class="info-container">
        <div class="item-details">
          <h4>{{ item.name }}</h4>
          <p>Số lượng: {{ item.quantitative }}{{ item.unit }}</p>
        </div>
      </div>
    </div>

    <div class="details-container" *ngIf="ingredient.comboName">
      <h3>Tên combo: {{ingredient.comboName }} </h3>
      <div *ngFor="let item of ingredient.dishes" class="info-container">
        <p>Tên món: {{item.dishName }}</p>
        <p>Thành phần:</p>
        <div *ngFor="let item of item.ingredients" class="info-container">
          <div class="item-details">
            <h4>{{ item.materialName }}</h4>
            <p>Số lượng: {{ item.quantitative }}{{ item.unit }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
