<div class="container" style="margin-top: 40px;">
  <div class="container" *ngIf="!selectedArticle">
    <div class="card" *ngFor="let article of articles" (click)="onSelectArticle(article)">
      <div class="card-header">
        <img [src]="article.newsImage" alt="rover" />
      </div>
      <div class="card-body">
        <!-- <span class="tag tag-teal">{{ article.category }}</span> -->
        <h4>{{ article.newsTitle }}</h4>
        <p>{{ article.newsContent.length > 100 ? (article.newsContent | slice:0:100) + '...' : article.newsContent }}
        </p>
        <div class="user">
          <div class="user-info">
            <h5>Thời gian: {{ article.newsDate | date:'dd/MM/yyyy' }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Chi tiết bài viết -->
  <div *ngIf="selectedArticle" style="display: flex; margin-top: 20px; border: 1px solid #ddd; padding: 20px;">
    <div style="flex: 1; margin-right: 20px;">
      <img [src]="selectedArticle.newsImage" alt="Hình ảnh bài viết" style="max-width: 100%; height: auto;" />
    </div>
    <div style="flex: 2;">
      <h2 style="margin-bottom: 15px;">{{ selectedArticle.newsTitle }}</h2>
      <div style="margin-bottom: 20px; white-space: pre-line;">
        {{ selectedArticle.newsContent }}
      </div>

      <div style="display: flex; align-items: center;">
        <div>
          <small>{{ selectedArticle.newsDate | date:'dd/MM/yyyy' }}</small>
        </div>
      </div>
    </div>
  </div>

</div>
