<body [class.sidebar-visible]="showSidebar">
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" *ngIf="showSidebar">
        <app-SidebarOrder></app-SidebarOrder>
      </nav>

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <section>
          <h2 class="text-center mb-4 title-header">Danh sách bàn tại quán</h2>

          <!-- Move the select dropdown here -->
          <div class="mb-3" style="margin-left: 85px;"> <!-- Added a wrapper div to center the dropdown -->
            <!-- HTML -->
            <select id="timeframe" name="timeframe" *ngIf="currentView === 'table-layout'" [(ngModel)]="selectedTable"
              (ngModelChange)="filterTablesByFloorAndStatus(selectedTable)" class="form-select custom-select">
              <option value="all">Tất cả bàn</option>
              <option value="empty">Bàn trống</option>
            </select>


          </div>
          <div class="container">
            <div class="card short-card">
              <div class="table-layout-buttons">
                <button *ngFor="let floor of getFloors()" (click)="getTableOFFloor(floor)"
                  [class.active]="selectedFloor === floor" class="floor-button">
                  {{ floor }}
                </button>
              </div>
            </div>

            <div class="card">
              <div class="table-grid">
                <div class="table" *ngFor="let table of dataTable" [class.in-use]="table.status === 0"
                  (click)="navigateToOrder(table.tableId, table.status, table.isAvailable)">
                  <div class="table-id">{{ table.lable }}</div>
                  <div *ngIf="table.isAvailable===true" class="table-status">{{ table.status === 0 ? 'Bàn trống' : 'Đang sử dụng' }}</div>
                  <div *ngIf="table.isAvailable===false" class="table-status">Bàn đã đặt</div>
                  <div class="table-capacity">
                    <i class="fas fa-chair"></i>{{ table.capacity }}
                  </div>
                  <div class="table-check" *ngIf="table.status === 1">&#10004;</div>
                  <span class="calendar-icon" *ngIf="table.tableReservations.length > 0"
                    (click)="openModalSchedule(table.tableReservations, $event)">
                    <i class="fas fa-calendar-alt"></i>
                  </span>

                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </div>
  <div class="reservation-modal-detail" *ngIf="isModalVisibles">
    <div class="modal-content-detail">
      <span class="close-detail" (click)="closeModal()">&times;</span>
      <h2>Thông tin đặt bàn</h2><br>
      <div *ngIf="selectedReservations.length > 0; else noReservations">
        <ul class="reservation-list">
          <li *ngFor="let reservation of selectedReservations" class="reservation-item">
            <p><strong>Khách hàng:</strong> {{ reservation?.consigneeName }}</p>
            <p><strong>Thời gian nhận bàn:</strong> {{ reservation?.reservationTime | date:'dd/MM/yyyy - HH:mm' }}</p>
            <p><strong>Số lượng khách:</strong> {{ reservation?.guestNumber }}</p>
            <hr />
          </li>
        </ul>
      </div>
      <ng-template #noReservations>
        <p>No reservations found.</p>
      </ng-template>
    </div>
  </div>
</body>
