
<div class="wrapper">
  <div class="notifications">
    <!-- Đây là nơi thông báo sẽ xuất hiện -->
  </div>
  <div class="filter-grid">
    <div class="inner-wrap">
      <div class="filter-cell">
        <select class="form-control">
          <option value="*">Category</option>
          <option value="fav">Favorites</option>
        </select>
      </div>
      <div class="filter-cell">
        <select class="form-control">
          <option value="*">Product Type</option>
          <option value="square">Square</option>
          <option value="circular">Circular</option>
        </select>
      </div>
      <div class="filter-cell">
        <select class="form-control" disabled="true">
          <option>Price</option>
        </select>
      </div>
      <div class="filter-cell">
        <select class="form-control" disabled="true">
          <option>Brand</option>
        </select>
      </div>
    </div>
  </div>

  <div class="inner-wrap content-wrap">
    <div class="product-grid" #productGrid id="product-grid">
      <!-- Products will be dynamically added here -->
    </div>

  </div>
  <div class="sticky"></div>

</div>

<footer class="site-footer">
  <div class="inner-wrap">

    Footer Info

  </div>
</footer>

<div class="cart">
  <div class="inner-wrap">
    <h2>Your Cart</h2>

    <table class="cart-table">
      <thead>
        <tr>
          <th class="product-remove">Remove Items</th>
          <th class="product-name">Product</th>
          <th class="product-price">Price</th>
          <th class="product-quantity">Quantity</th>
          <th class="product-line-total">Subtotal</th>
        </tr>
      </thead>
      <tbody id="cart-items">
        <!-- Sản phẩm sẽ được thêm vào đây -->
      </tbody>
    </table>
  </div>
</div>
