<br>
<div class="section" id="menu">
  <div class="container">
    <ul class="category">
      <li class="active">All</li>
      <li>Biryani</li>
      <li>Chicken</li>
      <li>Pizza</li>
      <li>Burger</li>
      <li>Pasta</li>
    </ul>

    <div class="container">
      <div class="restaurant-menu">
        <div class="menu-item">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-1.jpg" alt="" />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-2.jpg" alt="" />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-3.jpg" alt="" />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-4.jpg" alt="" />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-5.jpg" alt="" />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>

        <div class="menu-item">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/menu-6.jpg" alt="" />

          <div class="title">Food Restaurant | Chineese & Thai</div>

          <div class="location">Lahore, Pakistan</div>

          <div class="order flex">
            <div class="price">$25.00</div>
            <a href="#" class="btn btn-menu">Order Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
