<br>
<br>
<br>
<br>
<br>
<div class="order-info">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div>
          <h5 style="text-align: center;"><b>Order Information</b></h5>
        </div>
        <hr>
        <div class="order-details">
          <div class="row">
            <div class="form-group">
              <label for="name">Name : </label>
            </div>
            <div class="form-group">
              <label for="address">Delivery address: </label>
            </div>
            <div class="form-group">
              <label for="phone">Phone: </label>
            </div>

            <div class="form-group">
              <label for="time">Receiving Time: </label>
            </div>
            <div class="form-group">
              <label for="note">Note:</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="title">
          <div class="row">
            <h4 style="text-align: center;"><b>Order Successfully</b></h4>
            <h2 style="text-align: center;"><b>Chung toi se lien lac voi ban sau it phut de xac nhan don hang</b></h2>
            <h4 style="text-align: center;"><b>Thanh you!</b></h4>
            <div class="col align-self-center text-right text-muted"></div>
          </div>
        </div>
        <div>
          <div class="cart-items">
            <!-- Đây là vị trí của tiêu đề Quantity -->
            <div class="row">
              <div class="col-2"></div>
              <div class="col"></div>
              <div class="col">
                <h5><b>Quantity</b></h5>
              </div>
              <div class="col">
                <h5><b>Total Money</b></h5>
              </div>
            </div>
            <div class="row border-top border-bottom">
              <div class="row main align-items-center">
                <div class="col-2">
                  <img class="img-fluid" alt="Item Image">
                </div>
                <div class="col">
                  <div></div>
                </div>
                <div class="col">
                  <span></span>
                </div>

                <div class="col price-close" style="align-items:center;">
                  <span class="price">&dollar; </span>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-12 panel-footer basket-footer">
          <hr>
          <div class="row">
            <div class="col-8 align-right description">
              <div class="dive">Subtotal</div>
            </div>
            <div class="col-4 align-right"><span class="emphasized"></span>&dollar; </div>
          </div>
          <div class="row">
            <div class="col-8 align-right description">
              <div class="dive">Taxes</div>
            </div>
            <div class="col-4 align-right"><span class="emphasized"></span>&dollar;</div>
          </div>
          <div class="row">
            <div class="col-8 align-right description">
              <div class="dive">Shipping</div>
            </div>
            <div class="col-4 align-right"><span class="emphasized"></span>&dollar; 5</div>
            <hr>
            <div class="row">
              <div class="col-8 align-right description">
                <div class="dive">Total</div>
              </div>
              <div class="col-4 align-right"><span class="very emphasized"></span>&dollar;</div>
            </div>
            <ng-template #noItems>
              <div class="empty-cart" style="text-align: center;">
                <p>Cart is empty</p>
              </div>
            </ng-template>
            <ng-template #no>
              <!-- Empty content -->
            </ng-template>

          </div>
        </div>

        <div class="back-to-shop">
          <a routerLink="/menu" routerLinkActive="äctive"><i class="fas fa-arrow-left"></i></a>
          <span class="text-muted">Go to menu</span>
        </div>
      </div>
    </div>
  </div>
