<div>
  <div class="order-info">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div>
            <h5 style="text-align: center;"><b>Thông tin khách hàng</b></h5>
          </div>
          <hr>
          <div class="order-details" *ngIf="data">
            <div class="row">
              <div class="form-group">
                <label for="name">Họ tên :</label>
              </div>
              <div class="form-group">
                <span style="float: left; font-weight: bold;">{{data?.consigneeName}}</span>
              </div>
              <div class="form-group">
                <label for="email">Email :</label>
              </div>
              <div class="form-group">
                <span style="float: left; font-weight: bold;">{{data?.email}}</span>
              </div>
              <div class="form-group">
                <label for="phone">Điện thoại:</label>
              </div>
              <div class="form-group">
                <span style="float: left; font-weight: bold;">{{data?.guestPhone}}</span>
              </div>
              <div class="form-group">
                <label for="time">Thời gian nhận hàng:</label>
              </div>
              <div class="form-group">
                <span style="float: left; font-weight: bold;">{{data?.receivingTime | date:'dd/MM/yyyy'}} -
                  {{data?.receivingTime | date:'shortTime'}}</span>
              </div>
              <div class="form-group">
                <label for="address">Địa chỉ nhận hàng:</label>
              </div>
              <div class="form-group">
                <span style="font-weight: bold;">{{data?.guestAddress}}</span>
              </div>
              <div class="form-group">
                <label for="address">Ghi chú:</label>
              </div>
              <div class="form-group">
                <span style="font-weight: bold;">{{data.note}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card">
          <div class="success-message">
            <div class="row">
              <div class="col-md-12">
                <h4 class="text-center"><b>Đặt hàng thành công !!!</b></h4>
                <h4 class="text-center"><b>Đơn hàng của bạn đang được xử lý.</b></h4>
                <h3 class="text-center"><b>Nhân viên của quán sẽ liên lạc lại với bạn trong ít phút để xác nhận đơn
                    hàng.</b></h3>
              </div>
            </div>
          </div>

          <div class="col-md-12 cart">
            <div>
              <div class="cart-container">
                <div class="cart-header">
                  <!-- Đây là vị trí của tiêu đề Quantity -->
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                      <h5><b>Đồ ăn</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Đơn giá</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Số lượng</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Tổng tiền</b></h5>
                    </div>
                  </div>
                </div>
                <div class="cart-items">
                  <div class="row border-top border-bottom" *ngFor="let item of data?.orderDetails">
                    <div class="row main align-items-center">
                      <div class="col-2">
                        <img class="img-fluid" [src]="item.imageUrl" alt="Item Image"
                          style="max-width: 100%; height: 56px;">
                      </div>
                      <div class="col">
                        <div>{{ item.itemName || item.nameCombo }}</div>
                      </div>
                      <div class="col">
                        <div>{{ item.discountedPrice || item.price | currencyFormat}}</div>
                      </div>
                      <div class="col">
                        <span>{{ item.quantity }}</span>
                      </div>
                      <div class="col price-close" style="align-items:center;">
                        <span class="price">{{ item.unitPrice | currencyFormat}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="col-12 panel-footer basket-footer">
              <div class="row">
                <div class="col-12 text-right">
                  <div class="dive">Khuyến mãi: <span class="very emphasized">{{data?.discountPriceOrder | currencyFormat}}</span></div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-12 text-right">
                    <div class="dive">Tổng hóa đơn: <span class="very emphasized">{{data?.totalAmount |
                        currencyFormat}}</span></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="back-to-shop">
              <a routerLink="/menu" routerLinkActive="active"><i class="fas fa-arrow-left"></i>Thực đơn</a>
              <button *ngIf="!orderCancelled" class="btn btn-danger" (click)="cancelOrder()">Hủy đơn hàng</button>
              <button *ngIf="orderCancelled" class="btn btn-primary" (click)="reorder()">Mua lại</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
