<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Completion Page</title>
</head>

<body>
  <div class="order-page">
    <header>
      <button class="back-btn" (click)="goBack()">&lt; TRỞ LẠI</button>
      <div class="order-info">
        <span class="order-id">MÃ ĐƠN HÀNG: {{orderDetail?.orderId}}</span>
        <!-- <span class="order-status">ĐƠN HÀNG ĐÃ HOÀN THÀNH</span> -->
        <span *ngIf="orderDetail?.status === 4" class="text-success">TRẠNG THÁI ĐƠN HÀNG: HOÀN THÀNH</span>
        <span *ngIf="orderDetail?.status === 1" style="color: rgb(69, 69, 18);">TRẠNG THÁI ĐƠN HÀNG: ĐỢI XÁC NHẬN</span>
        <span *ngIf="orderDetail?.status === 8" style="color: blue;">TRẠNG THÁI ĐƠN HÀNG: ĐANG GIAO HÀNG</span>
        <span *ngIf="orderDetail?.status === 5" class="text-danger">TRẠNG THÁI ĐƠN HÀNG: ĐÃ HỦY</span>
      </div>
    </header>

    <section class="shipping-info">
      <div class="shipping-details">
        <h2>Địa Chỉ Nhận Hàng</h2>
        <p>{{orderDetail?.consigneeName}}</p>
        <p>{{orderDetail?.guestPhone}}</p>
        <p>{{orderDetail?.guestAddress}}</p>
      </div>
    </section>
    <hr>
    <section class="order-summary">
      <div class="pr">
        <div *ngFor="let item of orderDetail?.orderDetails" class="product">
          <img [src]="item.imageUrl" [alt]="item.itemName" class="product-image">
          <div class="product-details">
            <h3>{{ item.itemName }}</h3>
            <p>Số lượng: {{ item.quantity }}</p>
          </div>
          <div class="product-price">{{ item.unitPrice | currencyFormat}}</div>
        </div>
      </div>


      <div class="price-breakdown">
        <div class="price-total">
          <span>Tổng tiền hàng:</span>
          <span>{{orderDetail?.totalAmount | currencyFormat}}</span>
        </div>
        <div class="price-total">
          <span>Khuyến mãi:</span>
          <span>{{orderDetail?.totalAmount*orderDetail?.discountPercent/100 | currencyFormat}}</span>
        </div>
        <div class="price-total">
          <span>Thành tiền:</span>
          <span>{{orderDetail?.totalAmount - (orderDetail?.totalAmount*orderDetail?.discountPercent/100) |
            currencyFormat}}</span>
        </div>
      </div>
      <hr>
      <div>
        <p>Phương thức thanh toán: {{orderDetail?.deposits===0?'Thanh toán khi nhận hàng':'Thanh toán bằng ví'}}</p>
        <button class="buy-again-btn" *ngIf="orderDetail?.status!==5">Mua Lại</button>
      </div>
    </section>
  </div>
</body>

</html>
