body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.order-page {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 10px;
}

.back-btn {
  background-color: #fff;
  border: none;
  color: #ff4500;
  font-size: 16px;
  cursor: pointer;
}

.order-info {
  text-align: right;
}

.order-id {
  display: block;
  font-size: 16px;
}

.order-status {
  color: #ff4500;
  font-weight: bold;
}

.order-steps {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.step {
  width: 18%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
  color: #999;
}

.step.completed {
  background-color: #ff4500;
  color: #fff;
}

.buy-again-btn, .contact-seller-btn {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ff4500;
  color: white;
  border: none;
  padding: 10px 0;
  margin: 10px 0;
  cursor: pointer;
}

.shipping-info, .order-summary {
  margin: 20px 0;
}

.shipping-info h2, .order-summary h2 {
  font-size: 18px;
  color: #333;
  padding-bottom: 5px;
}

.shipping-details p {
  margin: 5px 0;
}

.shipping-timeline .timeline-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #f4f4f4;
}

.timeline-time {
  color: #999;
}

.timeline-status {
  color: #333;
}

.timeline-description {
  color: #666;
}
.pr{
  max-height: 400px; /* Giới hạn chiều cao tối đa */
  overflow-y: auto;  /* Thêm thanh cuộn dọc nếu nội dung vượt quá chiều cao */
  padding-right: 10px; /* Khoảng cách nhỏ cho nội dung tránh đụng vào thanh cuộn */
}
.product {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 2px solid #f4f4f4;

}

.product img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}

.product-details {
  flex: 1;

}


.product-details h3 {
  font-size: 16px;
  margin: 0;
}

.product-details p {
  color: #666;
  margin: 5px 0;
}

.product-price {
  font-size: 18px;
  color: #ff4500;
}

.price-breakdown {
  margin: 20px 0;
}

.price-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.price-total {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
}

.payment-method {
  background-color: #ff4500;
  color: white;
  padding: 10px;
  text-align: center;
}
