<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Food Lover</title>
</head>

<body>
  <!-- Hero Section -->
  <div class="sections flex" id="hero-section">
    <div class="text">
      <h1 class="primary">
        Chào Mừng Đến Với Eating House <br />
        Nơi Tận Hưởng Hương Vị Tuyệt Vời
      </h1>

      <p class="tertiary">

      </p>
      <br><br><br><br><br><br>
      <a routerLink="/menu" routerLinkActive="äctive" class="btn">Xem thực đơn</a>
    </div>
    <div class="visual">
      <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/home-banner.png" alt="" />
    </div>
  </div>
  <!-- End Hero Section -->
  <br><br>
  <!-- How It Works -->
  <div class="section" id="how-it-works">
    <h2 class="secondary">Tiêu Chí</h2>

    <div class="container flex">
      <div class="box">
        <h3>Đặt hàng dễ dàng</h3>
        <i class="fas fa-clock"></i>
        <p>
          Việc đặt hàng trở nên thuận tiện và đơn giản, giúp bạn tiết kiệm thời gian.
        </p>
      </div>

      <div class="box active">
        <h3>Chất lượng tốt nhất</h3>
        <i class="fas fa-trophy"></i>
        <p>
          Chúng tôi cam kết mang đến sản phẩm với chất lượng hàng đầu, đáp ứng mọi yêu cầu khắt khe nhất.
        </p>
      </div>

      <div class="box">
        <h3>Giao hàng nhanh chóng</h3>
        <i class="fas fa-check-circle"></i>
        <p>
          Đảm bảo giao hàng nhanh chóng và an toàn đến tận tay khách hàng.
        </p>
      </div>
    </div>
  </div>

  <!-- End How It Works -->

  <br><br><br>
  <hr>

  <!-- Restaurant Menu -->
  <div class="section-menu" id="menu">
    <div class="container">

      <div class="secondary">Món Ăn Đặc Sắc</div>
      <hr>
      <ul class="category" *ngIf="category$ | async as categories">
        <li
          (click)="filterByCategory(null)"
          [class.active]="!selectedCategory">
          All
        </li>
        <li
          *ngFor="let category of categories"
          (click)="filterByCategory(category.categoryName)"
          [class.active]="selectedCategory === category.categoryName">
          {{ category.categoryName }}
        </li>
      </ul>


      <div class="container" *ngIf="dishs$ | async as dishs">
        <div class="restaurant-menu">
          <div class="menu-item" *ngFor="let item of dishs | slice:0:6; let i = index">
            <img [src]="item.imageUrl" [alt]="item.itemName" width="200" height="200"
              (click)="showDetails(item, 'dish')">

            <div class="title">{{ item.itemName }}</div>

            <div class="order flex">
              <div class="price">
                <span class="price-container">
                  <span *ngIf="item.discountedPrice" class="discounted-price">{{ item.discountedPrice |
                    currencyFormat}}</span>
                  <span [class]="item.discountedPrice ? 'original-price' : 'no-discount'">{{ item.price |
                    currencyFormat}}</span>
                </span>
              </div>
              <a (click)="addToCart(item, 'dish')" class="btn btn-menu">Thêm vào giỏ hàng</a>
            </div>
          </div>

        </div>
        <a routerLink="/menu" routerLinkActive="äctive" class="btn">Xem thực đơn</a>
      </div>
    </div>
  </div>
  <!-- End Restaurant Menu -->
  <hr><br>
  <!-- About -->
  <div class="section" id="about">
    <div class="container flex">
      <div class="visual">
        <img src="https://th.bing.com/th/id/R.dd4e0ef500b38471ba3bfe674e66e7c1?rik=gG6GRr%2fmc1bAgw&pid=ImgRaw&r=0"
          alt="" />
      </div>
      <div class="text">
        <div class="secondary">Về Chúng Tôi</div>

        <p>
          Chúng tôi tự hào mang đến những món ăn đậm đà hương vị từ ba miền Bắc, Trung, Nam của Việt
          Nam. Từ phở Hà Nội, bún bò Huế đến cơm tấm Sài Gòn, mỗi món ăn tại quán đều được chế biến từ nguyên liệu tươi
          ngon nhất, kết hợp với bí quyết nấu ăn gia truyền.
        </p>
        <br>
        <p>
          Sứ mệnh của chúng tôi là mang đến trải nghiệm ẩm thực tuyệt vời với dịch vụ thân thiện và không gian
          ấm cúng. Chúng tôi mong muốn tạo ra một nơi mà khách hàng có thể thưởng thức những bữa ăn chất lượng trong một
          không gian gần gũi, thân thiện.
        </p>

      </div>
    </div>
  </div>
  <!-- End About -->

  <!-- Popup for item details -->
  <div *ngIf="selectedItem" class="popup" (click)="closePopup()">
    <div class="popup-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closePopup()">&times;</span>
      <div class="details-container">
        <div class="image-container">
          <img *ngIf="selectedItem.imageUrl" [src]="selectedItem.imageUrl"
            alt="{{ selectedItem.nameCombo || selectedItem.itemName }}" width="200" height="200">
        </div>
        <div class="info-container">
          <h2>{{ selectedItem.nameCombo || selectedItem.itemName }}</h2>
          <p> <span class="price-container">
              <span *ngIf="selectedItem.discountedPrice" class="discounted-price">{{ selectedItem.discountedPrice |
                currencyFormat}}</span>
              <span [class]="selectedItem.discountedPrice ? 'original-price' : 'no-discount'">{{ selectedItem.price |
                currencyFormat}}</span>
            </span></p>
          <p>{{ selectedItem.itemDescription }}</p>
          <!-- Add more detailed information as needed -->
          <button (click)="addToCart(selectedItem, 'dish')" class="add-to-cart " style="margin-left: 200px;">Thêm vào
            giỏ hàng</button>

        </div>
      </div>
    </div>
  </div>

</body>

</html>
