<div class="app">
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="app-body">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="padding: 12px;">
      <app-SidebarOrder></app-SidebarOrder>
    </nav>
    <div class="app-body-main-content">

      <div class="refund-content">

        <section class="payment-section">
          <div>
            <button class="status-button" [ngClass]="{'active': selectedStatusFun === 'unrefun'}"
              (click)="selectedStatusFun = 'unrefun'; filterOrdersByStatus()" selected>
              Đơn hàng chưa hoàn tiền
            </button>
            <button class="status-button" [ngClass]="{'active': selectedStatusFun === 'refun'}"
              (click)="selectedStatusFun = 'refun'; filterOrdersByStatus()">
              Đơn hàng đã hoàn tiền
            </button>
          </div>

          <br>
          <!-- Kiểm tra xem có đơn hàng không -->
          <div *ngIf="filteredOrdersCancel.length === 0" class="no-orders-message">
            <p>Không có đơn hàng nào.</p>
          </div>

          <table class="order-table" *ngIf="filteredOrdersCancel.length > 0">
            <thead>
              <tr>
                <th>Mã đơn hàng</th>
                <th>Tên khách hàng</th>
                <th>Số điện thoại</th>
                <th>Ngày đặt hàng</th>
                <th>Trạng thái đơn hàng</th>
                <th>Lý do hủy</th>
                <th *ngIf="selectedStatusFun ==='unrefun'">Tổng tiền phải hoàn trả</th>
                <th *ngIf="selectedStatusFun ==='refun'">Tổng tiền đã hoàn trả</th>
                <th *ngIf="selectedStatusFun ==='refun'"> Nhân viên hoàn tiền</th>
                <th *ngIf="selectedStatusFun ==='refun'"> Ngày hoàn tiền</th>
                <th></th>
              </tr>
            </thead>
            <tbody class="scrollable-tbody">
              <ng-container *ngFor="let order of filteredOrdersCancel">
                <tr>
                  <td>{{order.orderId}}</td>
                  <td>{{order.consigneeName}}</td>
                  <td>{{order.guestPhone}}</td>
                  <td>{{order.orderDate | date:'dd/MM/yyyy HH:mm'}}</td>
                  <td>{{ order.status === 8?'Đã hoàn tiền':'Đã hủy'}}</td>
                  <td> {{order.cancelationReason}}</td>
                  <td>{{ (order.deposits > 0 ? order.deposits : order.totalAmount) | currencyFormat }}</td>
                  <td *ngIf="selectedStatusFun ==='unrefun'">
                    <button class="action-button view-button" (click)="showDetails(order)">
                      <i class="fas fa-eye"></i>
                    </button>
                    <button class="action-button complete-button" data-bs-toggle="modal"
                      data-bs-target="#confirmationModal" (click)="getOrderCancel(order)">
                      Xác nhận hoàn tiền
                    </button>
                  </td>
                  <td *ngIf="selectedStatusFun ==='refun'"> {{order.staffFirstName}} {{order.staffLastName}}</td>
                  <td *ngIf="selectedStatusFun ==='refun'"> {{order.refundDate | date:'dd/MM/yyyy - HH:mm'}}</td>
                  <td *ngIf="selectedStatusFun ==='refun'">
                    <button class="action-button view-button" (click)="showDetails(order)">
                      <i class="fas fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </section>
      </div>
    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="confirmation-text">
          Xác nhận đã hoàn tiền cho khách hàng <span
            class="customer-name">{{orderCancelMoney?.consigneeName}}</span><br>
          Số điện thoại: <span class="customer-phone">{{orderCancelMoney?.guestPhone}}</span><br>
          Số tiền: <span class="refund-amount">{{orderCancelMoney?.deposits | currencyFormat}}</span>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceModal"
          (click)="updateOrderStatus(orderCancelMoney?.orderId,orderCancelMoney?.accountId)">Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>


<!-- Popup for item details -->
<div *ngIf="selectedItem" class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="details-container">
      <h3>Đơn hàng: {{selectedItem.orderId}}</h3>
      <p *ngIf="selectedItem.type ===1">Loại đơn: Mang về</p>
      <p *ngIf="selectedItem.type ===2">Loại đơn: Giao hàng</p>
      <p *ngIf="selectedItem.type ===3">Loại đơn: Đặt bàn</p>
      <p>Tên người nhận: {{selectedItem.consigneeName}}</p>
      <p>Số điện thoại: {{selectedItem.guestPhone}}</p>
      <p>Địa chỉ: {{selectedItem.guestAddress}}</p>
      <p>Thời gian đặt hàng: {{ selectedItem.orderDate | date:'dd/MM/yyyy - HH:mm' }}</p>
      <p>Thời gian nhận hàng: {{ selectedItem.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}</p>
      <p *ngIf="selectedStatusFun==='unrefun'">Trạng thái: Đã hủy - Chưa hoàn tiền</p>
      <p *ngIf="selectedStatusFun==='refun'">Trạng thái: Đã hủy - Đã hoàn tiền</p>
      <p *ngIf="selectedStatusFun==='refun'">Nhân viên hoàn tiền : {{ employ.staffFirstName}} {{employ.staffLastName}}</p>

      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Món ăn</th>
            <th>Số lượng</th>
            <th>Hoàn thành</th>
            <th>Tổng số tiền</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of selectedItem.orderDetails">
            <tr>
              <td>{{ item.nameCombo || item.itemName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.dishesServed }}</td>
              <td>{{ item.unitPrice | currencyFormat }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="summary-section mt-4">
        <div class="row">
          <!-- First Column -->
          <div class="col-md-6">
            <div class="d-flex justify-content-between" *ngIf="selectedItem.discountPercent">
              <span class="fw-bold">Tạm tính:</span>
              <span>{{ selectedItem.totalAmount | currencyFormat }}</span>
            </div>
            <div *ngIf="selectedItem.discountPercent" class="d-flex justify-content-between">
              <span class="fw-bold">Giảm giá:</span>
              <span>{{ selectedItem.totalAmount*selectedItem.discountPercent/100 | currencyFormat }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <span class="fw-bold">Tổng cộng:</span>
              <span>{{ selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100) |
                currencyFormat }}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="selectedItem.type ===3">
              <span class="fw-bold">Đã trả trước:</span>
              <span>{{ (selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100))/2 |
                currencyFormat }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
