<div class="app">
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="app-body">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="padding: 12px;">
      <app-SidebarOrder></app-SidebarOrder>
    </nav>
    <div class="app-body-main-content">
      <div class="cod-content">
        <section class="payment-section">
          <div class="header-section">
            <h2>Đơn giao hàng</h2>
            <select class="employee-select" [(ngModel)]="selectedEmployee" (change)="filterOrders()">
              <option value="">Tất cả nhân viên</option>
              <option *ngFor="let employee of employees" [value]="employee.accountId">
                {{employee.firstName}} {{employee.lastName}}
              </option>
            </select>
          </div>
          <br>
          <div>
            <button class="status-button" [ngClass]="{'active': selectedStatus === 'unpaid'}"
              (click)="selectedStatus = 'unpaid'; filterOrders()" selected>
              Chưa thu tiền
            </button>
            <button class="status-button" [ngClass]="{'active': selectedStatus === 'paid'}"
              (click)="selectedStatus = 'paid'; filterOrders()">
              Đã thu tiền
            </button>
          </div>
          <!-- Kiểm tra xem có đơn hàng không -->
          <div *ngIf="filteredOrders.length === 0" class="no-orders-message">
            <p>Không có đơn hàng nào.</p>
          </div>
          <table class="order-table" *ngIf="filteredOrders.length > 0">
            <thead>
              <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày giao hàng</th>
                <th>Trạng thái đơn hàng</th>
                <th>Tổng tiền phải thu</th>
                <th>Thu của nhân viên</th>
                <th *ngIf="selectedStatus === 'paid'">Người thu tiền</th>
                <th *ngIf="selectedStatus === 'unpaid'"></th>
                <th></th>
              </tr>
            </thead>
            <tbody class="scrollable-tbody">
              <ng-container *ngFor="let order of filteredOrders">
                <tr>
                  <td>{{order.orderId}}</td>
                  <td>{{order.recevingOrder | date:'dd/MM/yyyy '}}</td>
                  <td>{{ order.status === 4?'Hoàn thành':'Đang giao hàng'}}</td>
                  <td>{{ order.totalPaid | currencyFormat}}</td>
                  <td>
                    {{order.firstName}} {{order.lastName}}
                  </td>
                  <td *ngIf="order.paymentStatus===0">Chưa thanh toán cho thu ngân</td>
                  <td *ngIf="order.paymentStatus===1"> {{order.collectedFirstName}} {{order.collectedLastName}}</td>
                  <td *ngIf="order.paymentStatus===0">
                    <button class="action-button view-button" (click)="showDetails(order)">
                      <i class="fas fa-eye"></i>
                    </button>
                    <button class="action-button complete-button" data-bs-toggle="modal"
                      data-bs-target="#confirmationModal" (click)="getOrderShip(order)">
                      Thu tiền
                    </button>
                  </td>
                  <td *ngIf="order.paymentStatus===1">
                    <button class="action-button view-button" (click)="showDetails(order)">
                      <i class="fas fa-eye"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
          <br>
          <div class="payment-section-footer" *ngIf="filteredOrders.length > 0 && selectedStatus === 'unpaid'">
            <h4>Số tiền phải thu: {{ totalAmountDue() | currencyFormat }}</h4>
            <button type="button" class="btn btn-primary" (click)="prepareCollectAllModal(); openModal()"
              *ngIf="selectedEmployee">
              Thu tất cả
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>

<div id="confirmationModal" class="modal fade" tabindex="-1" aria-labelledby="confirmationModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="confirmation-text">
          Xác nhận thu tiền <span class="customer-name">{{orderShipper?.firstName}}{{orderShipper?.lastName}}</span><br>
          Số tiền: <span class="refund-amount">{{orderShipper?.totalPaid | currencyFormat}}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceModal"
          (click)="update(orderShipper.orderId, orderShipper.totalPaid, orderShipper.staffId)">Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Thu Tất Cả -->
<div #collectAllModal class="modal-total fade" tabindex="-1" aria-labelledby="collectAllModalLabel" aria-hidden="true">
  <div class="modal-dialog-total">
    <div class="modal-content-total">
      <div class="modal-header-total">
        <h5 class="modal-title-total" id="collectAllModalLabel">Xác nhận thu tất cả</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body-total">
        <p class="confirmation-text">
          Nhân viên giao hàng: <span class="employee-name">{{ selectedEmployeeName }}</span><br>
          Tổng số tiền phải thu: <span class="total-amount">{{ totalAmountDue() | currencyFormat }}</span>
        </p>
      </div>
      <div class="modal-footer-total">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="collectAllPayments()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup for item details -->
<div *ngIf="selectedItem" class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="details-container">
      <h3>Đơn hàng: {{selectedItem.orderId}}</h3>
      <p *ngIf="selectedItem.type ===1">Loại đơn: Mang về</p>
      <p *ngIf="selectedItem.type ===2">Loại đơn: Giao hàng</p>
      <p *ngIf="selectedItem.type ===3">Loại đơn: Đặt bàn</p>
      <p>Tên người nhận: {{selectedItem.consigneeName}}</p>
      <p>Số điện thoại: {{selectedItem.guestPhone}}</p>
      <p>Địa chỉ: {{selectedItem.guestAddress}}</p>
      <p>Thời gian đặt hàng: {{ selectedItem.orderDate | date:'dd/MM/yyyy - HH:mm' }}</p>
      <p>Thời gian nhận hàng: {{ selectedItem.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}</p>
      <p>Nhân viên giao hàng: {{ employ.firstName}} {{employ.lastName}}</p>
      <p *ngIf="selectedStatus==='unpaid'">Trạng thái: Giao hàng thành công - Chưa thanh toán cho thu ngân</p>
      <p *ngIf="selectedStatus==='paid'">Trạng thái: Giao hàng thành công - Đã thanh toán cho thu ngân</p>
      <p *ngIf="selectedStatus==='paid'">Nhân viên thu tiền : {{ employ.collectedFirstName}} {{employ.collectedLastName}}</p>

      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Món ăn</th>
            <th>Số lượng</th>
            <th>Hoàn thành</th>
            <th>Tổng số tiền</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of selectedItem.orderDetails">
            <tr>
              <td>{{ item.nameCombo || item.itemName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.dishesServed }}</td>
              <td>{{ item.unitPrice | currencyFormat }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="summary-section mt-4">
        <div class="row">
          <!-- First Column -->
          <div class="col-md-6">
            <div class="d-flex justify-content-between" *ngIf="selectedItem.discountPercent">
              <span class="fw-bold">Tạm tính:</span>
              <span>{{ selectedItem.totalAmount | currencyFormat }}</span>
            </div>
            <div *ngIf="selectedItem.discountPercent" class="d-flex justify-content-between">
              <span class="fw-bold">Giảm giá:</span>
              <span>{{ selectedItem.totalAmount*selectedItem.discountPercent/100 | currencyFormat }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <span class="fw-bold">Tổng cộng:</span>
              <span>{{ selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100) |
                currencyFormat }}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="selectedItem.type ===3">
              <span class="fw-bold">Đã trả trước:</span>
              <span>{{ (selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100))/2 |
                currencyFormat }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
