<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/invoice']" routerLinkActive="active">
          <span data-feather="file"></span>
          Thống kê
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/managerdish']" routerLinkActive="active">
          <span data-feather="menu"></span>
          Quản lý món ăn
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manageDiscount']" routerLinkActive="active">
          <span data-feather="tag"></span>
          Quản lý giảm giá
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manageNew']" routerLinkActive="active">
          <span data-feather="file-text"></span>
          Quản lý bài viết
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manageCategory']" routerLinkActive="active">
          <span data-feather="list"></span>
          Quản lý thể loại
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/manageTable']" routerLinkActive="active">
          <span data-feather="table"></span>
          Quản lý phòng/bàn
        </a>
      </li>
    </ul>
  </div>
</nav>
