/* CSS */
.custom-select {
    position: relative;
  }
  
  .select-wrapper {
    position: relative;
  }
  
  .select-wrapper .select-arrow {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
  }
  
  .select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 30px;
  }
  table img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
  }
.custom-heading {
    font-family: 'Arial', sans-serif; 
    font-size: 24px;
    color: #333; 
    font-weight: bold; 
    text-transform: uppercase; 
    text-decoration: underline;
  }
  .small-img-thumbnail {
    width: 100px; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
  }
  .note-column {
    width: 300px; /* Bạn có thể điều chỉnh chiều rộng theo nhu cầu */
  }
  .btn-custom-brown {
    background-color: #8B4513; /* Brown color */
    border: none; /* Remove border if desired */
    color: white; /* Text color for better contrast */
}
.btn-custom-brown:hover {
  background-color: #6F3E02; /* Darker brown for hover effect */
}
.modal-body-scroll {
  max-height: 60vh; /* Adjust as needed */
  overflow-y: auto;
}
