<app-HeaderOrderStaff></app-HeaderOrderStaff>
<div class="container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a (click)="setView('table-layout')">QUẢN LÝ BÀN </a>
          <ul>
            <li><a [class.active]="currentView === 'table-layout'" (click)="setView('table-layout')"
                (click)="getTableData()">Sơ đồ bàn</a></li>
            <li><a [class.active]="currentView === 'booking-request'" (click)="setView('booking-request')"
                (click)="getReservation()">Yêu cầu đặt
                bàn</a></li>
            <li><a [class.active]="currentView === 'booking-schedule'" (click)="setView('booking-schedule')"
                (click)="getReservationData()">Lịch đặt
                bàn</a></li>
            <li><a [class.active]="currentView === 'booking-history'" (click)="setView('booking-history')"
                (click)="getReservationList()">Lịch sử đặt
                bàn</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">

    <header>
      <a href="javascript:history.back()" class="back-link">
        <i class="fas fa-arrow-left back-icon"></i>
      </a>
      <h2 *ngIf="currentView === 'table-layout'">Sơ đồ bàn</h2>
      <h2 *ngIf="currentView === 'booking-request'">Yêu cầu đặt bàn</h2>
      <h2 *ngIf="currentView === 'booking-schedule'">Lịch đặt bàn</h2>
      <h2 *ngIf="currentView === 'booking-history'">Lịch sử đặt bàn</h2>
      <h2 *ngIf="currentView === 'detail-reservation'">Chi tiết đơn đặt bàn</h2>


      <div class="col-md-3" *ngIf="currentView === 'booking-schedule'">
        <div class="input-group">
          <label class="input-group-text" for="dateFrom">Từ ngày</label>
          <input type="date" id="dateFrom" class="form-control" [(ngModel)]="dateFrom" [min]="dateNow"
            (change)="onDateFromChange()">
        </div>
      </div>
      <div class="col-md-3" *ngIf="currentView === 'booking-schedule'">
        <div class="input-group">
          <label class="input-group-text" for="dateTo">Đến ngày</label>
          <input type="date" id="dateTo" class="form-control" [(ngModel)]="dateTo" [min]="dateFrom"
            (change)="onDateToChange()">
        </div>
      </div>


      <select id="timeframe" name="timeframe" *ngIf="currentView === 'table-layout'" [(ngModel)]="selectedTable "
        (ngModelChange)="filterTablesByFloorAndStatus(selectedTable)" class="floor-select"
        style="width: 20%;padding: 5px;">
        <option value="all">Tất cả bàn</option>
        <option value="empty">Bàn trống</option>
      </select>

    </header>
    <hr>

    <section *ngIf="currentView === 'table-layout'">
      <div class="container">
        <div class="card short-card">
          <div class="table-layout-buttons">
            <button *ngFor="let floor of getFloors()" (click)="getTableOFFloor(floor)"
              [class.active]="selectedFloor === floor">
              {{ floor }}
            </button>
          </div>
        </div>

        <div class="card">
          <div class="table-grid">
            <div class="table" *ngFor="let table of dataTable">
              {{ table.lable }}<br>
              <hr>{{ table.status === 0 ? 'Bàn trống' : 'Đang sử dụng' }}
              <span class="icon-sl"><i class="fas fa-chair"></i>{{ table.capacity }}</span>
              <span class="icon-table" *ngIf="table.status === 1">&#10004;</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="currentView === 'booking-schedule'">
      <div class="container">
        <div class="card">
          <div class="reservation-grid">
            <div class="reservation" *ngFor="let reservation of dataReservationAccept; let i = index">
              <div class="row">
                <div class="cell">
                  <span class="data">{{reservation.consigneeName}} - {{reservation.guestPhone}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3" style="display: flex; justify-content: center; align-items: center;"
                  *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length > 1">
                  <span class="number-table">{{ reservation.tableOfReservation[0].lable }}</span>
                  <span style="font-weight: bold; font-size: 24px; cursor: pointer;"
                    (click)="openTableModal(i)">...</span>
                </div>
                <div class="custom-modal" *ngIf="showModals[i]">
                  <div class="custom-modal-content">
                    <h2>Danh sách các bàn đã xếp </h2>
                    <div *ngFor="let table of reservation.tableOfReservation">
                      <span class="number-table">{{ table.lable }}</span>
                    </div>
                    <button (click)="closeTableModal(i)">Đóng</button>
                  </div>
                </div>
                <div class="custom-modal-overlay" *ngIf="showModals[i]"></div>

                <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;"
                  *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length === 1">
                  <span class="number-table">{{ reservation.tableOfReservation[0].lable }}</span>
                </div>

                <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;"
                  *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length === 0">
                  <span class="number-table">?</span>
                </div>
                <div class="vertical-line"></div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="cell">
                        <span>{{ reservation.reservationTime | date:'dd/MM/yyyy HH:mm' }}</span>
                      </div>
                    </div>
                    <div class="vertical-line"></div>
                    <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;">
                      <div class="cell">
                        <span class="data"><i class="fas fa-user"></i> {{reservation.guestNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="cell">
                    <span class="data"><i class="fas fa-coins"></i> {{reservation.deposits | currencyFormat}}</span>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4" style="height: 20px;">
                  <div class="dropdown" style="position: relative;display: inline-block;">
                    <button class="icon" (click)="toggleDropdown(i)">...</button>
                    <div class="dropdown-content" [class.show]="reservation.isDropdownOpen">
                      <a *ngIf="reservation.tableOfReservation.length===0"
                        (click)="openPopup(reservation.reservationId,reservation.reservationTime )">Xếp bàn</a>
                      <a *ngIf="reservation.tableOfReservation.length>0"
                        (click)="deleteTable(reservation.reservationId, reservation.tableOfReservation)">Thay đổi
                        bàn</a>
                      <a (click)="openCancelModal(reservation.reservationId)">Hủy đặt bàn</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-8" style="display: flex;justify-content: center;align-items: center;height: 20px;">
                  <span class="label-reser"
                    (click)="checkAndConfirmReservation(reservation.reservationId, 3, reservation.order?.orderId, reservation?.reservationTime, reservation.tableOfReservation, i)"
                    [class.disabled]="!reservation.tableOfReservation || reservation.tableOfReservation.length === 0"
                    *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length > 0 ">
                    Khách nhận bàn
                  </span>
                </div>
                <div *ngIf="errorMessages[i]" class="alert alert-danger" style="max-width: 500px;">
                  {{ errorMessages[i] }}
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="!dataReservationAccept || dataReservationAccept.length === 0" style="text-align: center;">
            <p>Không có đơn đặt bàn cho ngày hôm nay</p>
          </div>
          <div class="pagination" *ngIf="totalPages > 0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">
              <i class="fas fa-arrow-left"></i> <!-- Icon mũi tên trái -->
            </button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">
              <i class="fas fa-arrow-right"></i> <!-- Icon mũi tên phải -->
            </button>
          </div>
        </div>
      </div>

      <div *ngIf="isModalVisible" class="reservation-backdrop"></div>
      <div class="reservation-modal" [ngStyle]="{'display': isModalVisible ? 'block' : 'none'}">
        <div class="reservation-modal-content">
          <h4>Xác nhận khách nhận bàn</h4><br>
          <p class="modal-text">Họ tên: {{guestInfo?.consigneeName}}</p>
          <p class="modal-text">Số điện thoại: {{guestInfo?.guestPhone}}</p>
          <p class="modal-text">Số lượng người: {{guestInfo?.guestNumber}} người</p>
          <p class="modal-text">Thời gian đặt bàn: {{guestInfo?.reservationTime | date:'dd/MM/yyyy - HH:mm' }}</p>
          <p *ngIf="modalMessage" class="modal-text" style="color: red;">{{ modalMessage }}</p>
          <p *ngIf="modalMessage" class="modal-text" style="color: red;">Bạn có chắc cho khách nhận nhận bàn?</p>
        </div>
        <div *ngIf="messageerrorTable" class="alert alert-danger" style="color: red; margin-top: 10px;">
          {{ messageerrorTable }}
        </div>
        <div class="reservation-modal-footer">
          <button (click)="confirmReservation()">Xác nhận</button>
          <button (click)="cancelReservation()">Hủy</button>
        </div>
      </div>

      <!-- Main Modal -->
      <div class="modal fade" id="updateTimeModal" tabindex="-1" role="dialog" aria-labelledby="updateTimeModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="overflow: auto;">
            <div class="modal-header">
              <h5 class="modal-title" id="updateTimeModalLabel">Đăng ký bàn</h5>
              <div class="text-center text-white flex-fill" style="font-size: 18px;">
                {{ reservationTimeSelected | date: 'dd/MM/yyyy - HH:mm' }}
              </div>
              <span type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closePopup()">&times;</span>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="table-status-container">
                  <p>Xếp bàn cho {{guestNumber}} người:
                    <span *ngIf="getSelectedTableNames().length > 0">
                      Đã chọn: {{ getSelectedTableNames().join(', ') }}
                    </span>
                    <span *ngIf="getSelectedTableNames().length === 0">
                      Chưa chọn phòng/bàn
                    </span>
                  </p>
                  <div class="checkbox-container">
                    <label *ngIf="ishas===false">
                      <i class="fas fa-times-circle" style="color: red;"></i> <span style="color: red;">Chưa đủ</span>
                    </label>
                    <label *ngIf="ishas===true">
                      <i class="fas fa-check-circle" style="color: green;"></i> <span style="color: green;">Đã đủ</span>
                    </label>
                  </div>
                </div>
                <div class="col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <select id="floor" name="floor" [(ngModel)]="selectedFloor"
                    (change)="getTableOFFloorEmpty(selectedFloor,reservationTimeSelected)" class="floor-select">
                    <option *ngFor="let floor of getFloors()" [value]="floor" [class.active]="selectedFloor === floor">
                      {{ floor }}
                    </option>
                  </select>
                </div>
                <div class="col-md-7">
                  <div class="card" style="max-height: 400px; overflow: auto;">
                    <div class="table-grid">
                      <div class="table" *ngFor="let table of tableEmpty" (click)="toggleTableSelection(table)">
                        {{ table.lable }}<br>
                        <span class="icon-sl">
                          <i class="fas fa-chair"></i>{{ table.capacity }}
                        </span>
                        <span class="icon-table" style="left: 170px;"
                          *ngIf="selectedTableIds.includes(table.tableId)">&#10004;</span>
                      </div>
                    </div>
                    <div *ngIf="dataTable.length < 1" style="height: 100px;">
                      <p>Khu vực này không có phòng/bàn trống</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="validMessage" class="alert alert-danger" style="color: red; margin-top: 10px;">
              {{ validMessage }}
            </div>
            <div class="modal-footer">
              <button type="button" style="background-color: red;" class="btn btn-secondary"
                (click)="closePopup()">Đóng</button>
              <button type="button" class="btn btn-primary" (click)="openConfirmSaveModal()">Lưu thay đổi</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Confirm Save Modal -->
      <div class="modal fade" id="confirmSaveModal" tabindex="-1" role="dialog" aria-labelledby="confirmSaveModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 110%;margin: 60% 110%;">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmSaveModalLabel">Xác nhận xếp bàn</h5>
              <span type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeConfirmSaveModal()">
                <span aria-hidden="true">&times;</span>
              </span>
            </div>
            <div class="modal-body">
              Bạn có chắc chắn muốn đăng ký phòng/bàn sau cho đơn này không?
              <ul style="margin-left: 20px;">
                {{ getSelectedTableNames().join(', ') }}
              </ul>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeConfirmSaveModal()">Hủy</button>
              <button type="button" class="btn btn-primary" (click)="confirmSave()">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Confirm Cancel Modal -->
    <div class="reservation-cancel-modal" *ngIf="showCancelModal">
      <div class="reservation-cancel-modal-content">
        <h2>Xác nhận hủy đặt bàn</h2>
        <label for="cancelReason">Lý do hủy:</label>
        <textarea id="cancelReason" [(ngModel)]="cancelReason" rows="4" style="width: 100%;"></textarea>
        <div *ngIf="errorMessage" class="alert alert-danger" style="color: red; margin-top: 10px;">
          {{ errorMessage }}
        </div>
        <div style="margin-top: 20px;">
          <button class="confirm-button" (click)="confirmCancel()">Xác nhận</button>
          <button class="cancel-button" (click)="closeCancelModal()">Đóng</button>
        </div>
      </div>
    </div>
    <div class="reservation-cancel-modal-overlay" *ngIf="showCancelModal"></div>

    <!-- Confirm Accept Modal -->
    <div class="reservation-accept-modal" *ngIf="showAcceptModal">
      <div class="reservation-accept-modal-content">
        <h2>Xác nhận chấp nhận đặt bàn</h2>
        <div style="margin-top: 20px;">
          <button class="confirm-button" (click)="confirmAccept()">Xác nhận</button>
          <button class="cancel-button" (click)="closeAcceptModal()">Đóng</button>
        </div>
      </div>
    </div>
    <div class="reservation-accept-modal-overlay" *ngIf="showAcceptModal"></div>
    <section *ngIf="currentView === 'booking-request'">
      <div class="container">
        <div class="card">
          <div>
            <table>
              <thead>
                <tr>
                  <th>Tên khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Ngày giờ nhận bàn</th>
                  <th>Số lượng khách</th>
                  <th>Đặt cọc</th>
                  <th>Trạng thái đơn</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let reservation of dataReservationPending">
                <ng-container>
                  <tr>
                    <td>{{reservation.consigneeName}}</td>
                    <td>{{reservation.guestPhone}}</td>
                    <td>{{ reservation.reservationTime | date:'dd/MM/yyyy - HH:mm' }}</td>
                    <td>{{reservation.guestNumber}}</td>
                    <td>{{reservation.deposits | currencyFormat}}</td>
                    <td><span [ngClass]="getStatusLabel(reservation.status).class" class="status-label">{{
                        getStatusLabel(reservation.status).label }}</span></td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm"
                        (click)="getReservationById(reservation.reservationId)">Chi tiết</button>
                    </td>
                    <td><button type="button" class="btn btn-primary btn-sm" style="background-color: green;"
                        (click)="openAcceptModal(reservation.reservationId)">Nhận đơn</button></td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm" style="background-color: red;"
                        (click)="openCancelModal(reservation.reservationId)">Hủy đơn</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <br>
          <div *ngIf="!dataReservationPending || dataReservationPending.length === 0" style="text-align: center;">
            <p>Không có yêu cầu đặt bàn </p>
          </div>
          <div class="pagination" *ngIf="totalPages > 0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">
              <i class="fas fa-arrow-left"></i> <!-- Icon mũi tên trái -->
            </button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">
              <i class="fas fa-arrow-right"></i> <!-- Icon mũi tên phải -->
            </button>
          </div>

        </div>
      </div>
    </section>
    <section *ngIf="currentView === 'detail-reservation'">

      <div class="container">
        <div class="card" *ngIf="reservationDetail">
          <details open>
            <summary>Thông tin đặt bàn</summary>
            <div class="row">
              <p>Ngày giờ nhận bàn<span>:{{ reservationDetail.data.reservationTime | date:'dd/MM/yyyy HH:mm' }}</span>
              </p>
              <p>Số lượng khách<span>:{{ reservationDetail.data.guestNumber}}</span></p>
              <p>Ghi chú<span>:{{ reservationDetail.data.note }}</span></p>
              <p>Trạng thái đơn<span [ngClass]="getStatusLabel(reservationDetail.data.status).class">:{{
                  getStatusLabel(reservationDetail.data.status).label }}</span></p>
            </div>
          </details>
          <details>
            <summary>Bàn và khu vực</summary>
            <div class="row" *ngIf="reservationDetail?.data.tableOfReservation.length > 0">
              <p>Khu vực<span>: {{ reservationDetail?.data.tableOfReservation[0]?.floor }}</span></p>
              <p>Bàn<span>:{{ reservationDetail?.data.tableOfReservation[0]?.tableId }}</span></p>
              <p>Loại bàn<span>:{{ reservationDetail?.data.tableOfReservation[0]?.capacity }} người</span></p>
            </div>
          </details>
          <details>
            <summary>Thông tin khách hàng</summary>
            <div class="row">
              <p>Họ tên<span>:{{ reservationDetail.data.consigneeName }}</span></p>
              <p>Số điện thoại<span>:{{ reservationDetail.data.guestPhone }}</span></p>
              <p>Email<span>:{{ reservationDetail?.data.email }}</span></p>
              <p>Địa chỉ<span>:{{ reservationDetail?.data.address }}</span></p>
            </div>
          </details>
          <details>
            <summary>Thông tin đơn hàng</summary>
            <div>
              <div class="cart-container">
                <div class="cart-header"
                  *ngIf="reservationDetail?.data.order?.orderDetails && reservationDetail.data.order.orderDetails.length>0">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                      <h5><b>Đồ ăn</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Đơn giá</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Số lượng</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Tổng tiền</b></h5>
                    </div>
                  </div>
                </div>
                <div class="cart-items">
                  <div class="row border-top border-bottom"
                    *ngFor="let item of reservationDetail?.data?.order?.orderDetails">
                    <div class="row main align-items-center">
                      <div class="col-2">
                        <img class="img-fluid" [src]="item.imageUrl" alt="Item Image"
                          style="max-width: 100%; height: 56px;">
                      </div>
                      <div class="col">
                        <div>{{ item.itemName || item.nameCombo }}</div>
                      </div>
                      <div class="col">
                        <div>{{ item.discountedPrice || item.price | currencyFormat}}</div>
                      </div>
                      <div class="col">
                        <span>{{ item.quantity }}</span>
                      </div>
                      <div class="col price-close" style="align-items:center;">
                        <span class="price">{{ item.unitPrice | currencyFormat}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </section>


    <section *ngIf="currentView === 'booking-history'">
      <div class="container">
        <div class="card">
          <div class="tabs">
            <button class="tab" *ngFor="let tab of tabs; let i = index" [class.active]="i === selectedIndex"
              (click)="selectTab(i)">
              {{ tab }}
            </button>
            <input type="text" placeholder="Nhập từ khóa tìm kiếm..." [(ngModel)]="searchTerm"
              (input)="onSearchChange($event)">
          </div>
          <br>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Tên khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Ngày giờ nhận bàn</th>
                  <th>Số lượng khách</th>
                  <th>Đặt cọc</th>
                  <th>Khu vực, bàn</th>
                  <th>Trạng thái đơn</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let reservation of dataReservation">
                <ng-container>
                  <tr>
                    <td>{{reservation.consigneeName}}</td>
                    <td>{{reservation.guestPhone}}</td>
                    <td>{{ reservation.reservationTime | date:'dd/MM/yyyy - HH:mm' }}</td>
                    <td>{{reservation.guestNumber}}</td>
                    <td>{{reservation.deposits | currencyFormat}}</td>
                    <td>
                      <div [innerHTML]="formatTables(reservation.tableOfReservation)"></div>
                    </td>
                    <td>
                      <span [ngClass]="getStatusLabel(reservation.status).class" class="status-label">{{
                        getStatusLabel(reservation.status).label }}</span>
                    </td>


                    <td>
                      <button type="button" class="btn btn-primary btn-sm"
                        (click)="getReservationById(reservation.reservationId)">Chi tiết</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>


            </table>
          </div>
          <br>
          <div *ngIf="!dataReservation || dataReservation.length === 0" style="text-align: center;">
            <p>Không có dữ liệu </p>
          </div>
          <div class="pagination" *ngIf="totalPages > 0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">
              <i class="fas fa-arrow-left"></i> <!-- Icon mũi tên trái -->
            </button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">
              <i class="fas fa-arrow-right"></i> <!-- Icon mũi tên phải -->
            </button>
          </div>

        </div>
      </div>
    </section>

  </main>
</div>
