<div class="container">
  <aside class="sidebar">
    <nav class="sidebar-nav">
      <ul>
        <li>
          <a (click)="setView('table-layout')">QUẢN LÝ BÀN </a>
          <ul>
            <li><a [class.active]="currentView === 'table-layout'" (click)="setView('table-layout')">Sơ đồ bàn</a></li>
            <li><a [class.active]="currentView === 'booking-request'" (click)="setView('booking-request')"
                (click)="getReservation()">Yêu cầu đặt
                bàn</a></li>
            <li><a [class.active]="currentView === 'booking-schedule'" (click)="setView('booking-schedule')"
                (click)="getReservationData()">Lịch đặt
                bàn</a></li>
            <li><a [class.active]="currentView === 'booking-history'" (click)="setView('booking-history')"
                (click)="getReservationList()">Lịch sử đặt
                bàn</a></li>

          </ul>
        </li>
      </ul>
    </nav>
  </aside>
  <main class="main-content">
    <header>

      <h2 *ngIf="currentView === 'table-layout'">Sơ đồ bàn</h2>
      <h2 *ngIf="currentView === 'booking-request'">Yêu cầu đặt bàn</h2>
      <h2 *ngIf="currentView === 'booking-schedule'">Lịch đặt bàn</h2>
      <h2 *ngIf="currentView === 'booking-history'">Lịch sử đặt bàn</h2>
      <h2 *ngIf="currentView === 'detail-reservation'">Chi tiết đơn đặt bàn</h2>
      <h2 *ngIf="currentView === 'create-reservation'">Tạo đơn đặt bàn</h2>

      <select id="timeframe" name="timeframe" *ngIf="currentView === 'booking-schedule'" [(ngModel)]="selectedTime"
        (ngModelChange)="onSelectTimeframe()" class="floor-select" style="width: 20%;padding: 5px;">
        <option value="today" [selected]="selectedTime === 'today'">Hôm nay</option>
        <option value="this_week" [selected]="selectedTime === 'this_week'">Tuần này</option>
      </select>

      <select id="timeframe" name="timeframe" *ngIf="currentView === 'table-layout'" [(ngModel)]="selectedTable "
        (ngModelChange)="filterTablesByFloorAndStatus(selectedTable)" class="floor-select"
        style="width: 20%;padding: 5px;">
        <option value="all">Tất cả bàn</option>
        <option value="empty">Bàn trống</option>
      </select>

      <button *ngIf="currentView === 'booking-request'" class="btn-create-order" (click)="createReservation()">
        <i class="fas fa-plus-circle icon"></i>Tạo đơn đặt bàn
      </button>

    </header>
    <hr>

    <section *ngIf="currentView === 'table-layout'">
      <div class="container">
        <div class="card short-card">
          <div class="table-layout-buttons">
            <button *ngFor="let floor of getFloors()" (click)="getTableOFFloor(floor)"
              [class.active]="selectedFloor === floor">
              Tầng {{ floor }}
            </button>
          </div>
        </div>

        <div class="card">
          <div class="table-grid">
            <div class="table" *ngFor="let table of dataTable">
              {{ table.tableId }}<br>
              <hr>{{ table.status === 0 ? 'Bàn trống' : 'Đang sử dụng' }}
              <span class="icon-sl"><i class="fas fa-chair"></i>{{ table.capacity }}</span>
              <span class="icon-table" *ngIf="table.status === 1">&#10004;</span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section *ngIf="currentView === 'booking-schedule'">
      <div class="container">
        <div class="card">
          <div class="reservation-grid">
            <div class="reservation" *ngFor="let reservation of dataReservationAccept; let i = index">
              <div class="row">
                <div class="cell">
                  <span class="data">{{reservation.consigneeName}} - {{reservation.guestPhone}}</span>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;"
                  *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length > 1">
                  <span class="number-table">{{ reservation.tableOfReservation[0].tableId }}</span>
                  <span style="font-weight: bold;font-size: 24px;cursor: pointer;" (click)="tableDropdown()">...</span>
                  <!-- Dropdown -->
                  <div *ngIf="showDropdown"
                    style="position: absolute; z-index: 1;margin-left: 280px;background-color: white;border: 1px solid black;  display: flex;justify-content: center;">
                    <div *ngFor="let table of reservation.tableOfReservation.slice(1); let i = index">
                      <span class="number-table">{{ table.tableId }}</span>
                    </div>
                  </div>
                </div>

                <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;"
                  *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length === 1">
                  <span class="number-table">{{ reservation.tableOfReservation[0].tableId }}</span>
                </div>

                <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;"
                  *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length === 0">
                  <span class="number-table">?</span>
                </div>
                <div class="vertical-line"></div>
                <div class="col-md-8">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="cell">
                        <span>{{ reservation.reservationTime | date:'dd/MM/yyyy HH:mm' }}</span>
                      </div>
                    </div>
                    <div class="vertical-line"></div>
                    <div class="col-md-3" style="display: flex;justify-content: center;align-items: center;">
                      <div class="cell">
                        <span class="data"><i class="fas fa-user"></i> {{reservation.guestNumber}}</span>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="cell">
                    <span class="data"><i class="fas fa-coins"></i> {{reservation.deposits}}</span>
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-md-4" style="height: 20px;">
                  <div class="dropdown" style="position: relative;display: inline-block;">
                    <button class="icon" (click)="toggleDropdown(i)">...</button>
                    <div class="dropdown-content" [class.show]="reservation.isDropdownOpen">
                      <a (click)="openPopup(reservation.reservationId)">Xếp bàn</a>
                      <a>Thêm món</a>
                      <a>Hủy đặt bàn</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-8" style="display: flex;justify-content: center;align-items: center;height: 20px;">
                  <span class="label-reser" (click)="updateReservationById(reservation.reservationId, 2)"
                    [class.disabled]="!reservation.tableOfReservation || reservation.tableOfReservation.length === 0"
                    *ngIf="reservation.tableOfReservation && reservation.tableOfReservation.length > 0">
                    Khách nhận bàn</span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!dataReservationAccept || dataReservationAccept.length === 0" style="text-align: center;">
            <p>Không có đơn đặt bàn cho ngày hôm nay</p>
          </div>
          <div class="pagination" *ngIf="totalPages>0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">Next</button>
          </div>
        </div>
      </div>

      <!-- Main Modal -->
      <div class="modal fade" id="updateTimeModal" tabindex="-1" role="dialog" aria-labelledby="updateTimeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="updateTimeModalLabel">Đăng ký bàn</h5>
              <div class="text-center text-white flex-fill" style="font-size: 18px;">
                {{ reservationTimeSelected | date: 'dd/MM/yyyy - HH:mm' }}
              </div>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closePopup()">X</button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-3" style="display: flex; justify-content: center; align-items: center;">
                  <select id="floor" name="floor" [(ngModel)]="selectedFloor"
                    (change)="getTableOFFloorEmpty(selectedFloor)" class="floor-select">
                    <option *ngFor="let floor of getFloors()" [value]="floor" [class.active]="selectedFloor === floor">
                      Tầng {{ floor }}
                    </option>
                  </select>
                </div>
                <div class="col-md-7">
                  <div class="card">
                    <div class="table-grid">
                      <div class="table" *ngFor="let table of dataTable"
                        [ngClass]="{'status-in-use': table.status !== 0}" (click)="toggleTableSelection(table)">
                        {{ table.tableId }}<br>
                        <span class="icon-sl">
                          <i class="fas fa-chair"></i>{{ table.capacity }}
                        </span>
                        <span class="icon-table" style="left: 170px;"
                          *ngIf="table.status === 0 && selectedTableIds.includes(table.tableId)">&#10004;</span>
                        <span *ngIf="table.reservationTimes && table.reservationTimes.length > 0" class="icon-reserved"
                          (click)="toggleDropdownTable($event, table)">
                          <i class="fas fa-calendar-alt"></i>
                        </span>
                        <div *ngIf="table.showDropdown" class="dropdown-table">
                          <ul>
                            <li *ngFor="let time of table.reservationTimes">{{ getTimeOnly(time) }}
                              <hr>
                            </li>
                          </ul>
                        </div>
                        <hr>
                        <span [ngClass]="{'text-in-use': table.status !== 0}">
                          {{ table.status === 0 ? 'Bàn trống' : 'Đang sử dụng' }}
                        </span>
                      </div>
                    </div>
                    <div *ngIf="dataTable.length < 1" style="height: 100px;">
                      <p>Tầng này không có bàn trống</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" style="background-color: red;" class="btn btn-secondary"
                (click)="closePopup()">Đóng</button>
              <button type="button" class="btn btn-primary" (click)="openConfirmSaveModal()">Lưu thay đổi</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Confirm Save Modal -->
      <div class="modal fade" id="confirmSaveModal" tabindex="-1" role="dialog" aria-labelledby="confirmSaveModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content" style="width: 100%;margin: 60% 110%;">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmSaveModalLabel">Xác nhận Lưu thay đổi</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                (click)="closeConfirmSaveModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Bạn có chắc chắn muốn đăng ký bàn sau cho đơn này không?
              <ul style="margin-left: 20px;">
                <li *ngFor="let table of selectedTableIds">Bàn {{ table }}</li>
              </ul>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal"
                (click)="closeConfirmSaveModal()">Hủy</button>
              <button type="button" class="btn btn-primary" (click)="confirmSave()">Xác nhận</button>
            </div>
          </div>
        </div>
      </div>

    </section>

    <section *ngIf="currentView === 'booking-request'">
      <div class="container">
        <div class="card">
          <div>
            <table>
              <thead>
                <tr>
                  <th>Tên khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Ngày giờ nhận bàn</th>
                  <th>Số lượng khách</th>
                  <th>Đặt cọc</th>
                  <th>Trạng thái đơn</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let reservation of dataReservationPending">
                <ng-container>
                  <tr>
                    <td>{{reservation.consigneeName}}</td>
                    <td>{{reservation.guestPhone}}</td>
                    <td>{{ reservation.reservationTime | date:'dd/MM/yyyy - HH:mm' }}</td>
                    <td>{{reservation.guestNumber}}</td>
                    <td>{{reservation.deposits}}</td>
                    <td><span [ngClass]="getStatusLabel(reservation.status).class" class="status-label">{{
                        getStatusLabel(reservation.status).label }}</span></td>
                    <td><button type="button" class="btn btn-primary btn-sm" style="background-color: green;"
                        (click)="updateReservationById(reservation.reservationId, 1)">Nhận đơn</button></td>
                    <td>
                      <button type="button" class="btn btn-primary btn-sm"
                        (click)="getReservationById(reservation.reservationId)">Chi tiết</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </div>
          <br>
          <div *ngIf="!dataReservationPending || dataReservationPending.length === 0" style="text-align: center;">
            <p>Không có yêu cầu đặt bàn </p>
          </div>
          <div class="pagination" *ngIf="totalPages>0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">Next</button>
          </div>
        </div>
      </div>
    </section>
    <section *ngIf="currentView === 'detail-reservation'">

      <div class="container">
        <div class="card" *ngIf="reservationDetail">
          <details open>
            <summary>Thông tin đặt bàn</summary>
            <div class="row">
              <p>Ngày giờ nhận bàn<span>:{{ reservationDetail.data.reservationTime | date:'dd/MM/yyyy HH:mm' }}</span>
              </p>
              <p>Số lượng khách<span>:{{ reservationDetail.data.guestNumber}}</span></p>
              <p>Ghi chú<span>:{{ reservationDetail.data.note }}</span></p>
              <p>Trạng thái đơn<span [ngClass]="getStatusLabel(reservationDetail.data.status).class">:{{
                  getStatusLabel(reservationDetail.data.status).label }}</span></p>
            </div>
          </details>
          <details>
            <summary>Bàn và khu vực</summary>
            <div class="row" *ngIf="reservationDetail?.data.tableOfReservation.length > 0">
              <p>Khu vực<span>:Tầng {{ reservationDetail?.data.tableOfReservation[0]?.floor }}</span></p>
              <p>Bàn<span>:{{ reservationDetail?.data.tableOfReservation[0]?.tableId }}</span></p>
              <p>Loại bàn<span>:{{ reservationDetail?.data.tableOfReservation[0]?.capacity }} người</span></p>
            </div>
          </details>
          <details>
            <summary>Thông tin khách hàng</summary>
            <div class="row">
              <p>Họ tên<span>:{{ reservationDetail.data.consigneeName }}</span></p>
              <p>Số điện thoại<span>:{{ reservationDetail.data.guestPhone }}</span></p>
              <p>Email<span>:{{ reservationDetail?.data.email }}</span></p>
              <p>Địa chỉ<span>:{{ reservationDetail?.data.address }}</span></p>
            </div>
          </details>
          <details>
            <summary>Thông tin đơn hàng</summary>
            <div>
              <div class="cart-container">
                <div class="cart-header"
                  *ngIf="reservationDetail?.data.order?.orderDetails && reservationDetail.data.order.orderDetails.length>0">
                  <div class="row">
                    <div class="col-2"></div>
                    <div class="col">
                      <h5><b>Đồ ăn</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Đơn giá</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Số lượng</b></h5>
                    </div>
                    <div class="col">
                      <h5><b>Tổng tiền</b></h5>
                    </div>
                  </div>
                </div>
                <div class="cart-items">
                  <div class="row border-top border-bottom"
                    *ngFor="let item of reservationDetail?.data?.order?.orderDetails">
                    <div class="row main align-items-center">
                      <div class="col-2">
                        <img class="img-fluid" [src]="item.imageUrl" alt="Item Image"
                          style="max-width: 100%; height: 56px;">
                      </div>
                      <div class="col">
                        <div>{{ item.itemName || item.nameCombo }}</div>
                      </div>
                      <div class="col">
                        <div>{{ item.discountedPrice || item.price }}₫</div>
                      </div>
                      <div class="col">
                        <span>{{ item.quantity }}</span>
                      </div>
                      <div class="col price-close" style="align-items:center;">
                        <span class="price">{{ item.unitPrice }}₫</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </details>
        </div>
      </div>
    </section>

    <section *ngIf="currentView === 'create-reservation'">
      <div class="container">
        <div class="card">
          <div class="reservation-form" style="max-height: 500px;">
            <form #reservationForm="ngForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="name">Tên người đặt (*)</label>
                    <input class="input-text name" type="text" id="name" name="consigneeName" placeholder="Nhập tên"
                      required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="phone">Số điện thoại (*)</label>
                    <input class="input-tel phone" type="tel" id="phone" name="guestPhone"
                      placeholder="Nhập số điện thoại" required pattern="^0\d{9,10}$">
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="date">Ngày (*)</label>
                    <input class="input-date" id="date" type="date" name="date" style="width: 100%;height: 40px;">
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="time">Giờ (*)</label>
                    <select class="input-select" id="time" name="time" required>
                      <option value="">Chọn</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="people">Số người (*)</label>
                    <input class="input-number number" type="number" id="people" name="guestNumber" min="1" value="2"
                      required>
                  </div>
                </div>
              </div>
              <div class="row" style="padding: 0 15px;margin-bottom: 15px;">
                <div class="form-group">
                  <label for="notes">Ghi chú</label>
                  <textarea class="input-textarea note" id="notes" name="note" placeholder="Ghi chú" style="margin-top: 0;"></textarea>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 d-flex justify-content-center align-items-center">
                  <button class="reser" type="submit">Đặt bàn</button>
                </div>
              </div>
            </form>
          </div>
          <div class="row" style="background-color: #ebebeb;padding: 10px;">
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <div class="plus-icon">
                +
              </div>
            </div>
            <div class="col-md-12 d-flex justify-content-center align-items-center">
              <span>Thêm món</span>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section *ngIf="currentView === 'booking-history'">
      <div class="container">
        <div class="card">
          <div class="tabs">
            <button class="tab" *ngFor="let tab of tabs; let i = index" [class.active]="i === selectedIndex"
              (click)="selectTab(i)">
              {{ tab }}
            </button>
            <input type="text" placeholder="Nhập từ khóa tìm kiếm..." [(ngModel)]="searchTerm"
              (input)="onSearchChange($event)">
          </div>



          <br>
          <div>
            <table>
              <thead>
                <tr>
                  <th>Tên khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Ngày giờ nhận bàn</th>
                  <th>Số lượng khách</th>
                  <th>Đặt cọc</th>
                  <th>Khu vực, bàn</th>
                  <th>Trạng thái đơn</th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let reservation of dataReservation">
                <ng-container>
                  <tr>
                    <td>{{reservation.consigneeName}}</td>
                    <td>{{reservation.guestPhone}}</td>
                    <td>{{ reservation.reservationTime | date:'dd/MM/yyyy - HH:mm' }}</td>
                    <td>{{reservation.guestNumber}}</td>
                    <td>{{reservation.deposits}}</td>
                    <td>
                      <div [innerHTML]="formatTables(reservation.tableOfReservation)"></div>
                    </td>
                    <td>
                      <span [ngClass]="getStatusLabel(reservation.status).class" class="status-label">{{
                        getStatusLabel(reservation.status).label }}</span>
                    </td>


                    <td>
                      <button type="button" class="btn btn-primary btn-sm"
                        (click)="getReservationById(reservation.reservationId)">Chi tiết</button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>


            </table>
          </div>
          <br>
          <div *ngIf="!dataReservation || dataReservation.length === 0" style="text-align: center;">
            <p>Không có dữ liệu </p>
          </div>
          <div class="pagination" *ngIf="totalPages>0">
            <button (click)="onPreviousPage()" [disabled]="currentPage === 1">Previous</button>

            <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1"
              max="{{ totalPages }}">

            <span>of {{ totalPages }}</span>

            <button (click)="onNextPage()" [disabled]="currentPage === totalPages">Next</button>
          </div>
        </div>
      </div>
    </section>

  </main>
</div>
