<body>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <app-SidebarOrder></app-SidebarOrder>
      </nav>
      
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container mt-5">
          <h2 class="text-center mb-4">Tạo đơn hàng online</h2>
          <div class="row">
            <!-- Left column for address and cart details -->
            <div class="col-md-6">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="customerNameForm">Tên khách hàng</label>
                    <input type="text" [(ngModel)]="addNew.consigneeName" class="form-control" id="customerNameForm" placeholder="Nhập tên khách hàng" name="consigneeName" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="guestPhone">Số điện thoại</label>
                    <input type="tel" [(ngModel)]="addNew.guestPhone" class="form-control" id="guestPhone" placeholder="Nhập số điện thoại" name="guestPhone" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="guestAddress">Địa chỉ nhận hàng</label>
                    <input type="text" [(ngModel)]="addNew.guestAddress" class="form-control" id="guestAddress" placeholder="Nhập địa chỉ nhận hàng" name="guestAddress" required>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="guestEmail">Email</label>
                    <input type="email" [(ngModel)]="addNew.email" class="form-control" id="guestEmail" placeholder="Nhập email của bạn" name="guestEmail" required>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="receivingDate">Ngày nhận hàng</label>
                    <input type="date" [(ngModel)]="receivingDate" class="form-control" id="receivingDate" name="receivingDate" required>
                  </div>
                  <div class="form-group">
                    <label for="receivingTime">Giờ nhận hàng</label>
                    <select [(ngModel)]="receivingTime" class="form-control" id="receivingTime" name="receivingTime" required>
                      <option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="note">Ghi chú</label>
                    <textarea [(ngModel)]="addNew.note" class="form-control" id="note" placeholder="Nhập ghi chú" name="note"></textarea>
                  </div>
                </div>
              </div>
          

              <!-- Selected Items Section -->
              <div class="cart-section mt-4">
                <h4>Thông tin</h4>
                <div *ngIf="selectedItems.length === 0" class="alert alert-info" role="alert">
                  Chưa có lựa chọn nào
                </div>
                <table class="table">
                  <thead>
                    <tr *ngIf="selectedItems.length > 0">
                      <th scope="col">Tên món</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Giá món</th>
                      <th scope="col">Tổng</th>
                      <th scope="col"></th> <!-- Column for delete button -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of selectedItems; let i = index">
                      <td>
                        <div class="d-flex align-items-center">
                          <img [src]="item.imageUrl" alt="Item image" class="img-thumbnail me-2" style="width: 70px; height: 50px;">
                          <p class="mb-0">{{ item.itemName || item.nameCombo }}</p>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <input type="number" class="form-control text-center small-input" [(ngModel)]="item.quantity" (change)="validateQuantity(i)" min="1" max="100">
                        </div>
                      </td>
                      <td>
                        <div *ngIf="item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.discountedPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</span>
                        </div>
                        <div *ngIf="!item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.price | currency:'USD':'symbol-narrow':'1.2-2' }}</span>
                        </div>
                      </td>
                      <td>{{ item.totalPrice | currency:'USD':'symbol-narrow':'1.2-2' }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
                          <i class="fas fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                
                <div *ngIf="selectedItems.length > 0" class="total-amount mt-3">
                  <strong>Tổng cộng đơn:</strong> {{ calculateTotalAmount() | currency:'USD':'symbol-narrow':'1.2-2' }}
                </div>
                <div *ngIf="selectedItems.length > 0" class="d-grid gap-2">
                  <button class="btn btn-primary btn-lg" (click)="createOrder()">
                    Lưu lại
                  </button>
                  <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#paymentModal">
                    Tạo đơn
                  </button>
                  <button class="btn btn-danger btn-lg" >
                    Hủy
                  </button>
                </div>
              </div>
              <div *ngIf="successMessage" class="alert alert-success" role="alert">
                {{ successMessage }}
              </div>
            </div>
            
            <!-- Right column for dishes and combos -->
            <div class="col-md-6">
              <div class="category-buttons">
                <button class="btn"
                        [class.btn-primary]="selectedCategory !== 'Món chính'"
                        [class.btn-secondary]="selectedCategory === 'Món chính'"
                        (click)="selectCategory('Món chính')">Món chính
                </button>
                <button class="btn"
                        [class.btn-primary]="selectedCategory !== 'Món khai vị'"
                        [class.btn-secondary]="selectedCategory === 'Món khai vị'"
                        (click)="selectCategory('Món khai vị')">Món khai vị
                </button>
                <button class="btn"
                        [class.btn-primary]="selectedCategory !== 'Món tráng miệng'"
                        [class.btn-secondary]="selectedCategory === 'Món tráng miệng'"
                        (click)="selectCategory('Món tráng miệng')">Món tráng miệng
                </button>
                <button class="btn"
                        [class.btn-primary]="selectedCategory !== 'Đồ uống'"
                        [class.btn-secondary]="selectedCategory === 'Đồ uống'"
                        (click)="selectCategory('Đồ uống')">Đồ uống
                </button>
                <button class="btn"
                        [class.btn-primary]="!showingCombos"
                        [class.btn-secondary]="showingCombos"
                        (click)="showCombos()">Combo
                </button>
            </div>
            <div class="search-bar mt-3">
              <input type="text" class="form-control" placeholder="Tìm kiếm món ăn..." [(ngModel)]="search" (input)="onSearch()">
            </div>
              
              
              <!-- Dishes Section -->
              <div class="dishes-section" *ngIf="showingDishes && dishes">
                <div class="row">
                  <ng-container *ngFor="let list of dishes">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let dish of list.items">
                      <div class="card h-100">
                        <div class="image-container">
                          <img class="card-img-top" [src]="dish.imageUrl" alt="Dish image">
                        </div>
                        <div class="card-body text-center">
                          <div class="dish-details">
                            <div class="dish-name">{{ dish.itemName }}</div>
                            <div *ngIf="dish.discountedPrice" class="dish-price">
                              <span class="text-decoration-line-through">{{ dish.price | currency }}</span>
                              <br>
                              <span style="color: red">{{ dish.discountedPrice | currency }}</span>
                            </div>
                            <div *ngIf="!dish.discountedPrice" class="dish-price">{{ dish.price | currency }}</div>
                          </div>
                          <button class="btn btn-sm btn-outline-primary" (click)="addItem(dish)">
                            <i class="fas fa-plus"></i> Thêm
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!-- Combos Section -->
              <div class="combos-section" *ngIf="showingCombos && combo">
                <div class="row">
                  <ng-container *ngFor="let list of combo">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let cb of list.items">
                      <div class="card h-100">
                        <div class="image-container">
                          <img class="card-img-top" [src]="cb.imageUrl" alt="Combo image">
                        </div>
                        <div class="card-body text-center">
                          <div class="combo-details">
                            <div class="combo-name">{{ cb.nameCombo }}</div>
                            <div class="combo-price">{{ cb.price | currency }}</div>
                          </div>
                          <button class="btn btn-sm btn-outline-primary" (click)="addItem(cb)">
                            <i class="fas fa-plus"></i> Thêm
                          </button>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              

              <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="paymentModalLabel">Thông tin thanh toán</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <!-- Thông tin hóa đơn -->
                      <div class="mb-3">
                        <label for="invoiceDetails" class="form-label">Chi tiết hóa đơn:</label>
                        <textarea class="form-control" id="invoiceDetails" rows="4">Thông tin chi tiết của hóa đơn...</textarea>
                      </div>
                      <!-- Nút in hóa đơn -->
                      <button type="button" class="btn btn-secondary">In hóa đơn</button>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                      <button type="button" class="btn btn-primary">Xác nhận thanh toán</button>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</body>
