<body>
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <app-SidebarOrder></app-SidebarOrder>
      </nav>

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container mt-5">
          <h2 class="order-header text-center mb-4">Tạo đơn hàng trực tuyến</h2>
          <div *ngIf="errorMessage" class="alert alert-danger" style="max-width: 500px;">
            {{ errorMessage }}
          </div>
          <div class="row">
            <!-- Left column for address and cart details -->
            <div class="col-md-6">
              <form #orderForm="ngForm">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="customerNameForm">Tên khách hàng</label>
                      <input
                        type="text"
                        [(ngModel)]="addNew.consigneeName"
                        class="form-control"
                        id="customerNameForm"
                        placeholder="Nhập tên khách hàng"
                        name="consigneeName"
                        required
                        #consigneeName="ngModel"
                      >
                      <!-- Validation message -->
                      <div *ngIf="consigneeName.invalid && consigneeName.touched" class="text-danger">
                        Vui lòng nhập tên khách hàng.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="guestPhone">Số điện thoại</label>
                      <input
                        type="tel"
                        [(ngModel)]="addNew.guestPhone"
                        class="form-control"
                        id="guestPhone"
                        placeholder="Nhập số điện thoại"
                        name="guestPhone"
                        required
                        pattern="^[0-9]{10,11}$"
                        #guestPhone="ngModel"
                      >
                      <!-- Validation message -->
                      <div *ngIf="guestPhone.invalid && guestPhone.touched" class="text-danger">
                        Vui lòng nhập số điện thoại hợp lệ (10-11 chữ số).
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="guestAddress">Địa chỉ nhận hàng</label>
                      <input
                        type="text"
                        [(ngModel)]="addNew.guestAddress"
                        class="form-control"
                        id="guestAddress"
                        placeholder="Nhập địa chỉ nhận hàng"
                        name="guestAddress"
                        required
                        #guestAddress="ngModel"
                      >
                      <!-- Validation message -->
                      <div *ngIf="guestAddress.invalid && guestAddress.touched" class="text-danger">
                        Vui lòng nhập địa chỉ nhận hàng.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="guestEmail">Email</label>
                      <input
                        type="email"
                        [(ngModel)]="addNew.email"
                        class="form-control"
                        id="guestEmail"
                        placeholder="Nhập email của bạn"
                        name="guestEmail"
                        required
                        #guestEmail="ngModel"
                      >
                      <!-- Validation message -->
                      <div *ngIf="guestEmail.invalid && guestEmail.touched" class="text-danger">
                        Vui lòng nhập email hợp lệ.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label for="order-time">Thời gian nhận hàng</label>
                    <div class="input-group">
                      <input id="order-time" name="orderTime" class="form-control form-control-sm"
                        [(ngModel)]="orderTime" style="height:38px ;">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary btn-sm" style="background-color: #ddd;" type="button"
                          (click)="toggleEdit()" style="height:38px ;">
                          Thay đổi
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="note">Ghi chú</label>
                      <textarea [(ngModel)]="addNew.note" class="form-control" id="note" placeholder="Nhập ghi chú"
                        name="note"></textarea>
                    </div>
                  </div>
                </div>

              </form>
              <!-- Selected Items Section -->
              <div class="cart-section mt-4">
                <h4>Thông tin</h4>
                <div *ngIf="selectedItems.length === 0" class="alert alert-info" role="alert">
                  Chưa có lựa chọn nào
                </div>
                <table class="table">
                  <thead>
                    <tr *ngIf="selectedItems.length > 0">
                      <th scope="col">Tên món</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Giá món</th>
                      <th scope="col">Tổng</th>
                      <th scope="col"></th> <!-- Column for delete button -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of selectedItems; let i = index">
                      <td>
                        <div class="d-flex align-items-center">
                          <img [src]="item.imageUrl" alt="Item image" class="img-thumbnail me-2"
                            style="width: 70px; height: 50px;">
                          <p class="mb-0">
                            <span class="clickable-item" (click)="openNoteDialog(item)">
                              {{ item.itemName }}
                            </span>
                            <span *ngIf="item.nameCombo">
                              {{ item.nameCombo }}
                            </span>
                          </p>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <!-- Decrease Button -->
                          <button class="btn btn-outline-secondary btn-sm" (click)="decreaseQuantity(i)">-</button>

                          <!-- Quantity Input Field -->
                          <input type="number"
                            class="form-control text-center small-input mx-2 no-spinners rounded-input"
                            [(ngModel)]="item.quantity" (change)="validateQuantity(i)" min="1" [max]="1000">

                          <!-- Increase Button -->
                          <button class="btn btn-outline-secondary btn-sm" (click)="increaseQuantity(i)">+</button>
                        </div>
                      </td>

                      <td>
                        <div *ngIf="item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.discountedPrice | currencyFormat }}</span>
                        </div>
                        <div *ngIf="!item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.price | currencyFormat }}</span>
                        </div>
                      </td>
                      <td>{{ item.totalPrice | currencyFormat }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
                          <i class="fas fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="selectedItems.length > 0" class="mt-2">
                  <strong>Tạm tính:</strong>
                  {{ totalAmount | currencyFormat }}
                  <br>
                </div>
                <!-- <button class="btn btn-primary btn-sm" (click)="openDiscountDialog(item)"> -->
                <button class="btn btn-primary btn-sm" *ngIf="selectedItems.length > 0" data-bs-toggle="modal"
                  data-bs-target="#discountModal" (click)="LoadActiveDiscounts()">
                  <i class="fas fa-tags me-2"></i> <!-- Biểu tượng Font Awesome -->
                  Khuyến mãi
                </button>
                <div *ngIf="selectedDiscount" class="mt-2">
                  <strong style="margin-right: 5px;">Giảm giá:</strong>
                  <span>{{ totalAmount - totalAmountAfterDiscount | currencyFormat }}</span>
                  <span style="margin-left: 10px;">({{ selectedDiscountName }} - {{ selectedDiscountPercent | percentage
                    }})</span>
                </div>
                <br>
                <hr>
                <div *ngIf="messages.length > 0" class="alert alert-warning">
                  <div *ngFor="let msg of messages">
                    {{ msg }}
                  </div>
                </div>
                <hr>
                
                <div *ngIf="selectedItems.length > 0" class="mt-2">
                  <strong>Tổng số tiền:</strong>
                  <span *ngIf="selectedDiscount === null">
                    {{ totalAmount | currencyFormat }}
                  </span>

                  <span *ngIf="selectedDiscount !== null">
                    {{ totalAmountAfterDiscount | currencyFormat }}
                  </span>
                </div>


                <div *ngIf="selectedItems.length > 0" class="d-grid gap-3">
                  <button type="button" class="btn custom-btn-success btn-lg rounded-pill" [disabled]="name.invalid || phone.invalid || address.invalid || email.invalid" (click)="checkDish()">
                    Tạo đơn
                  </button>
                  <!-- Nút ẩn để kích hoạt modal -->
                  <button type="button" id="paymentModalButton" class="btn d-none" data-bs-toggle="modal"
                    data-bs-target="#paymentModal"></button>

                  <button class="btn custom-btn-danger btn-lg rounded-pill" (click)="clearCart()">
                    Hủy
                  </button>
                </div>
              </div>

            </div>
            <!-- Discount Modal -->
            <div class="modal fade" #formModal id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel"
              aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="discountModalLabel">Chọn giảm giá</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body-discount">
                    <ul class="list-group">
                      <li *ngFor="let discounts of discount" class="list-group-item list-group-item-action">
                        <label class="d-flex align-items-center w-100">
                          <input type="radio" name="selectedDiscount" [value]="discounts.discountId"
                            [checked]="selectedDiscount === discounts.discountId"
                            (click)="onDiscountSelect(discounts.discountId)" class="me-2"
                            style="width: 20px; max-width: 20px;" />
                          <div class="discount-details">
                            <div class="discount-left">
                              {{ discounts.discountName }}
                            </div>
                            <div class="discount-right">
                              Giảm {{ discounts.discountPercent | percentage }} cho đơn hàng
                              <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                (Đơn tối thiểu {{ discounts.totalMoney | currencyFormat }})
                              </span>
                              <span *ngIf="discounts.quantityLimit > 0" class="discount-info">
                                (Đã dùng {{ discounts.quantityLimit }})
                              </span>
                              <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                (Hạn sử dụng {{ discounts.endTime | date:'dd/MM/yyyy' }})
                              </span>
                            </div>
                          </div>
                        </label>
                      </li>
                      <li *ngFor="let discounts of discountInvalid"
                        class="list-group-item list-group-item-action disabled-discount">
                        <label class="d-flex align-items-center w-100">
                          <input type="radio" name="selectedDiscount" [value]="discounts.discountId" disabled
                            class="me-2" style="width: 20px; max-width: 20px;" />
                          <div class="discount-details">
                            <div class="discount-left">
                              {{ discounts.discountName }}
                            </div>
                            <div class="discount-right">
                              Giảm {{ discounts.discountPercent | percentage }} cho đơn hàng
                              <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                (Đơn tối thiểu {{ discounts.totalMoney | currencyFormat }})
                              </span>
                              <span *ngIf="discounts.quantityLimit > 0" class="discount-info">
                                (Còn lại: {{ discounts.quantityLimit - discounts.usedCount}} mã giảm giá)
                              </span>
                              <span *ngIf="discounts.totalMoney > 0" class="discount-info">
                                (Hạn sử dụng: Từ {{ discounts.startTime | date:'dd/MM/yyyy' }} đến {{ discounts.endTime
                                | date:'dd/MM/yyyy' }})
                              </span>
                            </div>
                          </div>
                        </label>
                      </li>
                    </ul>
                    <div *ngIf="discount && discount.length < 1 && discountInvalid.length <1">
                      <span>Không có mã khuyến mại</span>
                    </div>
                  </div>



                  <!-- applyDiscount() -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="applyDiscount()">Áp dụng</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                      (click)="clearSelectedDiscount()">Đóng</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Right column for dishes and combos -->
            <div class="col-md-6">
             <div class="category-buttons-container">
                <div class="category-buttons">
                  <button *ngFor="let category of categories" class="btn"
                    [class.btn-primary]="selectCategory !== category.categoryName"
                    [class.btn-secondary]="selectCategory === category.categoryName" 
                    (click)="selectCategory(category.categoryName)">
                    {{ category.categoryName }}
                  </button>
                  <button class="btn" 
                    [class.btn-primary]="!showingCombos" 
                    [class.btn-secondary]="showingCombos"
                    (click)="showCombos()">Combo
                  </button>
                </div>
              </div>
              <div class="search-bar mt-3">
                <input type="text" class="form-control" placeholder="Tìm kiếm món ăn..." [(ngModel)]="search"
                  (input)="onSearch()">
              </div>


              <!-- Dishes Section -->
              <div class="dishes-section" *ngIf="showingDishes && dishes" style="max-height: 400px; overflow-y: auto;">
                <div class="row">
                  <ng-container *ngFor="let list of dishes">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let dish of list.items">
                      <div class="card h-100 shadow-sm dish-card" (click)="addItem(dish)">
                        <div class="image-container">
                          <img class="card-img-top" [src]="dish.imageUrl" alt="Dish image">
                        </div>
                        <div class="card-body text-center">
                          <div class="dish-details">
                            <div class="dish-name font-weight-bold mb-2">{{ dish.itemName }}</div>
                            <div *ngIf="dish.discountedPrice" class="dish-price">
                              <span class="text-decoration-line-through text-muted">{{ dish.price | currencyFormat
                                }}</span>
                              <br>
                              <span class="text-danger">{{ dish.discountedPrice | currencyFormat }}</span>
                            </div>
                            <div *ngIf="!dish.discountedPrice" class="dish-price font-weight-bold">{{ dish.price |
                              currencyFormat }}</div>
                          </div>

                          <!-- Display Remaining Quantity -->
                          <!-- <div class="remaining-quantity mt-3">
                            <span *ngIf="dish.quantityDish > 0" class="text-muted">Còn lại: {{ dish.quantityDish }}
                              món</span>

                          </div> -->
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>

              <!-- Combos Section -->
                  <!-- Combos Section -->
                  <div class="combos-section" *ngIf="showingCombos && combo">
                    <div class="scrollable-combos">
                      <div class="row">
                        <ng-container *ngFor="let list of combo">
                          <div class="col-lg-4 col-md-6 mb-4" *ngFor="let cb of list.items">
                            <div class="card h-100" (click)="addItem(cb)">
                              <div class="image-container">
                                <img class="card-img-top" [src]="cb.imageUrl" alt="Combo image">
                              </div>
                              <div class="card-body text-center">
                                <div class="combo-details">
                                  <div class="combo-name">{{ cb.nameCombo }}</div>
                                  <div class="combo-price">{{ cb.price | currencyFormat }}</div>
                                </div>
                                <!-- Display Remaining Quantity -->
                                <!-- <div class="remaining-quantity mt-3">
                    <span *ngIf="cb.quantityCombo > 0" class="text-muted">Còn lại: {{ cb.quantityCombo }} món</span>
                  </div> -->
                              </div>
                            </div>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                    </div>

              <div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="paymentModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="paymentModalLabel">Thông tin đơn hàng</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <strong>Tên khách hàng:</strong>
                            <input type="text" class="form-control" [(ngModel)]="addNew.consigneeName" name="consigneeName" required #name="ngModel">
                            <div *ngIf="name.invalid && name.touched" class="text-danger">
                              Vui lòng nhập tên khách hàng
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <strong>Số điện thoại:</strong>
                          <input type="text" class="form-control" [(ngModel)]="addNew.guestPhone" name="guestPhone" required #phone="ngModel">
                          <div *ngIf="phone.invalid && phone.touched" class="text-danger">
                            Vui lòng nhập số điện thoại
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <strong>Địa chỉ nhận hàng:</strong>
                            <input type="text" class="form-control" [(ngModel)]="addNew.guestAddress" name="guestAddress" required #address="ngModel">
                            <div *ngIf="address.invalid && address.touched" class="text-danger">
                              Vui lòng nhập địa chỉ nhận hàng
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <strong>Email:</strong>
                            <input type="email" class="form-control" [(ngModel)]="addNew.email" name="email" required #email="ngModel">
                            <div *ngIf="email.invalid && email.touched" class="text-danger">
                              Vui lòng nhập email hợp lệ
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <div class="mb-3">
                            <strong>Ngày nhận hàng:</strong> {{ receivingDate | date:'dd/MM/yyyy' }}
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="mb-3">
                            <strong>Giờ nhận hàng:</strong> {{ receivingTime }}
                          </div>
                        </div>
                      </div>

                      <!-- Bảng hiển thị món hàng đã chọn -->
                      <div class="mb-3">
                        <table id="items" class="table table-bordered">
                          <thead>
                            <tr>
                              <th scope="col">STT</th>
                              <th scope="col">Tên món</th>
                              <th scope="col">SL</th>
                              <th scope="col">Giá món</th>
                              <th scope="col">Thành tiền</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let item of selectedItems; let i = index">
                              <td>{{ i + 1 }}</td>
                              <td>
                                {{ item.itemName }}
                                <span *ngIf="item.nameCombo">{{ item.nameCombo }}</span>
                              </td>
                              <td>{{ item.quantity }}</td>
                              <td>{{ item.discountedPrice || item.price | currencyFormat }}</td>
                              <td>{{ item.totalPrice | currencyFormat }}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>

                      <!-- Hiển thị tổng số tiền và giảm giá -->
                      <div class="mt-3">
                        <strong>Tạm tính:</strong> {{ totalAmount | currencyFormat }}
                      </div>
                      <div class="mt-2" *ngIf="selectedDiscount">
                        <strong>Giảm giá:</strong>
                        <span>{{ selectedDiscountName }} ({{ selectedDiscountPercent | percentage }})</span>
                      </div>
                      <div class="mt-2" *ngIf="selectedDiscount">
                        <strong>Số tiền giảm:</strong>
                        <span>{{ totalAmount - totalAmountAfterDiscount | currencyFormat }}</span>
                      </div>
                      <hr>
                      <div class="mt-2">
                        <strong>Tổng số tiền:</strong>
                        <span *ngIf="selectedDiscount === null">
                          {{ totalAmount | currencyFormat }}
                        </span>
                        <span *ngIf="selectedDiscount !== null">
                          {{ totalAmountAfterDiscount | currencyFormat }}
                        </span>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#paymentModalOnline" (click)="createOrder()"  [disabled]="name.invalid || phone.invalid || address.invalid || email.invalid">Xác nhận</button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </main>

      <!-- Template for cffff -->
      <!-- <div class="modal fade" #formModal id="cfpaymentModal" tabindex="-1" aria-labelledby="cfpaymentModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content"> -->
      <!-- Success message -->
      <!-- <div class="text-center mb-3">
              <div class="d-flex justify-content-center align-items-center flex-column">
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-check-circle"
                  viewBox="0 0 16 16">
                  <path
                    d="M8 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5.586l-3-3a.5.5 0 0 1 .707-.707L7 9.293l4.646-4.647a.5.5 0 0 1 .708.707l-5 5a.5.5 0 0 1-.708 0z" />
                </svg>
                <h4 class="mt-2">Tạo đơn hàng thành công</h4>
              </div>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="clearCart()">Đóng</button>
            </div>
          </div>
        </div>
      </div> -->

    </div>
  </div>

  <!-- Modal -->
  <div class="modal-time fade" id="updateTimeModal" tabindex="-1" role="dialog" aria-labelledby="updateTimeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog-time" role="document">
      <div class="modal-content-time">
        <div class="modal-header-time">
          <h5 class="modal-title" id="updateTimeModalLabel">Chọn thời gian</h5>
          <button type="button" class="close" data-dismiss="modal-time" aria-label="Close" (click)="hideModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body-time">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="date">Ngày nhận</label>
                <input id="date" type="date" name="date" class="form-control form-control-sm" [(ngModel)]="date"
                  (change)="isEarliest = false" [min]="minDate" [max]="maxDate" (change)="updateTimes()"
                  style="height: 41px;">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="time">Giờ nhận</label>
                <select id="time" name="time" class="form-control form-control-sm" style="height: 41px;"
                  [(ngModel)]="time" (change)="isEarliest = false">
                  <option value="">Chọn</option>
                  <option *ngFor="let time of availableHours" [value]="time">{{ time }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="checkbox-label-container">
          <input type="checkbox" id="earliestCheckbox" [(ngModel)]="isEarliest" class="form-check-input"
            (change)="onEarliestChange()">
          <label for="earliestCheckbox" class="form-check-label">Giao hàng sớm nhất</label>
        </div>
        <div class="modal-footer-time">
          <button type="button" style="background-color: red;" class="btn btn-secondary"
            (click)="hideModal()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="saveTime()">Lưu thay đổi</button>
        </div>
      </div>
    </div>
  </div>
</body>
<!-- Modal for 'Thanh toán online' -->
<div class="modal fade" id="paymentModalOnline" tabindex="-1" aria-labelledby="paymentModalOnlineLabel"
  aria-hidden="true" data-bs-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paymentModalOnlineLabel">Thông tin đơn hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Thông tin hóa đơn -->
        <div class="mb-3">
          <label for="price" class="form-label">Tổng tiền phải trả:</label>
          <span *ngIf="selectedDiscount === null">
            {{ totalAmount | currencyFormat }}
          </span>
          <span *ngIf="selectedDiscount !== null">
            {{ totalAmountAfterDiscount | currencyFormat }}
          </span>
        </div>
        <!-- Template for online -->
        <div class="mb-3">
          <label class="form-label">Hình thức thanh toán:</label>
          <div>
            <input type="radio" id="cashPrepay" name="paymentMethodPrepay21" value="0" [(ngModel)]="paymentMethod">
            <label for="cashPrepay">Tiền mặt</label>
          </div>
          <div>
            <input type="radio" id="bankPrepay" name="paymentMethodPrepay23" value="1" [(ngModel)]="paymentMethod">
            <label for="bankPrepay">Chuyển khoản ngân hàng</label>
          </div>
          <div>
            <input type="radio" id="cashOnDelivery" name="paymentMethod123" value="2" [(ngModel)]="paymentMethod">
            <label for="cashOnDelivery">Thanh toán khi nhận hàng</label>
          </div>
        </div>

        <!-- Payment by cash -->
        <div class="mb-3" *ngIf="paymentMethod === '0'">
          <label for="customerPaid" class="form-label">Tiền khách trả:</label>
          <input type="text" id="customerPaid" class="form-control"
            [value]="customerPaid !== null ? formatCurrency() : ''" (input)="onCustomerPaidInput($event)"
            (blur)="formatCurrency()" name="customerPaid" required>

          <!-- Error messages -->
          <div
            *ngIf="customerPaid !== null && customerPaid < (selectedDiscount ? totalAmountAfterDiscount : totalAmount)"
            class="text-danger">
            Số tiền khách trả phải lớn hơn hoặc bằng tổng số tiền phải trả.
          </div>
          <div *ngIf="customerPaid === null" class="text-danger">
            Vui lòng nhập số tiền khách trả.
          </div>
        </div>

        <div class="mb-3" *ngIf="paymentMethod === '1'">
          <label for="qrCodePrepay" class="form-label"></label>
          <img id="qrCode" [src]="QRUrl" class="img-fluid">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#cffpaymentModal"
          (click)="CreateInvoiceOnline()"
          [disabled]="paymentMethod === '0' && (customerPaid === null || customerPaid < (selectedDiscount ? totalAmountAfterDiscount : totalAmount))">Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>
<!-- Template for cffff -->
<div class="modal fade" id="cffpaymentModal" tabindex="-1" aria-labelledby="cfpaymentModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="padding: 15px;">
      <!-- Success message -->
      <div class="text-center mb-3">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-check-circle"
            viewBox="0 0 16 16">
            <path
              d="M8 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5.586l-3-3a.5.5 0 0 1 .707-.707L7 9.293l4.646-4.647a.5.5 0 0 1 .708.707l-5 5a.5.5 0 0 1-.708 0z" />
          </svg>
          <h4 class="mt-2">Thanh toán thành công</h4>
        </div>
      </div>
      <div class="modal-body1">
        <div class="modal-header d-flex justify-content-center align-items-center text-center">
          <h5 class="modal-title" id="paymentModalLabel">HÓA ĐƠN THANH TOÁN</h5>
        </div>
        <div class="mb-3">
          <label for="orderID" class="form-label">Mã hóa đơn: </label>
          <span id="orderID">{{ invoice?.invoiceId || 'N/A' }}</span>
        </div>

        <div class="mb-3">
          <label for="customerName" class="form-label">Tên khách hàng:</label>
          <span id="customerName">{{ invoice.consigneeName || 'Khách lẻ' }}</span>
        </div>
        <div class="mb-3" *ngIf="invoice.guestPhone">
          <label for="phoneNumber" class="form-label">Số điện thoại: </label>
          <span id="phoneNumber">{{ invoice.guestPhone }}</span>
        </div>


        <div class="mb-3">
          <label for="orderDate" class="form-label">Ngày đặt hàng:</label>
          <span id="orderDate">{{ invoice?.orderDate | dateFormat }}</span>
        </div>
        <div class="mb-3">
          <table id="items" class="table">
            <thead>
              <tr>
                <th scope="col">STT</th>
                <th scope="col">Tên món</th>
                <th scope="col">SL</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of invoice?.itemInvoice; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ item.itemName || item.nameCombo }}</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.price | currencyFormat }}</td>
                <td>{{ item.unitPrice | currencyFormat }}</td>

              </tr>
            </tbody>
          </table>
        </div>
        <div class="mb-3">
          <label for="totalOrder" class="form-label">Tiền hàng:</label>
          <span id="totalOrder">{{ invoice?.totalAmount | currencyFormat }}</span>
        </div>
        <div class="mb-3" *ngIf="invoice?.discountPercent && invoice.discountPercent > 0">
          <label for="discount" class="form-label">Khuyến mãi:</label>
          <span id="discount">
            {{ getDiscountAmount() | currencyFormat }} ({{ invoice?.discountPercent}}%)
          </span>
        </div>
        <hr>
        <div class="mb-3">
          <label for="totalAmount" class="form-label">Tổng tiền:</label>
          <span id="totalAmount">{{ invoice?.paymentAmount | currencyFormat }}</span>
        </div>
        <hr>
        <div class="mb-3" *ngIf="paymentMethod === '0'">
          <label for="amountToPay" class="form-label">Khách phải trả:</label>
          <span id="amountToPay">{{ invoice?.paymentAmount | currencyFormat }}</span>
        </div>
        <div class="mb-3" *ngIf="paymentMethod === '0'">
          <label for="customerPaid" class="form-label">Tiền khách đưa:</label>
          <span id="customerPaid">{{ invoice?.amountReceived | currencyFormat }}</span>
        </div>
        <div class="mb-3" *ngIf="paymentMethod === '0'">
          <label for="changeToGive" class="form-label">Trả lại:</label>
          <span id="changeToGive">{{ invoice?.returnAmount | currencyFormat }}</span>
        </div>

        <div class="mb-3" *ngIf="paymentMethod === '1'">
          <label for="qrCode" class="form-label"></label>
          <img id="qrCode" [src]="QRUrl" class="img-fluid">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearCart()">Đóng</button>
        <button type="button" class="btn btn-primary" (click)="printInvoice()">In hóa đơn</button>
      </div>
    </div>
  </div>
</div>