<div class="menu">
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <!-- <ion-icon name="grid-outline"></ion-icon>  -->
    </label>

    <label class="logo">FoodLover</label>

    <ul>
      <li><a routerLink="/" class="active">Home</a></li>
      <li><a routerLink="/news" routerLinkActive="äctive">News</a></li>
      <li><a routerLink="/menu" routerLinkActive="äctive">Menu</a></li>
      <li><a routerLink="/booking" routerLinkActive="äctive">Booking</a></li>
      <li><a routerLink="/cart" routerLinkActive="äctive">Cart</a></li>
    </ul>
  </nav>
</div>
