<app-HeaderOrderStaff></app-HeaderOrderStaff>
<div class="container">
  <main class="main-content">
    <div class="order-card card fixed-size">
      <div class="card-header">
        <button class="title-btn">Đơn giao hàng của tôi</button>
      </div>
      <div class="card-body">
        <h5 *ngIf="deliveryOrders.length > 0">Thông tin đơn giao hàng:</h5>
        <table class="order-table">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Tên người nhận</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ người nhận</th>
              <th>Thời gian dự kiến nhận hàng</th>
              <th>Tổng tiền phải thu</th>
              <th style="width: 254px;"></th>
            </tr>
          </thead>
          <tbody class="scrollable-tbody">
            <ng-container *ngFor="let order of deliveryOrders">
              <tr>
                <td>{{order.orderId}}</td>
                <td>{{order.consigneeName}}</td>
                <td>{{ order.guestPhone }}</td>
                <td>{{ order.guestAddress}}</td>
                <td>{{ order.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}</td>
                <td>{{ order.totalAmount - (order.totalAmount*order.discountPercent/100) - order.deposits | currencyFormat}}</td>
                <td>
                  <button class="action-button view-button" (click)="showDetails(order)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button class="action-button complete-button" (click)="completeOrder(order)">
                    Hoàn thành
                  </button>
                  <button class="action-button cancel-button" (click)="cancelOrder(order)">
                    Hủy đơn
                  </button>
                </td>

              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </main>
</div>

<!-- Popup for item details -->
<div *ngIf="selectedItem" class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="details-container">
      <h3>Đơn hàng: {{selectedItem.orderId}}</h3>
      <p>Loại đơn: {{ selectedItem.orderType === 1 ? "Mang về" : "Giao hàng" }}</p>
      <p>Tình trạng: {{selectedItem.status === 1 ? "Hoàn thành" : "Chưa hoàn thành"}}</p>
      <p>Tên người nhận: {{selectedItem.consigneeName}}</p>
      <p>Số điện thoại: {{selectedItem.guestPhone}}</p>
      <p>Địa chỉ: {{selectedItem.guestAddress}}</p>
      <p>Thời gian dự kiến nhận hàng: {{ selectedItem.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}</p>

      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Món ăn</th>
            <th>Số lượng</th>
            <th>Hoàn thành</th>
            <th>Tổng số tiền</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of selectedItem.itemInOrderDetails">
            <tr>
              <td>{{ item.nameCombo || item.itemName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.dishesServed }}</td>
              <td>{{ item.unitPrice | currencyFormat }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="summary-section mt-4">
        <div class="row">
          <!-- First Column -->
          <div class="col-md-6">
            <div class="d-flex justify-content-between" *ngIf="selectedItem.discountPercent">
              <span class="fw-bold" >Tạm tính:</span>
              <span>{{ selectedItem.totalAmount | currencyFormat }}</span>
            </div>
            <div *ngIf="selectedItem.discountPercent" class="d-flex justify-content-between">
              <span class="fw-bold">Giảm giá:</span>
              <span>{{ selectedItem.totalAmount*selectedItem.discountPercent/100 | currencyFormat }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <span class="fw-bold">Tổng cộng:</span>
              <span>{{ selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100) | currencyFormat }}</span>
            </div>
          </div>
          <!-- Row for the payment status badge -->
          <div class="col-md-6">
            <div class="col-md-6 offset-md-6 d-flex align-items-center justify-content-end">
              <div *ngIf="selectedItem.deposits > 0" class="badge bg-success">
                Đã thanh toán
              </div>
              <div *ngIf="selectedItem.deposits === 0" class="badge bg-danger">
                Chưa thanh toán
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
