<app-HeaderOrderStaff></app-HeaderOrderStaff>
<div class="container">
  <main class="main-content">
    <div class="order-card card fixed-size">
      <header>
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-text" for="dateFrom">Từ ngày</label>
            <input type="date" id="dateFrom" class="form-control" [(ngModel)]="dateFrom" [max]="dateNow"
              (change)="onDateFromChange()">
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group">
            <label class="input-group-text" for="dateTo">Đến ngày</label>
            <input type="date" id="dateTo" class="form-control" [(ngModel)]="dateTo" [max]="dateNow"
              (change)="onDateToChange()">
          </div>
        </div>
      </header>
      <hr>
      <div class="card-header">
        <!-- Section Titles -->
        <button class="title-btn" [class.active]="activeSection === 'undelivered'"
          (click)="setActiveSection('undelivered')">
          Đơn hàng chưa giao
        </button>

        <button class="title-btn" [class.active]="activeSection === 'delivered'"
          (click)="setActiveSection('delivered')">
          Đơn hàng đã giao
        </button>

        <button class="title-btn" [class.active]="activeSection === 'failed'" (click)="setActiveSection('failed')">
          Đơn hàng giao thất bại
        </button>
      </div>


      <!-- Section Content for Undelivered Orders -->
      <div class="card-body" *ngIf="activeSection === 'undelivered' && deliveryOrders?.length > 0">
        <h5>Thông tin đơn hàng chưa giao:</h5>
        <table class="order-table">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Tên người nhận</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ người nhận</th>
              <th>Thời gian dự kiến nhận hàng</th>
              <th>Tổng tiền phải thu</th>
              <th style="width: 254px;"></th>
            </tr>
          </thead>
          <tbody class="scrollable-tbody">
            <ng-container *ngFor="let order of deliveryOrders">
              <tr>
                <td>{{order.orderId}}</td>
                <td>{{order.consigneeName}}</td>
                <td>{{order.guestPhone}}</td>
                <td>{{order.guestAddress}}</td>
                <td>{{order.recevingOrder | date:'dd/MM/yyyy - HH:mm'}}</td>
                <td>{{ order.totalAmount - (order.totalAmount * order.discountPercent / 100) - order.deposits |
                  currencyFormat }}</td>
                <td>
                  <button class="action-button view-button" (click)="showDetails(order)">
                    <i class="fas fa-eye"></i>
                  </button>
                  <button class="action-button complete-button" data-bs-toggle="modal"
                    data-bs-target="#confirmationModal" (click)="getOrderShip(order)">
                    Hoàn thành
                  </button>
                  <button class="action-button cancel-button" data-bs-toggle="modal"
                    data-bs-target="#cancelConfirmationModal" (click)="getOrderShip(order)">
                    Hủy đơn
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!-- Delivered Orders Section -->
      <div class="card-body" *ngIf="activeSection === 'delivered' && completeOrderShip?.length > 0">
        <h5>Thông tin đơn hàng đã giao:</h5>
        <table class="order-table">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Tên người nhận</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ người nhận</th>
              <th>Thời gian nhận hàng</th>
              <th>Tổng tiền đã thu</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="scrollable-tbody">
            <ng-container *ngFor="let order of completeOrderShip">
              <tr>
                <td>{{order.orderId}}</td>
                <td>{{order.consigneeName}}</td>
                <td>{{order.guestPhone}}</td>
                <td>{{order.guestAddress}}</td>
                <td>{{order.recevingOrder | date:'dd/MM/yyyy - HH:mm'}}</td>
                <td>{{ order.totalAmount - (order.totalAmount * order.discountPercent / 100) - order.deposits |
                  currencyFormat }}</td>
                <td>
                  <button class="action-button view-button" (click)="showDetails(order)">
                    <i class="fas fa-eye"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table><br>
        <div class="total">
          <p>Số tiền phải nộp lại: <span>{{totalMoney() | currencyFormat}}</span></p>
        </div>
        <div class="total">
          <p>Số tiền đã nộp: <span>{{totalMoneys() | currencyFormat}}</span></p>
        </div>
      </div>

      <!-- Failed Orders Section -->
      <div class="card-body" *ngIf="activeSection === 'failed' && cancelOrderShip?.length > 0">
        <h5>Thông tin đơn hàng giao thất bại:</h5>
        <table class="order-table">
          <thead>
            <tr>
              <th>Mã đơn hàng</th>
              <th>Tên người nhận</th>
              <th>Số điện thoại</th>
              <th>Địa chỉ người nhận</th>
              <th>Thời gian hủy</th>
              <th>Lý do hủy</th>
              <th></th>
            </tr>
          </thead>
          <tbody class="scrollable-tbody">
            <ng-container *ngFor="let order of cancelOrderShip">
              <tr>
                <td>{{order.orderId}}</td>
                <td>{{order.consigneeName}}</td>
                <td>{{order.guestPhone}}</td>
                <td>{{order.guestAddress}}</td>
                <td>{{order.cancelDate | date:'dd/MM/yyyy - HH:mm'}}</td>
                <td>{{ order.cancelationReason }}</td>
                <td>
                  <button class="action-button view-button" (click)="showDetails(order)">
                    <i class="fas fa-eye"></i>
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>

      <!-- No Orders Message -->
      <div *ngIf="activeSection === 'undelivered' && deliveryOrders?.length === 0" class="no-orders-container">
        <i class="fas fa-box-open no-orders-icon"></i>
        <p class="no-orders-text">Không có đơn hàng chưa giao</p>
      </div>
      <div *ngIf="activeSection === 'delivered' && completeOrderShip?.length === 0" class="no-orders-container">
        <i class="fas fa-box-open no-orders-icon"></i>
        <p class="no-orders-text">Không có đơn hàng đã giao</p>
      </div>
      <div *ngIf="activeSection === 'failed' && cancelOrderShip?.length === 0" class="no-orders-container">
        <i class="fas fa-box-open no-orders-icon"></i>
        <p class="no-orders-text">Không có đơn hàng giao thất bại</p>
      </div>
    </div>
  </main>
</div>

<!-- Popup for item details -->
<div *ngIf="selectedItem" class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="details-container">
      <h3>Đơn hàng: {{selectedItem.orderId}}</h3>
      <p>Loại đơn: {{ selectedItem.orderType === 1 ? "Mang về" : "Giao hàng" }}</p>
      <p>Tình trạng:
        {{
        selectedItem.statusOrder === 4 ? "Hoàn thành" :
        selectedItem.statusOrder === 7 ? "Đang giao hàng" :
        selectedItem.statusOrder === 5 ? "Đã hủy" :
        "Chưa xác định"
        }}
      </p>

      <p>Tên người nhận: {{selectedItem.consigneeName}}</p>
      <p>Số điện thoại: {{selectedItem.guestPhone}}</p>
      <p>Địa chỉ: {{selectedItem.guestAddress}}</p>
      <p *ngIf="selectedItem.statusOrder===7">Thời gian dự kiến nhận hàng: {{ selectedItem.recevingOrder |
        date:'dd/MM/yyyy - HH:mm' }}</p>
      <p *ngIf="selectedItem.statusOrder===4">Thời gian nhận hàng: {{ selectedItem.recevingOrder | date:'dd/MM/yyyy -
        HH:mm' }}</p>
      <p *ngIf="selectedItem.statusOrder===5">Thời gian hủy đơn: {{ selectedItem.recevingOrder | date:'dd/MM/yyyy -
        HH:mm' }}</p>

      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Món ăn</th>
            <th>Số lượng</th>
            <th>Hoàn thành</th>
            <th>Tổng số tiền</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of selectedItem.itemInOrderDetails">
            <tr>
              <td>{{ item.nameCombo || item.itemName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.dishesServed }}</td>
              <td>{{ item.unitPrice | currencyFormat }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="summary-section mt-4">
        <div class="row">
          <!-- First Column -->
          <div class="col-md-6">
            <div class="d-flex justify-content-between" *ngIf="selectedItem.discountPercent">
              <span class="fw-bold">Tạm tính:</span>
              <span>{{ selectedItem.totalAmount | currencyFormat }}</span>
            </div>
            <div *ngIf="selectedItem.discountPercent" class="d-flex justify-content-between">
              <span class="fw-bold">Giảm giá:</span>
              <span>{{ selectedItem.totalAmount*selectedItem.discountPercent/100 | currencyFormat }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <span class="fw-bold">Tổng cộng:</span>
              <span>{{ selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100) |
                currencyFormat }}</span>
            </div>
          </div>
          <!-- Row for the payment status badge -->
          <div class="col-md-2"></div>
          <div class="col-md-3">
            <div class="col-md-6 offset-md-6 d-flex align-items-center justify-content-end">
              <div *ngIf="selectedItem.deposits > 0 && selectedItem.statusOrder!==5 " class="badge bg-success"
                style="font-size: 18px;">
                Đã thanh toán
              </div>
              <div *ngIf="selectedItem.deposits === 0 && selectedItem.statusOrder===7" class="badge bg-danger"
                style="font-size: 18px;">
                Chưa thanh toán
              </div>
              <div *ngIf="selectedItem.deposits === 0 && selectedItem.statusOrder===4" class="badge bg-success"
                style="font-size: 18px;">
                Đã thanh toán
              </div>
              <div *ngIf="selectedItem.statusOrder === 5" class="badge bg-danger" style="font-size: 18px;">
                Đã hủy đơn
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="confirmation-text">
          Bạn muốn hoàn thành đơn hàng của khách hàng <span
            class="customer-name">{{orderShipper?.consigneeName}}</span><br>
          Số điện thoại: <span class="customer-phone">{{orderShipper?.guestPhone}}</span><br>
          Số tiền: <span class="refund-amount">{{(orderShipper?.deposits === 0 ? orderShipper?.totalAmount :
            orderShipper?.discountedPrice)| currencyFormat}}</span>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceModal"
          (click)="completeOrder(orderShipper)">Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Cancel Confirmation Modal -->
<div class="modal fade" id="cancelConfirmationModal" tabindex="-1" aria-labelledby="cancelConfirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cancelConfirmationModalLabel">Xác nhận hủy đơn hàng</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="confirmation-text">
          Bạn có chắc chắn muốn hủy đơn hàng của khách hàng <span
            class="customer-name">{{orderShipper?.consigneeName}}</span>?<br>
          Số điện thoại: <span class="customer-phone">{{orderShipper?.guestPhone}}</span><br>
          Tổng số tiền: <span class="refund-amount">{{(orderShipper?.deposits === 0?orderShipper?.totalAmount :
            orderShipper?.discountedPrice)| currencyFormat}}</span>
        </p>
      </div>
      <!-- Thêm trường nhập lý do hủy -->
      <div class="form-group" style="padding: 10px;">
        <label for="cancelReason">Lý do hủy đơn hàng:</label>
        <textarea id="cancelReason" class="form-control" [(ngModel)]="cancelationReason" rows="3"
          placeholder="Nhập lý do hủy đơn hàng"></textarea>
      </div>
      <div *ngIf="errorMessage" class="alert alert-danger mt-2">
        {{errorMessage}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-danger" (click)="cancelOrder(orderShipper)">Xác nhận hủy</button>
      </div>
    </div>
  </div>
</div>
