<div class="container">
  <h1 class="text-center">Quản lý tài khoản</h1>
<br><br>
  <!-- Search bar -->
  <div class="row mb-3">
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="Tìm kiếm tài khoản..." style="width: 400px;" />
    </div>
    <div class="col-md-6 d-flex justify-content-end">
      <button class="btn btn-primary">Thêm tài khoản mới</button>
    </div>
  </div>

  <!-- Account table -->
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>STT</th>
          <th>Họ</th>
          <th>Tên</th>
          <th>Số điện thoại</th>
          <th>Địa chỉ</th>
          <th>Email</th>
          <th>Tên tài khoản</th>
          <th>Mật khẩu</th>
          <th>Chức năng</th>
          <th>Hoạt động</th>
          <th>##</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ account.firstName }}</td>
          <td>{{ account.lastName }}</td>
          <td>{{ account.phone }}</td>
          <td>{{ account.address }}</td>
          <td>{{ account.email }}</td>
          <td>{{ account.username }}</td>
          <td style="width: 200px;">
            <span>
              <input [type]="showPasswordMap[i] ? 'text' : 'password'" [value]="account.password"
                class="form-control form-control-sm d-inline-block" style="width: 150px;" readonly />
              <button type="button" class="btn btn-link p-0" (click)="togglePasswordVisibility(i)">
                <i [class]="showPasswordMap[i] ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
              </button>
            </span>
          </td>
          <td>{{ account.role }}</td>
          <td>
            <span [ngClass]="{'active-status': account.isActive, 'inactive-status': !account.isActive}">
              {{ account.isActive ? 'Đang hoạt động' : 'Không hoạt động' }}
            </span>
            <input
              type="checkbox"
              [checked]="account.isActive"
              (change)="toggleActiveStatus(account)"
              class="ml-2"
            />
          </td>

          <td>
            <button class="btn btn-warning btn-sm">
              Cập nhập
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="pagination" *ngIf="totalPages > 0">
    <button (click)="onPreviousPage()" [disabled]="currentPage === 1">
      <i class="fas fa-arrow-left"></i> <!-- Icon mũi tên trái -->
    </button>

    <input type="number" [(ngModel)]="currentPage" (keyup.enter)="goToDesiredPage()" min="1" max="{{ totalPages }}">

    <span>of {{ totalPages }}</span>

    <button (click)="onNextPage()" [disabled]="currentPage === totalPages">
      <i class="fas fa-arrow-right"></i> <!-- Icon mũi tên phải -->
    </button>
  </div>
</div>
