<nav class="nav bg-purple justify-content-between">
  <a class="nav-link text-white mr-auto" href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
  <a class="nav-link text-white ml-auto" (click)="logout()">Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a>
</nav>

<div class="container py-5">
  <div class="row justify-content-between">
    <div class="col-lg-12 p-5">
      <h1 class="display-6"> <i class="fa fa-chart-bar" aria-hidden="true"></i> Dashboard</h1>
      <hr />
    </div>
  </div>
  <div class="row justify-content-between">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">
      <a class="text-decoration-none"  routerLink="/tableManagement" routerLinkActive="äctive">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            <i class="fa fa-th-large fa-2x" aria-hidden="true"></i>
            <hr />
            <p class="card-title lead">Table</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">
      <a class="text-decoration-none" href="#">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i>
            <hr />
            <p class="card-title lead">Order's</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2 p-2">
      <a class="text-decoration-none" href="#" data-toggle="modal" data-target="#modelHELP">
        <div class="card p-3 shadow bg-purple text-center border-0">
          <div class="card-body">
            <i class="fa fa-motorcycle fa-2x" aria-hidden="true"></i>
            <hr />
            <p class="card-title lead">Ship</p>
          </div>
        </div>
      </a>
    </div>

  </div>
</div>
