<app-HeaderOrderStaff></app-HeaderOrderStaff>
<div class="container py-5">
  <div class="row mb-4">
    <div class="col-lg-12">
      <h1 class="display-4 text-center">
        <i class="fa fa-chart-bar" aria-hidden="true"></i> Quản lý
      </h1>
      <hr class="my-4"/>
    </div>
  </div>
  <br>
  <br>
  <div class="row text-center" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <a class="text-decoration-none" routerLink="/tableManagement" routerLinkActive="active">
        <div class="card border-0 shadow-sm bg-light d-flex flex-column h-100">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <i class="fa fa-th-large fa-3x text-primary"></i>
            <hr class="my-3"/>
            <p class="card-title lead mb-0">Đặt bàn</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 mb-4">
      <a class="text-decoration-none" routerLink="/invoice" routerLinkActive="active">
        <div class="card border-0 shadow-sm bg-light d-flex flex-column h-100">
          <div class="card-body d-flex flex-column justify-content-center align-items-center">
            <i class="fa fa-cart-plus fa-3x text-success"></i>
            <hr class="my-3"/>
            <p class="card-title lead mb-0">Đơn hàng</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
