<br>
<br>
<br>
<br>

<div class="card">
  <div class="row">
    <div class="col-md-8 cart">
      <div class="title">
        <div class="row">
          <div class="col">
            <h4><b>My Cart</b></h4>
          </div>
          <div class="col align-self-center text-right text-muted"></div>
        </div>
      </div>

      <div *ngIf="cartItems && cartItems.length > 0; else noItems">
        <div class="cart-items">
          <!-- Đây là vị trí của tiêu đề Quantity -->
          <div class="row">
            <div class="col-2"></div>
            <div class="col"></div>
            <div class="col">
              <h5><b>Quantity</b></h5>
            </div>
            <div class="col">
              <h5><b>Total Money</b></h5>
            </div>
          </div>
          <div class="row border-top border-bottom" *ngFor="let item of cartItems">
            <div class="row main align-items-center">
              <div class="col-2">
                <img class="img-fluid" [src]="item.imageUrl" alt="Item Image">
              </div>
              <div class="col">
                <div>{{ item.itemName }}</div>
              </div>
              <div class="col">
                <a (click)="decreaseQuantity(item)" class="icon">
                  <i class="fas fa-minus"></i>
                </a>
                <span>{{ item.quantity }}</span>
                <a (click)="increaseQuantity(item)" class="icon">
                  <i class="fas fa-plus"></i>
                </a>
              </div>

              <div class="col price-close" style="align-items:center;">
                <span class="price">&dollar; {{ getTotalPrice(item.itemName) }}</span>
                <span class="close" (click)="removeItem(item)">&#10005;</span>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="col-12 panel-footer basket-footer" *ngIf="cartItems && cartItems.length > 0; else no">
        <hr>
        <div class="row">
            <div class="col-8 align-right description"><div class="dive">Subtotal</div></div>
            <div class="col-4 align-right"><span class="emphasized"></span>&dollar; {{ getTotalCartPrice() }}</div>
        </div>
        <div class="row">
            <div class="col-8 align-right description"><div class="dive">Taxes</div></div>
            <div class="col-4 align-right"><span class="emphasized"></span>&dollar;{{ getTotalCartPrice() * 0.1 }}</div>
        </div>
        <div class="row">
            <div class="col-8 align-right description"><div class="dive">Shipping</div></div>
            <div class="col-4 align-right"><span class="emphasized"></span>&dollar; 5</div> <!-- You may replace '5' with the actual shipping cost variable -->
        </div>
        <hr>
        <div class="row">
            <div class="col-8 align-right description"><div class="dive">Total</div></div>
            <div class="col-4 align-right"><span class="very emphasized"></span>&dollar;{{ getTotalCartPrice() + (getTotalCartPrice() * 0.1) + 5 }}</div> <!-- Update the calculation accordingly -->
        </div>
    </div>


      <ng-template #noItems>
        <div class="empty-cart" style="text-align: center;">
          <p>Cart is empty</p>
        </div>
      </ng-template>


      <ng-template #no>
        <!-- Nội dung trống, không hiển thị gì cả -->
      </ng-template>
      <div class="back-to-shop">
        <a routerLink="/menu" routerLinkActive="äctive"><i class="fas fa-arrow-left"></i></a>
        <span class="text-muted">Go to menu</span>
      </div>
    </div>
    <div class="col-md-4 summary" *ngIf="cartItems && cartItems.length > 0; else no">
      <div>
        <h5><b>Order Information</b></h5>
      </div>
      <hr>
      <form>
        <div class="row">
          <div class="col-md-6">
            <p>Name</p>
            <input id="name" placeholder="Enter your name">
            <p>Delivery address</p>
            <input id="address" placeholder="Enter your address">
            <p>Phone</p>
            <input id="phone" placeholder="Enter your phone">
          </div>
          <div class="col-md-6">
            <p>Receiving Date</p>
            <input id="date" type="date" placeholder="Enter the date">
            <p>Receiving Time</p>
            <input id="time" placeholder="Enter your time">
            <p>Note</p>
            <textarea id="note" placeholder="Enter your note" rows="5" cols="23"></textarea>

          </div>
        </div>
        <div class="row">
          <div class="checkbox">
            <label for="invoice">Receiving Invoice</label>
            <input id="invoice" type="checkbox">
          </div>
        </div>
        <p>Phương thức thanh toán</p>
        <div class="filter-cell">
          <select class="form-control" >
            <option value="*">thanh toán khi nhận hàng</option>
            <option value="*">thanh toán trước</option>
          </select>
        </div>
      </form>

      <button class="btn">CHECKOUT</button>
    </div>
  </div>
