<div style="height: auto; margin-bottom: 10px;" *ngIf="orders.length > 0; else noOrdersTemplate">
  <div *ngIf="showTabs">
    <div class="detail">
      <p>Đơn mua hàng của bạn</p>
    </div>
    <div class="tab-buttons">
      <button (click)="showData('-1')" [class.active]="selectedTab === '-1'" style="width: 100px;">Tất cả</button>
      <button (click)="showData('1')" [class.active]="selectedTab === '1'" style="width: 140px;">Đợi xác nhận</button>
      <button (click)="showData('2')" [class.active]="selectedTab === '2'" style="width: 150px;">
        Đang chuẩn bị
      </button>
      <button (click)="showData('7')" [class.active]="selectedTab === '7'" style="width: 160px;">Đang giao hàng</button>
      <button (click)="showData('4')" [class.active]="selectedTab === '4'" style="width: 150px;">Hoàn thành</button>
      <button (click)="showData('5')" [class.active]="selectedTab === '5'" style="width: 100px;">Đã hủy</button>
    </div>

    <div class="tab-content">
      <div *ngFor="let order of filteredOrders" class="order-section card mb-3">
        <div class="card-body">
          <div class="order-header d-flex justify-content-between align-items-center mb-2">
            <div class="order-type mr-auto" style="color: black;border: 1px solid green;padding: 5px;">
              <!-- Thêm div này -->
              {{ order.type === 2 ? 'Đơn giao hàng':'Đơn đặt bàn'}} <!-- Hiển thị loại đơn hàng -->
            </div>
            <div class="order-status ml-auto">
              <span *ngIf="order.status === 4" style="color: teal;">HOÀN THÀNH</span>
              <span *ngIf="order.status === 1" style="color: orange;">ĐỢI XÁC NHẬN ĐƠN HÀNG</span>
              <span *ngIf="order.status === 7" style="color: green;">ĐANG GIAO HÀNG</span>
              <span *ngIf="order.status === 2" style="color: blue;">ĐÃ CHẤP NHẬN ĐƠN HÀNG</span>
              <span *ngIf="order.status === 6" style="color: brown;">ĐANG CHUẨN BỊ ĐƠN HÀNG</span>
              <span *ngIf="order.status === 5 || order.status === 8 " style="color: red;">ĐÃ HỦY</span>
            </div>
          </div>

          <div class="order-items">
            <div *ngFor="let item of order.orderDetails" class="row border-top border-bottom py-2"
              (click)="goToOrderDetail(order.orderId)" style="cursor: pointer;">
              <div class="col-2">
                <img class="img-fluid" [src]="item.imageUrl" alt="{{ item.dishName || item.comboName }} Image"
                  style="width: 100px;height: 100px;">
              </div>
              <div class="col-7" (click)="goToOrderDetail(order.orderId)">
                <div class="dish-name">{{ item.dishName || item.comboName }}</div>
                <div class="quantity">x{{ item.quantity }}</div>
              </div>
              <div class="col-3 text-right">
                <div class="price">{{ item.unitPrice | currencyFormat }}</div>
              </div>
            </div>
          </div>
          <div class="order-footer d-flex justify-content-end align-items-center mt-3">
            <div class="mr-3">
              <span class="total-price">Thành tiền: {{ order.totalAmountAfterDiscount | currencyFormat }}</span><br>
            </div>
            <div>
              <button class="btn btn-primary btn-sm" (click)="reorder(order.orderId)"
                *ngIf="order.status === 4 || order.status === 5">Mua Lại</button>
              <button class="btn btn-danger btn-sm" data-bs-target="#cancelOrderModal" data-bs-toggle="modal"
                (click)="choiceOrderCancel(order.orderId, order?.reservation?.reservationId)"
                *ngIf="(order.status === 1 || order.status === 2 || order.status === 6)&&order.isServed===false">Hủy
                đơn</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #noOrdersTemplate>
  <div class="no-orders-message">
    <div class="icon-container">
      <i class="fas fa-box-open no-orders-icon"></i> <!-- Thêm icon bằng Font Awesome -->
    </div>
    <p>Không có đơn hàng nào</p>
  </div>
</ng-template>


<!-- Cancel Order Confirmation Modal -->
<div class="modal fade" id="cancelOrderModal" tabindex="-1" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="cancelOrderModalLabel">Xác nhận hủy đơn</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
          style="background-color: white;"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <p>Bạn có chắc chắn muốn hủy đơn này không?</p>
        <div class="form-group">
          <label for="cancelationReason">Lý do hủy đơn:</label>
          <br><br>
          <div class="form-check">
            <input type="radio" id="reason1" name="cancelationReason" class="form-check-input"
              [(ngModel)]="cancelationReason" value="Không còn nhu cầu" />
            <label class="form-check-label" for="reason1"> Không còn nhu cầu</label>
          </div>
          <div class="form-check">
            <input type="radio" id="reason2" name="cancelationReason" class="form-check-input"
              [(ngModel)]="cancelationReason" value="Thông tin đơn hàng không chính xác" />
            <label class="form-check-label" for="reason2"> Thông tin đơn hàng không chính xác</label>
          </div>
          <div class="form-check">
            <input type="radio" id="reason3" name="cancelationReason" class="form-check-input"
              [(ngModel)]="cancelationReason" value="Muốn thay đổi sản phẩm trong đơn hàng" />
            <label class="form-check-label" for="reason3"> Muốn thay đổi sản phẩm trong đơn hàng </label>
          </div>
          <div class="form-check">
            <input type="radio" id="reason5" name="cancelationReason" class="form-check-input"
              [(ngModel)]="cancelationReason" value="Lý do khác" />
            <label class="form-check-label" for="reason5">Lý do khác</label>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
          Đóng
        </button>
        <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal" (click)="cancelOrder()">
          Xác nhận
        </button>
      </div>
    </div>
  </div>
</div>
