<div style="height: auto;margin-bottom: 10px;">
  <div *ngIf="showTabs">
    <div class="tab-buttons">
      <button (click)="showData('-1')" [class.active]="selectedTab === '-1'" style="width:160px;">Tất cả</button>
      <button (click)="showData('0')" [class.active]="selectedTab === '0'" style="width:160px;">Đợi xác nhận</button>
      <button (click)="showData('1')" [class.active]="selectedTab === '1'" style="width:160px;">Đang giao hàng</button>
      <button (click)="showData('3')" [class.active]="selectedTab === '3'" style="width:160px;">Hoàn thành</button>
      <button (click)="showData('4')" [class.active]="selectedTab === '4'" style="width:160px;">Đã hủy</button>
    </div>

    <div class="tab-content">
      <div *ngFor="let order of filteredOrders" class="order-section card mb-3">
        <div class="card-body">
          <div class="order-header d-flex justify-content-between align-items-center mb-2">
            <div class="order-status ml-auto">
              <span *ngIf="order.status === 3" class="text-success">TRẠNG THÁI ĐƠN HÀNG: HOÀN THÀNH</span>
              <span *ngIf="order.status === 0" style="color: rgb(69, 69, 18);">TRẠNG THÁI ĐƠN HÀNG: ĐỢI XÁC NHẬN</span>
              <span *ngIf="order.status === 1" style="color: blue;">TRẠNG THÁI ĐƠN HÀNG: ĐANG GIAO HÀNG</span>
              <span *ngIf="order.status === 4" class="text-danger">TRẠNG THÁI ĐƠN HÀNG: ĐÃ HỦY</span>
            </div>
          </div>

          <div class="info">
            <div class="row">
              <div class="col-4">
                <strong>Tên khách hàng:</strong> {{ order.consigneeName }}
              </div>
              <div class="col-4">
                <strong>Địa chỉ:</strong> {{ order.guestAddress }}
              </div>
              <div class="col-4">
                <strong>Số điện thoại:</strong> {{ order.guestPhone }}
              </div>
            </div>
          </div>

          <div class="order-items">
            <div *ngFor="let item of order.orderDetails" class="row border-top border-bottom py-2"
              (click)="goToOrderDetail(order.orderId)">
              <div class="col-2">
                <img class="img-fluid" [src]="item.imageUrl" alt="Item Image">
              </div>
              <div class="col-7" (click)="goToOrderDetail(order.orderId)">
                <div>{{ item.itemName || item.nameCombo }}</div>
                <div>x{{ item.quantity }}</div>
              </div>
              <div class="col-3 text-right">
                <div class="price">{{ item.unitPrice | currencyFormat}}</div>
              </div>
            </div>
          </div>

          <div class="order-footer d-flex justify-content-end align-items-center mt-3">
            <div class="mr-3">
              <span class="total-price">Thành tiền: {{ order.totalAmount | currencyFormat}}</span>
            </div>
            <div>
              <button class="btn btn-primary btn-sm" (click)="reorder(order.orderId)">Mua Lại</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
