<br>
<br>
<div class="signup-container">
  <form class="form-signup" (ngSubmit)="signup()">
    <h1 class="form-title">Đăng ký</h1>

    <!-- Username -->
    <label for="inputUsername" class="form-label">Tài khoản</label>
    <input type="text" [(ngModel)]="username" class="form-control form-input" name="username" placeholder="Tài khoản" required>
    
    <!-- Email -->
    <label for="inputEmail" class="form-label">Email</label>
    <input type="email" [(ngModel)]="email" class="form-control form-input" name="email" placeholder="Email" required>
    
    <!-- Password -->
    <label for="inputPassword" class="form-label">Mật khẩu</label>
    <input type="password" [(ngModel)]="password" class="form-control form-input" name="password" placeholder="Mật khẩu" required>
    
    <!-- Confirm Password -->
    <label for="inputConfirmPassword" class="form-label">Xác nhận mật khẩu</label>
    <input type="password" [(ngModel)]="confirmPassword" class="form-control form-input" name="confirmPassword" placeholder="Xác nhận mật khẩu" required>
    
    <!-- Error message if passwords do not match -->
    <div *ngIf="passwordError" class="alert alert-danger form-alert">
      {{ passwordError }}
    </div>
    
    <!-- Submit button -->
    <button class="btn btn-lg btn-primary btn-block form-button" type="submit">Đăng ký</button>

    <!-- Success message display -->
    <div *ngIf="successMessage" class="alert alert-success mt-3">
      {{ successMessage }}
    </div>

    <!-- Error message display -->
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </form>
  
  <button class="btn btn-light google-signup-btn" type="button" (click)="loginWithGoogle()">
    <img src="https://developers.google.com/identity/images/g-logo.png" alt="Google Logo" class="google-logo">
    Đăng ký với Google
  </button>
</div>
