<body>
  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <app-SidebarOrder></app-SidebarOrder>
      </nav>

      <!-- Main Content -->
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container mt-5">
          <h2 class="text-center mb-4">Đơn hàng tại quán bàn {{ tableId }}</h2>
          <button class="btn btn-primary mb-4" >In Hóa Đơn Tạm</button>
          <div *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
          </div>
          
          <div class="row">
            <!-- Left column for address and cart details -->
            <div class="col-md-6">
              <div class="input-group mb-3">
                <span class="input-group-text">Tên Khách:</span>
                <input type="text" class="form-control" [value]="selectedOrder?.guestName ? selectedOrder.guestName : 'Khách lẻ'" readonly>
              
                <span class="input-group-text">Điện Thoại:</span>
                <input type="text" class="form-control" [value]="selectedOrder?.guestPhone ? selectedOrder.guestPhone : '-------------'" readonly>
              </div>
              
              

              <!-- Selected Items Section -->
              <div class="cart-section mt-4">
                <h4>Thông tin</h4>
                <div *ngIf="selectedItems.length === 0" class="alert alert-info" role="alert">
                  Chưa có lựa chọn nào
                </div>
                <table class="table">
                  <thead>
                    <tr *ngIf="selectedItems.length > 0">
                      <th scope="col">Tên món</th>
                      <th scope="col">Số lượng</th>
                      <th scope="col">Hoàn thành</th>
                      <th scope="col">Giá món</th>
                      <th scope="col">Tổng</th>
                      <th scope="col"></th> <!-- Column for delete button -->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of selectedItems; let i = index">
                      <td>
                        <div class="d-flex align-items-center">
                          <img [src]="item.imageUrl" alt="Item image" class="img-thumbnail me-2" style="width: 70px; height: 50px;">
                          <p class="mb-0">{{ item.itemName || item.nameCombo }}</p>
                        </div>
                      </td>
                      <td>
                        <div class="d-flex align-items-center">
                          <button class="btn btn-outline-secondary btn-sm" (click)="decreaseQuantity(i)">-</button>
                          <!-- HTML -->
                          <input type="number"
                            class="form-control text-center small-input mx-2 no-spinners rounded-input disabled-input"
                            [(ngModel)]="item.quantity" (change)="validateQuantity(i)" min="1" max="100">

                          <button class="btn btn-outline-secondary btn-sm" (click)="increaseQuantity(i)">+</button>
                        </div>
                      </td>

                      
                      <td>
                        <div class="d-flex align-items-center">
                          <input type="number" class="form-control text-center small-input" [(ngModel)]="item.dishesServed">
                         
                        </div>
                      </td>
                      <td>
                        <div *ngIf="item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.discountedPrice | currencyFormat  }}</span>
                        </div>

                        <div *ngIf="!item.discountedPrice" class="d-flex align-items-center">
                          <span>{{ item.price | currencyFormat  }}</span>
                        </div>
                        
                      </td>
                      <td>{{ item.totalPrice | currencyFormat  }}</td>
                      <td>
                        <button class="btn btn-danger btn-sm" (click)="removeItem(i)">
                          <i class="fas fa-times"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div *ngIf="selectedItems.length > 0" class="mt-2">
                  <strong>Tạm tính:</strong>
                  {{ totalAmount | currencyFormat }}
                  <br>
                </div>

                
                <button class="btn btn-primary btn-sm" *ngIf="selectedItems.length > 0" data-bs-toggle="modal" data-bs-target="#discountModal">
                  <i class="fas fa-tags me-2"></i> <!-- Biểu tượng Font Awesome -->
                  Khuyến mãi
                </button>
                <div *ngIf="selectedDiscount" class="mt-2">
                  <strong>Giảm giá:</strong>
                  <span>{{ selectedDiscountName }} ({{ selectedDiscountPercent | percentage }})</span>
                </div>   
                <br>
                <hr>
                <div *ngIf="selectedItems.length > 0" class="mt-2">
                <strong>Tổng số tiền:</strong>
                <span *ngIf="selectedDiscount === null">
                  {{ totalAmount | currencyFormat }}
                </span>
                
                <span *ngIf="selectedDiscount !== null">
                  {{ totalAmountAfterDiscount | currencyFormat }}
                </span>
                </div>
                <div *ngIf="selectedItems.length > 0" class="d-grid gap-2">
                  <button class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#confirmModal" >
                    Lưu lại
                  </button>

                  <button class="btn btn-danger btn-lg" data-bs-toggle="modal" data-bs-target="#cancelModal">
                    Hủy
                  </button>
                </div>
                
              </div>
            </div>

            <!-- Xac nhan don -->
            <div #formModal class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Xác nhận đơn hàng</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Bạn có chắc chắn muốn lưu lại không?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="reloadPage()" >Không</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal"  (click)="updateOrderOffline(tableId)">Có</button>
                  </div>
                </div>
              </div>
            </div>
             <!-- Xac nhan huy don -->
             <div #formModal class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="cancelModalLabel">Xác nhận hủy</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    Bạn có chắc chắn muốn hủy đơn hàng này không?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"  data-bs-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-danger" (click)="cancelOrderForTable(tableId)">Hủy</button>
                  </div>
                </div>
              </div>
            </div>
                        <!-- Giam gia -->
                       <!-- Discount Modal -->
<div class="modal fade" #formModal id="discountModal" tabindex="-1" aria-labelledby="discountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="discountModalLabel">Chọn giảm giá</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul class="list-group">
          <li *ngFor="let discount of discounts" class="list-group-item list-group-item-action">
            <label class="d-flex align-items-center w-100 m-0" (click)="onItemClick(discount)">
              <input type="radio" name="selectedDiscount" [value]="discount.discountId"
                [checked]="discount.discountId === selectedDiscount" class="me-2" />
              <span *ngIf="discount.quantityLimit > 0 || discount.totalMoney > 0">
                {{ discount.discountName }} - {{ discount.discountPercent | percentage }}
                <span *ngIf="discount.totalMoney > 0">(Giảm giá theo tổng hóa đơn thanh toán {{ discount.totalMoney | currencyFormat }})</span>
                <span *ngIf="discount.quantityLimit > 0">(Số lượng có hạn {{ discount.quantityLimit }})</span>
              </span>
            </label>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="applyDiscount()">Áp dụng</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="clearSelectedDiscount()">Đóng</button>
      </div>
    </div>
  </div>
</div>
            <!-- Xac nhan thanh toan -->
  
            <!-- Right column for dishes and combos -->
            <div class="col-md-6">
              <div class="category-buttons">
                <button class="btn"
                        [class.btn-primary]="searchCategory !== 'Món chính'"
                        [class.btn-secondary]="searchCategory === 'Món chính'"
                        (click)="selectCategory('Món chính')">Món chính
                </button>
                <button class="btn"
                        [class.btn-primary]="searchCategory !== 'Món khai vị'"
                        [class.btn-secondary]="searchCategory === 'Món khai vị'"
                        (click)="selectCategory('Món khai vị')">Món khai vị
                </button>
                <button class="btn"
                        [class.btn-primary]="searchCategory !== 'Món tráng miệng'"
                        [class.btn-secondary]="searchCategory === 'Món tráng miệng'"
                        (click)="selectCategory('Món tráng miệng')">Món tráng miệng
                </button>
                <button class="btn"
                        [class.btn-primary]="searchCategory !== 'Đồ uống'"
                        [class.btn-secondary]="searchCategory === 'Đồ uống'"
                        (click)="selectCategory('Đồ uống')">Đồ uống
                </button>
                <button class="btn"
                        [class.btn-primary]="!showingCombos"
                        [class.btn-secondary]="showingCombos"
                        (click)="showCombos()">Combo
                </button>
              </div>
              <div class="search-bar mt-3">
                <input type="text" class="form-control" placeholder="Tìm kiếm món ăn..." [(ngModel)]="search" (input)="onSearch()">
              </div>
              
                <!-- Dishes Section -->
              <div class="dishes-section" *ngIf="showingDishes && dishes">
                <div class="row">
                  <ng-container *ngFor="let list of dishes">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let dish of list.items">
                      <div class="card h-100" (click)="addItem(dish)">
                        <div class="image-container">
                          <img class="card-img-top" [src]="dish.imageUrl" alt="Dish image">
                        </div>
                        <div class="card-body text-center">
                          <div class="dish-details">
                            <div class="dish-name">{{ dish.itemName }}</div>
                            <div *ngIf="dish.discountedPrice" class="dish-price">
                              <span class="text-decoration-line-through">{{ dish.price | currencyFormat  }}</span>
                              <br>
                              <span style="color: red">{{ dish.discountedPrice | currencyFormat  }}</span>
                            </div>
                            <div *ngIf="!dish.discountedPrice" class="dish-price">{{ dish.price | currencyFormat  }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
              <!-- Combos Section -->
              <div class="combos-section" *ngIf="showingCombos && combo">
                <div class="row">
                  <ng-container *ngFor="let list of combo">
                    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let cb of list.items">
                      <div class="card h-100" (click)="addItem(cb)">
                        <div class="image-container">
                          <img class="card-img-top" [src]="cb.imageUrl" alt="Combo image">
                        </div>
                        <div class="card-body text-center">
                          <div class="combo-details">
                            <div class="combo-name">{{ cb.nameCombo }}</div>
                            <div class="combo-price">{{ cb.price | currencyFormat  }}</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Modal -->
        <div #formModal class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Thông tin khách hàng</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form #form="ngForm" (ngSubmit)="createAddress()">
                  <div class="form-group">
                    <label for="customerNameForm">Tên khách hàng</label>
                    <input type="text" [(ngModel)]="newAddress.consigneeName" class="form-control" id="customerNameForm" placeholder="Nhập tên khách hàng" name="consigneeName" required>
                  </div>
                  <div class="form-group">
                    <label for="guestPhone">Số điện thoại</label>
                    <input type="tel" [(ngModel)]="newAddress.guestPhone" class="form-control" id="guestPhone" placeholder="Nhập số điện thoại" name="guestPhone" required>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  
  
  <!-- Template for cffff -->
  <div class="modal fade" id="cfpaymentModal" tabindex="-1" aria-labelledby="cfpaymentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <!-- Success message -->
        <div class="text-center mb-3">
          <div class="d-flex justify-content-center align-items-center flex-column">
            <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 16a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-1-5.586l-3-3a.5.5 0 0 1 .707-.707L7 9.293l4.646-4.647a.5.5 0 0 1 .708.707l-5 5a.5.5 0 0 1-.708 0z"/>
            </svg>
            <h4 class="mt-2">Tạo đơn hàng thành công</h4>
          </div>
        </div>
        <div class="modal-body">
          <div class="modal-header d-flex justify-content-center align-items-center text-center">
            <h5 class="modal-title" id="paymentModalLabel">HÓA ĐƠN THANH TOÁN</h5>
          </div>
          <div class="mb-3">
            <label for="orderID" class="form-label">Mã hóa đơn: </label>
            <span id="orderID">{{ invoice?.invoiceId || 'N/A' }}</span>
          </div>
          <div class="mb-3" *ngIf="invoice.isUpdated; else editTemplate">
            <label for="customerName" class="form-label">Tên khách hàng:</label>
            <span id="customerName">{{ invoice.consigneeName || 'Khách lẻ' }}</span>
          </div>
          <ng-template #editTemplate>
            <div class="mb-3">
              <label for="customerName" class="form-label">Tên khách hàng:</label>
              <input id="customerName" class="form-control" [(ngModel)]="invoice.consigneeName" placeholder="Khách lẻ" />
            </div>
            <div class="mb-3">
              <label for="phoneNumber" class="form-label">Số điện thoại: </label>
              <input id="phoneNumber" class="form-control" [(ngModel)]="invoice.guestPhone" placeholder="N/A" />
            </div>
          </ng-template>
          <div class="mb-3">
            <label for="orderDate" class="form-label">Ngày đặt hàng:</label>
            <span id="orderDate">{{ invoice?.orderDate | dateFormat }}</span>
          </div>
          <div class="mb-3">
            <table id="items" class="table">
              <thead>
                <tr>
                  <th scope="col">STT</th>
                  <th scope="col">Tên món</th>
                  <th scope="col">SL</th>
                  <th scope="col">Đơn giá</th>
                  <th scope="col">Thành tiền</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of invoice?.itemInvoice; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.itemName || item.nameCombo }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price | currencyFormat }}</td>
                  <td>{{ item.unitPrice | currencyFormat }}</td>
                  
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mb-3">
            <label for="totalOrder" class="form-label">Tiền hàng:</label>
            <span id="totalOrder">{{ invoice?.totalAmount | currencyFormat }}</span>
        </div>
        <div class="mb-3">
          <label for="discount" class="form-label">Khuyến mãi:</label>
          <span id="discount">
            {{ invoice?.discountName || '0' }} ({{ invoice?.discountPercent || '0' }}%)
          </span>
      </div>
      <hr>
      <div class="mb-3">
        <label for="totalAmount" class="form-label">Tổng tiền:</label>
        <span id="totalAmount">{{ invoice?.paymentAmount | currencyFormat }}</span>
    </div>
    <hr>
          <div class="mb-3">
            <label for="amountToPay" class="form-label">Khách phải trả:</label>
            <span id="amountToPay">{{ invoice?.paymentAmount | currencyFormat }}</span>
          </div>
          <div class="mb-3">
            <label for="customerPaid" class="form-label">Tiền khách đưa:</label>
            <span id="customerPaid">{{ invoice?.amountReceived | currencyFormat }}</span>
          </div>
          <div class="mb-3">
            <label for="changeToGive" class="form-label">Trả lại:</label>
            <span id="changeToGive">{{ invoice?.returnAmount | currencyFormat }}</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeAndRedirect()">Đóng</button>
          <button type="button" class="btn btn-primary" (click)="printInvoice()">In hóa đơn</button>
        </div>
      </div>
    </div>
  </div>
  
</body>
