.success-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 56vh; /* Adjust to ensure proper spacing from header and footer */
  padding: 20px;
  background-color: #f9f9f9;
}

.content-wrapper {
  text-align: center;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.success-icon, .failure-icon {
  font-size: 100px;
  margin-bottom: 20px;
}

.success-icon {
  color: #4caf50; /* Green color for success */
}

.failure-icon {
  color: #ff5252; /* Red color for failure */
}

h2 {
  color: #4caf50; /* Green color for success */
  margin-bottom: 15px;
}

.success-page h2.failure {
  color: #ff5252; /* Red color for failure */
}

p {
  margin-bottom: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-view-orders, .btn-home {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  background-color: #4caf50; /* Green color for buttons */
}

.btn-home {
  background-color: #ff5252; /* Red color for home button */
}

.btn-view-orders:hover, .btn-home:hover {
  opacity: 0.8;
}
