<div class="app">
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="app-body">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="padding: 12px;">
      <app-SidebarOrder></app-SidebarOrder>
    </nav>
    <div class="app-body-main-content">
      <section class="service-section">
        <a href="/dashboard" class="back-link">
          <i class="fas fa-arrow-left back-icon"></i>
        </a>
        <div class="app-header-navigation">
          <div class="tabs">
            <a (click)="selectTab('overview')" [class.active]="selectedTab === 'overview'" class="tab">Tổng quát</a>
            <a (click)="selectTab('paid')" [class.active]="selectedTab === 'paid'" class="tab">Đã thanh toán</a>
            <a (click)="selectTab('unpaid')" [class.active]="selectedTab === 'unpaid'" class="tab">Chưa thanh toán</a>
            <a (click)="selectTab('refund')" [class.active]="selectedTab === 'refund'" class="tab">Đơn hoàn tiền</a>
            <a (click)="selectTab('cash-on-delivery')" [class.active]="selectedTab === 'cash-on-delivery'"
              class="tab">Thu tiền giao hàng</a>
          </div>
        </div>
        <br><br>
        <div *ngIf="selectedTab === 'overview'" class="tiles">
          <article class="tile">
            <div class="tile-header">
              <i class="ph-lightning-light"></i>
              <h3>
                <span>Số đơn hoàn thành</span>
                <hr>
                <span>{{data.totalOrders}}</span>
              </h3>
            </div>
          </article>
          <article class="tile">
            <div class="tile-header">
              <i class="ph-fire-simple-light"></i>
              <h3>
                <span>Doanh thu</span>
                <hr>
                <span>{{data.totalRevenue | currencyFormat }}</span>
              </h3>
            </div>
          </article>
        </div>
        <section class="transfer-section" *ngIf="selectedTab === 'overview'" style="background-color: #ededed;;">
          <div class="transfer-section-header">
            <h2>Nhóm hàng bán ra</h2>
          </div>
          <br>
          <div class="transfers">
            <div class="transfer">
              <dl class="transfer-details">
                <div>
                  <dt>Tên</dt>
                  <dd>Món ăn</dd>
                </div>
                <div>
                  <dt>Số lượng</dt>
                  <dd>10</dd>
                </div>
                <div>
                  <dt>Doanh thu</dt>
                  <dd>800.000đ</dd>
                </div>
              </dl>
            </div>
          </div>
        </section>
        <section class="payment-section" *ngIf="selectedTab === 'overview'">
          <h2>Phương thức thanh toán</h2>
          <br>
          <div class="payments">
            <div class="payment">
              <div class="payment-details">
                <p>Tiền mặt</p>
                <div>
                  <span>{{data.revenueByPaymentMethod2 | currencyFormat }}</span>
                </div>
              </div>
            </div>
            <div class="payment">
              <div class="payment-details">
                <p>Chuyển khoản</p>
                <div>
                  <span>{{data.revenueByPaymentMethod1 | currencyFormat }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="payment-section-footer">
            <button class="save-button">
              Xuất file báo cáo
            </button>
          </div>
        </section>
        <div *ngIf="selectedTab === 'paid'" class="paid-content">
          <section class="payment-section" *ngIf="selectedTab === 'paid'">
            <h2>Phương thức thanh toán</h2>
            <br>
            <div class="payments">
              <div class="payment">
                <div class="payment-details">
                  <p>Tiền mặt</p>
                  <div>
                    <span>{{data.revenueByPaymentMethod2 | currencyFormat }}</span>
                  </div>
                </div>
              </div>
              <div class="payment">
                <div class="payment-details">
                  <p>Chuyển khoản</p>
                  <div>
                    <span>{{data.revenueByPaymentMethod1 | currencyFormat }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="payment-section-footer">
              <button class="save-button">
                Xuất file báo cáo
              </button>
            </div>
          </section>
        </div>
        <div *ngIf="selectedTab === 'unpaid'" class="unpaid-content">
        </div>
        <div *ngIf="selectedTab === 'refund'" class="refund-content">
        </div>
        <div *ngIf="selectedTab === 'cash-on-delivery'" class="cod-content">
          <section class="payment-section" *ngIf="selectedTab === 'cash-on-delivery'">
            <h2>Đơn hàng cần thu tiền của nhân viên giao hàng</h2>
            <br>
            <table class="order-table">
              <thead>
                <tr>
                  <th>Mã đơn hàng</th>
                  <th>Trạng thái đơn hàng</th>
                  <th>Tổng tiền phải thu</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="scrollable-tbody">
                <ng-container *ngFor="let order of orderShip">
                  <tr>
                    <td>{{order.orderId}}</td>
                    <td>{{ order.status === 4?'Hoàn thành':'Đã hủy'}}</td>
                    <td>{{ order.totalAmount - (order.totalAmount*order.discountPercent/100) | currencyFormat}}</td>
                    <td>
                      <button class="action-button view-button" >
                        <i class="fas fa-eye"></i>
                      </button>
                    </td>

                  </tr>
                </ng-container>
              </tbody>
            </table>
            <div class="payment-section-footer">
              <h2>Số tiền phải thu</h2>
            </div>
          </section>
        </div>
      </section>
    </div>


  </div>
</div>
