<div class="app">
  <app-HeaderOrderStaff></app-HeaderOrderStaff>
  <div class="app-body">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" style="padding: 12px;">
      <app-SidebarOrder></app-SidebarOrder>
    </nav>
    <div class="app-body-main-content">
      <section class="service-section">
        <a href="/dashboard" class="back-link">
          <i class="fas fa-arrow-left back-icon"></i>
        </a>
        <div class="app-header-navigation">
          <div class="tabs">
            <a (click)="selectTab('overview')" [class.active]="selectedTab === 'overview'" class="tab">Tổng quát</a>
            <a (click)="selectTab('refund')" [class.active]="selectedTab === 'refund'" class="tab">Đơn hoàn tiền</a>
            <a (click)="selectTab('cash-on-delivery')" [class.active]="selectedTab === 'cash-on-delivery'"
              class="tab">Thu tiền giao hàng</a>
          </div>
        </div>
        <br><br>
        <div *ngIf="selectedTab === 'overview'" class="overview-section">
          <div class="date-filters">
            <div class="date-filter" style="max-width: 250px;">
              <div class="input-group">
                <label class="input-group-text" for="dateFrom">Từ ngày</label>
                <input type="date" id="dateFrom" class="form-control" [(ngModel)]="dateFrom" [max]="dateTo"
                  (change)="onDateFromChange()">
              </div>
            </div>
            <div class="date-filter" style="max-width: 250px;">
              <div class="input-group">
                <label class="input-group-text" for="dateTo">Đến ngày</label>
                <input type="date" id="dateTo" class="form-control" [(ngModel)]="dateTo" [max]="dateNow"
                  (change)="onDateToChange()">
              </div>
            </div>
          </div>

          <div class="tiles">
            <article class="tile">
              <div class="tile-header">
                <i class="ph-lightning-light"></i>
                <h3>
                  <span>Số đơn hoàn thành</span>
                  <hr>
                  <span>{{data?.totalOrders}}</span>
                </h3>
              </div>
            </article>
            <article class="tile">
              <div class="tile-header">
                <i class="ph-fire-simple-light"></i>
                <h3>
                  <span>Doanh thu</span>
                  <hr>
                  <span>{{data?.totalRevenue | currencyFormat }}</span>
                </h3>
              </div>
            </article>
          </div>
        </div>

        <section class="payment-section" *ngIf="selectedTab === 'overview'">
          <h2>Phương thức thanh toán</h2>
          <br>
          <div class="row">
            <div class="col-md-3">
              <div class="payments">
                <div class="payment">
                  <div class="payment-details">
                    <p>Tiền mặt: ({{data?.orderCountByPaymentMethod0+data?.orderCountByPaymentMethod2}}) đơn</p>
                    <div>
                      <span>{{(data?.revenueByPaymentMethod0+data?.revenueByPaymentMethod2) | currencyFormat }} </span>
                    </div>
                  </div>
                </div>
                <div class="payment">
                  <div class="payment-details">
                    <p>Chuyển khoản: ({{data?.orderCountByPaymentMethod1}}) đơn</p>
                    <div>
                      <span>{{(data?.revenueByPaymentMethod1) | currencyFormat }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="payment-section-footer">
            <button class="save-button" (click)="exportData()">
              Xuất file báo cáo
            </button>
          </div>
        </section>

        <div *ngIf="selectedTab === 'refund'" class="refund-content">
          <section class="payment-section" *ngIf="selectedTab === 'refund'">
            <div>
              <button class="status-button" [ngClass]="{'active': selectedStatusFun === 'unrefun'}"
                (click)="filterOrdersByStatus('unrefun')" selected>
                Đơn hàng chưa hoàn tiền
              </button>
              <button class="status-button" [ngClass]="{'active': selectedStatusFun === 'refun'}"
                (click)="filterOrdersByStatus('refun')">
                Đơn hàng đã hoàn tiền
              </button>
            </div>

            <br>
            <table class="order-table">
              <thead>
                <tr>
                  <th>Mã đơn hàng</th>
                  <th>Tên khách hàng</th>
                  <th>Số điện thoại</th>
                  <th>Ngày đặt hàng</th>
                  <th>Trạng thái đơn hàng</th>
                  <th>Lý do hủy</th>
                  <th *ngIf="selectedStatusFun ==='unrefun'">Tổng tiền phải hoàn trả</th>
                  <th *ngIf="selectedStatusFun ==='refun'">Tổng tiền đã hoàn trả</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="scrollable-tbody">
                <ng-container *ngFor="let order of filteredOrders">
                  <tr>
                    <td>{{order.orderId}}</td>
                    <td>{{order.consigneeName}}</td>
                    <td>{{order.guestPhone}}</td>
                    <td>{{order.orderDate | date:'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{ order.status === 8?'Đã hoàn tiền':'Đã hủy'}}</td>
                    <td> {{order.cancelationReason}}</td>
                    <td>{{ (order.deposits > 0 ? order.deposits : order.totalAmount) | currencyFormat }}</td>
                    <td>
                      <button class="action-button view-button" (click)="showDetails(order.orderId)">
                        <i class="fas fa-eye"></i>
                      </button>
                      <button class="action-button complete-button" data-bs-toggle="modal"
                        data-bs-target="#confirmationModal" (click)="getOrderCancel(order)">
                        Xác nhận hoàn tiền
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
          </section>
        </div>

        <div *ngIf="selectedTab === 'cash-on-delivery'" class="cod-content">
          <section class="payment-section" *ngIf="selectedTab === 'cash-on-delivery'">
            <div class="header-section">
              <h2>Đơn giao hàng</h2>
              <select class="employee-select" [(ngModel)]="selectedEmployee" (change)="filterOrders()">
                <option value="">Tất cả nhân viên</option>
                <option *ngFor="let employee of employees" [value]="employee.accountId">
                  {{employee.firstName}} {{employee.lastName}}
                </option>
              </select>
            </div>
            <br>
            <div>
              <button class="status-button" [ngClass]="{'active': selectedStatus === 'unpaid'}"
                (click)="selectedStatus = 'unpaid'; filterOrders()" selected>
                Chưa thu tiền
              </button>
              <button class="status-button" [ngClass]="{'active': selectedStatus === 'paid'}"
                (click)="selectedStatus = 'paid'; filterOrders()">
                Đã thu tiền
              </button>
            </div>
            <!-- Kiểm tra xem có đơn hàng không -->
            <div *ngIf="filteredOrders.length === 0" class="no-orders-message">
              <p>Không có đơn hàng nào.</p>
            </div>


            <table class="order-table" *ngIf="filteredOrders.length > 0">
              <thead>
                <tr>
                  <th>Mã đơn hàng</th>
                  <th>Ngày giao hàng</th>
                  <th>Trạng thái đơn hàng</th>
                  <th>Tổng tiền phải thu</th>
                  <th>Thu của nhân viên</th>
                  <th *ngIf="selectedStatus === 'paid'">Người thu tiền</th>
                  <th *ngIf="selectedStatus === 'unpaid'"></th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="scrollable-tbody">
                <ng-container *ngFor="let order of filteredOrders">
                  <tr>
                    <td>{{order.orderId}}</td>
                    <td>{{order.recevingOrder | date:'dd/MM/yyyy '}}</td>
                    <td>{{ order.status === 4?'Hoàn thành':'Đang giao hàng'}}</td>
                    <td>{{ order.totalPaid | currencyFormat}}</td>
                    <td>
                      {{order.firstName}} {{order.lastName}}
                    </td>
                    <td *ngIf="order.paymentStatus===0">Chưa thanh toán cho thu ngân</td>
                    <td *ngIf="order.paymentStatus===1"> {{order.collectedFirstName}} {{order.collectedLastName}}</td>
                    <td *ngIf="order.paymentStatus===0">
                      <button class="action-button view-button" (click)="showDetails(order.orderId)">
                        <i class="fas fa-eye"></i>
                      </button>
                      <button class="action-button complete-button" data-bs-toggle="modal"
                        data-bs-target="#confirmationModal" (click)="getOrderShip(order)">
                        Thu tiền
                      </button>
                    </td>
                    <td *ngIf="order.paymentStatus===1">
                      <button class="action-button view-button" (click)="showDetails(order.orderId)">
                        <i class="fas fa-eye"></i>
                      </button>
                    </td>
                  </tr>
                </ng-container>
              </tbody>
            </table>
            <br>
            <div class="payment-section-footer" *ngIf="filteredOrders.length > 0 && selectedStatus === 'unpaid'">
              <h4>Số tiền phải thu: {{ totalAmountDue() | currencyFormat }}</h4>
              <button type="button" class="btn btn-primary" (click)="prepareCollectAllModal(); openModal()"
                *ngIf="selectedEmployee">
                Thu tất cả
              </button>
            </div>

          </section>
        </div>

      </section>
    </div>
  </div>
</div>



<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" *ngIf="selectedTab === 'refund'">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="confirmation-text">
          Xác nhận đã hoàn tiền cho khách hàng <span
            class="customer-name">{{orderCancelMoney?.consigneeName}}</span><br>
          Số điện thoại: <span class="customer-phone">{{orderCancelMoney?.guestPhone}}</span><br>
          Số tiền: <span class="refund-amount">{{orderCancelMoney?.deposits | currencyFormat}}</span>
        </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceModal"
          (click)="updateOrderStatus(orderCancelMoney.orderId)">Xác
          nhận</button>
      </div>
    </div>
  </div>

  <div class="modal-dialog" *ngIf="selectedTab === 'cash-on-delivery'">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Xác nhận</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="confirmation-text">
          Xác nhận thu tiền <span class="customer-name">{{orderShipper?.firstName}}{{orderShipper?.lastName}}</span><br>
          Số tiền: <span class="refund-amount">{{orderShipper?.totalPaid | currencyFormat}}</span>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#invoiceModal"
          (click)="update(orderShipper.orderId, orderShipper.totalPaid)">Xác
          nhận</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal Thu Tất Cả -->
<div #collectAllModal class="modal-total fade" tabindex="-1" aria-labelledby="collectAllModalLabel" aria-hidden="true">
  <div class="modal-dialog-total">
    <div class="modal-content-total">
      <div class="modal-header-total">
        <h5 class="modal-title-total" id="collectAllModalLabel">Xác nhận thu tất cả</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body-total">
        <p class="confirmation-text">
          Nhân viên giao hàng: <span class="employee-name">{{ selectedEmployeeName }}</span><br>
          Tổng số tiền phải thu: <span class="total-amount">{{ totalAmountDue() | currencyFormat }}</span>
        </p>
      </div>
      <div class="modal-footer-total">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Hủy</button>
        <button type="button" class="btn btn-primary" (click)="collectAllPayments()">Xác nhận</button>
      </div>
    </div>
  </div>
</div>

<!-- Popup for item details -->
<div *ngIf="selectedItem" class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="details-container">
      <h3>Đơn hàng: {{selectedItem.orderId}}</h3>
      <p *ngIf="selectedItem.type ===1">Loại đơn: Mang về</p>
      <p *ngIf="selectedItem.type ===2">Loại đơn: Giao hàng</p>
      <p *ngIf="selectedItem.type ===3">Loại đơn: Đặt bàn</p>
      <p>Tên người nhận: {{selectedItem.consigneeName}}</p>
      <p>Số điện thoại: {{selectedItem.guestPhone}}</p>
      <p>Địa chỉ: {{selectedItem.guestAddress}}</p>
      <p>Thời gian đặt hàng: {{ selectedItem.orderDate | date:'dd/MM/yyyy - HH:mm' }}</p>
      <p>Thời gian nhận hàng: {{ selectedItem.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}</p>

      <table class="table table-bordered table-hover">
        <thead class="table-light">
          <tr>
            <th>Món ăn</th>
            <th>Số lượng</th>
            <th>Hoàn thành</th>
            <th>Tổng số tiền</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let item of selectedItem.orderDetails">
            <tr>
              <td>{{ item.nameCombo || item.itemName }}</td>
              <td>{{ item.quantity }}</td>
              <td>{{ item.dishesServed }}</td>
              <td>{{ item.unitPrice | currencyFormat }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <div class="summary-section mt-4">
        <div class="row">
          <!-- First Column -->
          <div class="col-md-6">
            <div class="d-flex justify-content-between" *ngIf="selectedItem.discountPercent">
              <span class="fw-bold">Tạm tính:</span>
              <span>{{ selectedItem.totalAmount | currencyFormat }}</span>
            </div>
            <div *ngIf="selectedItem.discountPercent" class="d-flex justify-content-between">
              <span class="fw-bold">Giảm giá:</span>
              <span>{{ selectedItem.totalAmount*selectedItem.discountPercent/100 | currencyFormat }}</span>
            </div>
            <hr>
            <div class="d-flex justify-content-between">
              <span class="fw-bold">Tổng cộng:</span>
              <span>{{ selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100) |
                currencyFormat }}</span>
            </div>
            <div class="d-flex justify-content-between" *ngIf="selectedItem.type ===3">
              <span class="fw-bold">Đã trả trước:</span>
              <span>{{ (selectedItem.totalAmount - (selectedItem.totalAmount*selectedItem.discountPercent/100))/2 |
                currencyFormat }}</span>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
