<div class="footer" style=" margin-top: 150px;">
  <div class="container flex">
    <div class="footer-about">
      <h2>About</h2>
      <p>Quán ăn Eating House</p>
      <p>Địa chỉ: Khu công nghệ cao Hòa Lạc</p>
      <p>Hotline: 0393578176 - 0987654321</p>
      <p>Email: eatinghouse&#64;gmail.com</p>
    </div>

    <div class="footer-category">
      <h2>Trang chủ</h2>

      <ul>
        <li>Thực đơn</li>
        <li>Bài viết</li>
        <li>Đặt bàn</li>
        <li>Tra cứu đơn hàng</li>
      </ul>
    </div>

    <div class="quick-links">
      <h2>Liên kết nhanh</h2>

      <ul>
        <li>Thông tin</li>
        <li>Liên hệ</li>
      </ul>
    </div>

    <div class="get-in-touch">
      <!-- <h2>Get in touch</h2>
      <ul>
        <li>Account</li>
        <li>Support Center</li>
        <li>Feedback</li>
        <li>Suggession</li>
      </ul> -->
    </div>
  </div>
</div>
