<app-HeaderOrderStaff></app-HeaderOrderStaff>
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <app-SidebarAdmin></app-SidebarAdmin>
    </nav>

    <!-- Main Content -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Quản lý tài khoản</h1>
        <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11; right: 20px;">
          <div *ngIf="successMessage" class="alert alert-success" style="max-width: 300px;">{{ successMessage }}</div>
        </div>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Tìm kiếm tài khoản..." aria-label="Search"
              aria-describedby="button-addon2">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Tìm kiếm</button>
          </div>
          <div class="btn-group ms-2">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addAccountModal">Thêm
              tài khoản mới</button>
          </div>
        </div>
      </div>

      <!-- Account table -->
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Tên món ăn</th>
              <th>Mô tả</th>
              <th>Giá</th>
              <th>Hình ảnh</th>
              <th>Tên thể loại</th>
              <th>Trạng thái</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let list of dishes">
              <tr *ngFor="let dish of list.items">
                <td>{{ dish.itemName }}</td>
                <td>{{ dish.itemDescription }}</td>
                <td>{{ dish.price | currencyFormat }}</td>
                <td><img [src]="dish.imageUrl" [alt]="dish.itemName" *ngIf="dish.imageUrl" style="width: 200px; height: 200px; object-fit: cover;"></td>
                <td>{{ dish.categoryName }}</td>
                <td>
                  <input type="checkbox" (change)="onCheckboxChange($event, dish.dishId)" [checked]="dish.isActive">
                  <span [ngStyle]="{'color': dish.isActive ? 'green' : 'red'}">
                      {{ dish.isActive ? 'Đang hoạt động' : 'Không hoạt động' }}
                  </span>
              </td>                    
                <td>
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#updateDishModal" (click)="getDishById(dish.dishId)">Cập nhật</button>
                </td>
              </tr>
            </ng-container>
          </tbody>
          
        
        </table>
      </div>
    </main>
  </div>
</div>

<!-- Add Account Modal -->
<div class="modal fade" id="addAccountModal" tabindex="-1" aria-labelledby="addAccountModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addAccountModalLabel">Thêm tài khoản mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Your form for adding a new account here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary">Lưu thay đổi</button>
      </div>
    </div>
  </div>
</div>