<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Lover</title>
  </head>
  <body>
    <!-- Hero Section -->
    <div class="section flex" id="hero-section">
      <div class="text">
        <h1 class="primary">
          It's Not Just Food, <br />
          It's an <span>Experience</span>
        </h1>

        <p class="tertiary">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa,
          provident dolorum. Voluptatum ducimus minima quasi unde, voluptatibus
          soluta eligendi. Enim, architecto autem.
        </p>

        <a href="#menu" class="btn">Explore Menu</a>
      </div>
      <div class="visual">
        <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/home-banner.png" alt="" />
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- How It Works -->
    <div class="section" id="how-it-works">
      <h2 class="secondary">How It Works</h2>

      <div class="container flex">
        <div class="box">
          <h3>Easy Order</h3>
          <ion-icon name="timer-outline"></ion-icon>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            non?
          </p>
        </div>

        <div class="box active">
          <h3>Best Quality</h3>
          <ion-icon name="trophy-outline"></ion-icon>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            non?
          </p>
        </div>

        <div class="box">
          <h3>Fast Delivery</h3>
          <ion-icon name="checkmark-done-circle-outline"></ion-icon>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam,
            non?
          </p>
        </div>
      </div>
    </div>
    <!-- End How It Works -->

    <!-- About -->
    <div class="section" id="about">
      <div class="container flex">
        <div class="visual">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/about.png" alt="" />
        </div>
        <div class="text">
          <div class="secondary">About Our Restaurant</div>
          <h2 class="primary">150+</h2>

          <h3 class="tertiary">Our Delicious Food</h3>

          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia
            itaque saepe id hic rem doloribus quas esse voluptatibus eius sequi,
            possimus maxime dolores tempore facilis fugit porro mollitia, est
            consequuntur.
          </p>

          <a href="#menu" class="btn">Explore Menu</a>
        </div>
      </div>
    </div>
    <!-- End About -->



    <!-- Testimonial -->
    <div class="section" id="testimonial">
      <div class="container flex">
        <div class="text">
          <h2 class="secondary">What people say about FoodLover</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore,
            eos voluptatem odio, molestias ullam error dolor rem laboriosam illo
            quae odit aliquam sint a amet, autem natus! Praesentium, ipsam
            mollitia?
          </p>

          <div class="user flex">
            <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/client.jpg" alt="" />

            <div class="name">
              <div class="title">John Smith</div>
              <div class="location">Lahore, Pakistan</div>
            </div>
          </div>
        </div>
        <div class="visual">
          <img src="https://raw.githubusercontent.com/programmercloud/foodlover/main/img/testimonial.png" alt="" />
        </div>
      </div>
    </div>
    <!-- End Testimonial -->

    <!-- FAQ -->
    <div class="section" id="faq">
      <h2 class="secondary">Frequently Asked Questions</h2>

      <div class="faq">
        <details>
          <summary>I got wrong food what shoud I do?</summary>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores amet sunt at?
            </p>
          </div>
        </details>

        <details>
          <summary>I got wrong food what shoud I do?</summary>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores amet sunt at?
            </p>
          </div>
        </details>

        <details>
          <summary>I got wrong food what shoud I do?</summary>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores amet sunt at?
            </p>
          </div>
        </details>

        <details>
          <summary>I got wrong food what shoud I do?</summary>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores amet sunt at?
            </p>
          </div>
        </details>
      </div>
    </div>
    <!-- End FAQ -->


    <!-- Ion Icons Js -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"
    ></script>
    <script
      nomodule
      src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"
    ></script>
  </body>
</html>
