<div class="container">
  <main class="main-content">
    <div class="container">
      <div class="card fixed-size">
        <div class="title">
          <button (click)="onButtonClick('dineIn')" [class.selected]="isSelected('dineIn')">Phục vụ tại chỗ</button>
          <button (click)="onButtonClick('takeAway')" [class.selected]="isSelected('takeAway')">Phục vụ mang về</button>
        </div>
        <br>
        <div class="card-body">
          <!-- Content for dineIn -->
          <div *ngIf="selectedButton === 'dineIn'">
            <!-- Upper Section -->
            <div class="upper-section">
              <table *ngIf="filteredOrders.length > 0; else noContent">
                <thead>
                  <tr>
                    <th></th>
                    <th>Tên món</th>
                    <th>Số lượng hoàn thành</th>
                  </tr>
                </thead>
                <tbody class="scrollable-tbody">
                  <ng-container *ngFor="let order of filteredOrders">
                    <tr>
                      <td>
                        <input type="checkbox" (change)="onCheckboxChange(order, $event)"
                          [checked]="order === selectedOrder">
                      </td>
                      <td>{{ order.itemNameOrComboName }}</td>
                      <td>{{ order.dishesServed }}</td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
              <ng-template #noContent>
                <div>Không có món ăn hoàn thành</div>
              </ng-template>
            </div>

            <!-- Lower Section -->
            <div class="lower-section" *ngIf="orderDish">
              <hr><br>
              <h5>Danh sách bàn cần lên món:</h5>
              <br>
              <div class="grid-container">
                <div *ngFor="let dish of orderDish; let i = index" class="grid-item">
                  <div class="dish-info">
                    <p>Bàn {{ dish.tableId }} - {{ getOrderTimeHoursMinutes(dish.orderTime) }}</p>
                    <p>Số lượng yêu cầu: {{ dish.quantityRequired }}</p>
                    <div class="quantity-container">
                      <p>Phục vụ</p>
                      <input
                        type="number"
                        min="1"
                        [attr.max]="dish.quantityRequired"
                        [(ngModel)]="quantitiesServed[i]"
                        (keypress)="preventNonNumericalInput($event)"
                        (input)="validateInput($event, i, dish.quantityRequired)">
                    </div>
                    <button
                      [disabled]="!isInputValid[i]"
                      (click)="updateDishesServed(dish.orderDetailId, dish.itemName || dish.comboName)">
                      Lên món
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <!-- Content for takeAway -->
          <div *ngIf="selectedButton === 'takeAway'">
            <h5 *ngIf="!ordersTakeaway">Thông tin đơn mang về và đơn giao hàng:</h5>
            <div class="lower-section" *ngIf="ordersTakeaway">
              <div class="grid-container">
                <div *ngFor="let order of ordersTakeaway; let i = index" class="grid-item">
                  <div class="dish-info" (click)="showDetails(order)">
                    <p>Đơn {{order.orderId}} - {{ order.orderType === 1 ? "Mang về" : "Giao hàng" }}</p>
                    <p>Tình trạng: {{order.status === 1 ? "Hoàn thành" : "Chưa hoàn thành"}}</p>
                    <button *ngIf="order.status === 1" (click)="handleButtonClick(order); $event.stopPropagation()">
                      {{ order.orderType === 1 ? "Trả đơn" : "Chuyển qua ship" }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>

<!-- Popup for item details -->
<div *ngIf="selectedItem" class="popup" (click)="closePopup()">
  <div class="popup-content" (click)="$event.stopPropagation()">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="details-container">
      <h3>Đơn hàng: {{selectedItem.orderId}}</h3>
      <p>Loại đơn: {{ selectedItem.orderType === 1 ? "Mang về" : "Giao hàng" }}</p>
      <p>Tình trạng: {{selectedItem.status === 1 ? "Hoàn thành" : "Chưa hoàn thành"}}</p>
      <p>Thời gian dự kiến nhận hàng: {{ selectedItem.recevingOrder | date:'dd/MM/yyyy - HH:mm' }}</p>
      <div *ngFor="let item of selectedItem.itemInOrderDetails" class="info-container">
        <div class="item-details">
          <h4>{{ item.nameCombo || item.itemName }}</h4>
          <p>Số lượng: {{ item.quantity }}</p>
          <p>Đã hoàn thành: {{ item.dishesServed }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

